<center>
<div style="width: 500px;">
<div align="justify">
<div align="center"><meta charset="utf-8" />
<p style="color: rgb(0, 0, 0); font-family: Arial, Verdana,
sans-serif; font-size: 12px; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-indent: 0px; text-transform: none; white-space:
normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; text-decoration-style:
initial; text-decoration-color: initial; text-align:
justify;">I <i><a href=".ark2right.lamc.la">wander</a></i> loudly if there&#39;s any etymological relationship between the words &quot;<i>annuit</i>&quot; (an <i>knew</i> it) and &quot;<i>eloheinu</i>;&quot; (el, <i>oh he knew; </i>hein<font color="#666666">o</font>us, I <i>see</i> too) in just a few moments I&#39;ll find out what those words actually mean as opposed to their Adamic definition(s)... which are quite similar; throwing in<span>&nbsp;</span><a href="./CURSOR.html">the &quot;s<em>hehe</em>keyanu&#39;s&quot; ...<span>&nbsp;</span></a><em><a href="./CURSOR.html">the key</a><span>&nbsp;</span>is, I knew.</em>&nbsp; But <i>what do I know</i>?</p>
<p style="color: rgb(0, 0, 0); font-family: Arial, Verdana,
sans-serif; font-size: 12px; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-indent: 0px; text-transform: none; white-space:
normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; text-decoration-style:
initial; text-decoration-color: initial; text-align:
justify;">It seems one means &quot;favor our undertakings&quot; and the other &quot;our God&quot; ... it seems to connect to the meaning of Emmanuel Goldstein&#39;s first name--<i>God is with us</i>.&nbsp; I remember a passage (I thought was in Psalms) that read something along the lines of El Elyon will dwell among you in Beth-El (which by the way is the &quot;<a href=".ww.youtube.com/watch?v=hRXb7K7k7bQ">land of the Rising Son</a>&quot; aka <i>House of God</i>), in darkness; but all I can seem to find now is 1 Kings 8:12 which appears to relate to ... this ... sentence.&nbsp;</p>
<p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 12px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; text-align: center;"><img alt="" height="250" id="ORCORC" sr./i.imgur.com/3uIBSAO.png" width="500" /></p>
<div align="center"><font size="+3"><font size="-1">They remembered that El Shaddai was their Rock,<br />
&nbsp; and that God Most High, El Elyon, their Redeemer.<br />
<br />
Psalm 78:35<br />
<br />
<img alt="" height="94" sr./i.imgur.com/MmTaYax.png" width="365" /></font></font></div>
<br />
<font size="+3"><font size="-1"><img alt="THESE
ARE THE GENERATIONS OF SUEZ" height="82" sr./i.imgur.com/frVLe8L.png" width="207" /></font></font><br />
<font size="+3"><img alt="COUCH FRIDAY DOOR" height="91" sr./i.imgur.com/m65aPON.png" width="359" /></font><font size="+3"><font size="-1"> </font></font><br />
<font size="+3"><a href="./2017-07-18-911-pm-honestly-are-you-in-eden-im-adam.html"><img alt="ET Y M OSO
C A TOAY. MOSCOW. HYPOXUS. TODAY." border="0" height="75" sr./i.imgur.com/m4BaOEF.png" width="199" /></a> </font></div>
<div align="center">&nbsp;</div>
<div align="justify"><font size="-1"><font face="Courier New,
Courier, monospace" size="-2"><b><a href="./SIGNAL.html">SIGNAL</a> v. <a href=".inoize.s.lamc.la">NOIZE</a></b></font>, it takes not a linguistic savant to see that the intelligent message woven across languages and throughout the entirety of our civilization from the &quot;<a href="./FIRST.html"><i>fulc</i><i>ire</i></a>&quot; of Latin and the Hebrew word for fate, &quot;<a href="./RATOXIT.html"><i>kismet</i></a>&quot; ... that the level of thought and the breadth of influence that has gone into weaving this message is without doubt or <i> controversy</i> tacit proof of the actual Creation of our civilization.&nbsp; Staring at every single one of us, every day; a message from God comparable to SETI receiving a &quot;tagged commentary&quot; on every single thing and every aspect of our world, lives and future.</font><br />
<br />
<font size="-1"><meta charset="utf-8" /> </font>
<div align="center"><a href=".eck.reallyhim.com"><font size="-1"><img alt="MICROSOFT, SWALLOWS, AND JOHN HANCOCK" border="0" height="175" sr./i.imgur.com/1vbh1SF.png" width="132" /></font></a><a href=".oyager.jpl.nasa.gov/golden-record/"><font size="-1"><img alt="GOLDEN RECORD" border="0" height="177" sr./i.imgur.com/tBl7GXi.png" width="192" /></font></a></div>
<br />
<font size="-1"><b><font face="Courier New, Courier, monospace" size="-2">D</font></b><font face="Courier New, Courier, monospace" size="-2"><b>ON</b>&#39;T SHOOT</font><b><font face="Courier New, Courier,
monospace" size="-2"> THE MES</font></b><font face="Courier New, Courier, monospace" size="-2">SENGER</font><b><font face="Courier New, Courier, monospace" size="-2">(S)</font></b>, it appears that in one single action the whole of the message urges each and every one of us to scream at <i>the top</i> of our &quot;lungs&quot; to acknowledge and discuss it&#39;s existence... and forcing shut our mouths with a combination of fear, or anger ... enticement and shame ... with just enough to ensure we have reached the end of the darkness with these next words &quot;finale first,&quot; written through a process of Revelation strikingly similar to the quickening of Highlander and the de-Pinocc<b>hio</b>zation of Johnny <b>5</b> as seen and reflected through the Eyes of Ra or Horus or ... the Aegis of Perseus ... well, without doubt in the sometimes dripp<a href=".ww.youtube.com/watch?v=BQpZv2r8fb4" title="M I SS I ASS I PP Y">y</a> <a href=".ammer.s.lamc.la">pen</a> of <i>Arthor</i> ... in H<a href="..s.lamc.la">eb</a>r<a href="./WISDATAM.html">ew</a> ... <i>the hand</i>, the Yad of God.<br />
<br />
I suppose in the land of people who have become Holodecks it&#39;s worth mentioning once again that I am something of a living pen, with a message I never saw growing up appearing like lightning striking Herod, though if you had a pen that could choose between the words &quot;fold&quot; and &quot;to join together two halves&quot; in that old &quot;what&#39;s the fastest possible way to connect two points?&quot; ...&nbsp; <a href=".ww.youtube.com/watch?v=XkU23m6yX04">QCP, I expected</a> this message to be less verbose than it&#39;s turning out; but that last time I had a real interaction with God he connected for me the idea of the Heavens looking into this box and seeing &quot;the Indian in the Cupboard&quot; which I still take as &quot;seeing God in me&quot; even if it&#39;s a doll that only comes to life at night... in the place where here all of these patterns and this grand message certainly should be looking like something much closer to Kal-El or He-Man or ... at least <i>some</i><i>thing </i>you might want to ... <i>talk</i> <i>to.</i></font></div>
<div align="center"><font size="+3"><a href=".inale.s.lamc.la"><img alt="F IN AL E" border="0" height="150" sr./i.imgur.com/GV1TWGI.png" width="500" /></a></font><font size="+3"><a href=".ir.s.lamc.la"><img alt="FIRST AND
FEDERAL." border="0" height="61" sr./i.imgur.com/w6uceZs.png" width="423" /></a></font></div>
<br />
&quot;<a href=".ww.youtube.com/watch?v=jFg_8u87zT0"><font face="Courier New, Courier, monospace" size="-1">YO, U FOUND ME</font></a>&quot; on the corner of First AND <i>Amistad</i>; the Lord of Hosts sings through the voice of a band called the Fray; which must mean something like the edges of the Tapestry of the Matrix ... in a sort of Bittersweet Symphony of Nero, yet another tie to Shakespeare and fiddling on the roof to start a fire here in this place, to kindle the Eternal Flame of freedom in the torch of Lady Liberty and connect it to the fire of Prometheus ... here where the mechanism behind the delivery of this message shows us pretty clearly how technology and freedom appear to be blurred behind hidden communication and secrecy.&nbsp; Most important of all in this message, I think is the tie between the liberation of the slave ship Amistad (of course, those init<b>ial</b>s, too) and the three letters &quot;ark&quot; missing from &quot;<i>hi d den</i>&quot; in this place that I&#39;m sure is something like Eden.&nbsp;&nbsp; In links to &quot;da let&#39;s&quot; and the idiomatic mapmaker&#39;s key we can see &quot;let freedom ring&quot; and &quot;let there be light&quot; and &quot;let the music set you free&quot; all coalesce around the idea that not discussing this message woven in names of people and bands and places and in the music--well that&#39;s the thick darkness--and as soon as we begin talking about it we&#39;ll see how that leads us directly to this very same technology helping to make us smarter and happier and more free... free from things like school shootings and from batshit insane, and from not having a real vote because &quot;no free speech&quot; or &quot;no free will&quot; or &quot;no free thought&quot; or ... no ability to discuss how those things are inextricably tied to ... the final plague of Exodus.<br />
<br />
<meta charset="utf-8" /> <a href=".rrr.s.lamc.la"><img alt="WHEN thE
SILENCE CAUSES VIOLENCE" border="0" height="337" sr./i.imgur.com/e7C05Nn.png" width="500" /></a><br />
<br />
Not every song is about me; but <i>that one</i>--Carly Simon&#39;s certainly really is, Odin&#39;s eye in Perseus&#39; shield and some more clarity on how Icarus and carpenter relate to McCarthy and macaroni; and we&#39;re off to the races to see just how much of the music and the symphony is very clearly designed to relate to you all what God&#39;s will is when it comes to &quot;<a href="./WHO.html">what</a> we <a href="./OCADSWAY.html">should do</a>&quot; and it&#39;s pretty clear f<a href=".tb.s.lamc.la">rom Bread and Cake and Gene Roddenberry&#39;s name</a> that <i>ending hunger</i> is high on the list, along wi<a href=".rrr.s.lamc.la">th ending murder and putting roses</a> not just at Blink-182&#39;s stairway but also in the barrel of Live&#39;s gun and also Guns and Roses; and of course the Doors--congealing around this message tying the sunken city at the Straits of Gibraltar to Groom Lake and to IDE&#39;s and rides ... and <a href=".hy.lamc.la">to Amy Adams and Rachel McAdams</a> too--and the idea that separating the &quot;Holy C&quot; from &quot;him&quot; in the letter &quot;d&quot; and the word &quot;disclose&quot; are etched into the primary Greek letter that once contained my initials in its center ... before &quot;AMC theaters&quot; being <i>heated </i>by the &quot;light of angels&quot; or the light above or the light around; really whatever you&#39;d prefer to call it.<br />
<br />
It&#39;s a <i>LAMDA</i>, of course; and <a href=".slam.lamc.la">in the vein</a> of Genesis 22:7 I don&#39;t think it&#39;s very &quot;lame&quot; to mention that right between that word and the unseen &quot;lamb&quot; (I have seen the <a href="./HASHEMB.html"> Wilder</a> in<a href=".tb.s.lamc.la">correct s</a>pelling of the letter, by the way) is the key to connecting the game Half-Life&#39;s revolutionary wall paintings of that orange symbol to the Subway wall graffiti of Emmanuel Goldstein in 1984 and&nbsp; also to <a href=".xbb.s.lamc.la">linking David and Eos</a> and seeing something like video conferencing built in to those <a href=".od.s.lamc.la">magical Doors</a> from day one of Amos 9:11&#39;s &quot;breach repairs.&quot; <font face="Courier New, Courier, monospace" size="-1"><a href=".eynes.lamc.la">DA VIDEOS</a></font>, from <a href=".ww.youtube.com/watch?v=ONRTzWy26Ko">Captain EO</a>&#39;s 4D flick to <a href=".enesis.lamc.la">Radioactive</a> and <a href=".ign.lamc.la">F-ck&#39;d Up World</a> the one <a href=".ame.lamc.la">with &quot;the n&quot; of Ha&#39;n</a> Solo on a billboard and God on a bus... and the most recent &quot;<a href=".ign.s.lamc.la">sign.s</a>&quot; that&#39;s probably the worst of the one&#39;s I put together, still reassuring myself that something much better will actually play on the sky or on the Doors or ... well, judging by the views on Youtube I hope there&#39;s more interest than <i>the almost none of you</i> who watched my <a href=".lmost.lamc.la">Almost Famous</a> &quot;idea.&quot;<br />
&nbsp;
<div align="center"><img alt="" height="255" sr./i.imgur.com/skzrt5I.png" width="174" /><img alt="" height="255" sr./i.imgur.com/HxkEvFP.png" width="247" /></div>
&nbsp;

<div align="center"><a href="./OCADSWAY.html"><img alt='THE HILT,
HELLO THE STRONG "T" OF XCALIBRENTWOOD' border="0" height="193" sr./i.imgur.com/IiMpLyy.png" width="490" /></a></div>
<br />
I suppose I should <a href=".ww.youtube.com/channel/UC4RVVTQNHxbUlDgeWj_45Tw/playlists">mention the list</a> of Eye of NBC&#39;s Chuck theme intersected music videos and songs and specifically &quot;<a href=".ark2right.lamc.la"><b>dark2right</b></a>&quot; that I see in the heart of the city I was born in, Fort Lau<b>der</b>dale and in Federal, where we can see it&#39;s very clearly &quot;not red&quot; ... though it does m<a href=".iscoming.lamc.la">ake an appearan</a>ce in Dave Matthews&#39; &quot;why won&#39;t you <a href=".o.ve.lamc.la">run into <i>rain</i> and play</a>; it <i>me</i><i><b>lt</b></i><i>s</i> into <i>wonder</i>&quot; as does the &quot;hilt&quot; of ... <i>hisword</i>.&nbsp;<br />
<br />
<meta charset="utf-8" /> <a href=".ai.s.lamc.la"><img alt="THATS GREAT IT
STARTS WITH AN EARTHQUAKE" border="0" height="185" sr./i.imgur.com/qh0hbcQ.png" width="500" /></a><br />
<br />
SHAKESPEARE, RATTLE ROD, AND ROCK N&rsquo; ROLL.&nbsp; It&rsquo;s the music we&rsquo;ve grown up with and loved, the words we&rsquo;ve heard on the radio since the beginning of time&mdash;the symphonic &ldquo;this machine kills fascism&quot; and brings together the words of <i>We Built This City&#39;s </i>&quot;listen to the radio&quot; and Radioactive and the idea that the city that is defined by <i>Auden</i> and <a href="./RATOXIT.html"><b> audacity</b></a> and probably with <a href="./HASHEMB.html"><i>au</i><b>thor</b><i>ity</i></a> someone connected to Imagine Dragon&#39;s <i>Thunder </i>and <a href=".ylife.s.lamc.la">an old story about an MMer</a>&nbsp; called &quot;<b><i>DMD</i></b>&quot; on AOL a <a href=".ammer.s.lamc.la">single list of Ha words</a> that would probably very easily be used to statistically prove intelligent design--if that were something that anyone was interested in discovering the <i>reasons for proving</i>.

<center>
<blockquote solid="" style="width: 385px; margin: 20px 0; padding: 0
20px; color: #333; background-color: #f2f7f9; border-top:
0.1em solid #e1edf1;">
<div align="center"><br />
<font face="Courier New, Courier, monospace"><b>M Y L I F E . S . L A M C . L A&nbsp; \o/</b></font></div>
<div align="justify">Briefly adding to that story, while at CURA I wrote a fairly apropos piece of software to translate between ancient IBM U2<font size="-2"><sub>1</sub></font> data and a much newer and more adkanced Microsoft SQL relational system; and with anachronistic insight named it &quot;<b><i>hieroglyph</i></b>.&quot;&nbsp; Today I connect that piece of automagical translation software to the heart of the defined acronym &quot;ORM&quot; in the word storm; and also ... for calrity, add that in the &quot;s:&quot; definition style the question &quot;TORM&quot; may suggest that the <i> secord</i> &quot;T&quot; (or perhaps <i>the first</i>) of &quot;TAT&quot; is equivalent to the beginning of THE &quot;M.&quot; &nbsp;<br />
<br />
<meta charset="utf-8" />
<div align="center"><a href=".ww.docdroid.net/x6wJfqC/time-and-chance-rlny-by-adam-marshall-dobrin.pdf"><img alt="THE
KISS OF J-RB-BOCA" border="0" height="87" sr./i.imgur.com/7lhqbxB.png" width="215" /></a><br />
<a href=".ww.prlog.org/12642309-great-sign-appeared-in-revelation-121-the-sign-of-sagittarius-in-the-word-christ-and-on-taylor.html"><img alt="A GREAT
SIGN APPEARED KEYED TO REVELATION 12:1 AND THE
WANDERING MORNING STAR" border="0" height="165" sr./i.imgur.com/Q5OW7fz.png" width="210" /></a></div>
<br />
I began to solidify my definition of &quot;TAT&quot; while in Los Angeles, a sort of fusion of &quot;turn around t&#39;s&quot; and the tattoo&#39;s that I see clearly as the key to the seal of the House of David in Psalms 22:22--the set of two tattoo&#39;s that grace Taylor&#39;s back in the Venusian &quot;<i>stone</i>&quot; realigning from &quot;SUS to SURAN&quot; from south to northeast; and the &quot;eye of Adam&quot; which is a clear corruption of the eyes of Ra/Horus changing the &quot;tear&quot; in the image to a grouping of stars similar to those depicted by the NASA logo.&nbsp;&nbsp; It&#39;s the &quot;TAT&quot; I see clearly defined in the name of my actual city of birth, Plantation--where I combine it with &quot;salutations&quot; and the word &quot;shoulder&quot; to comment clearly that it is with surety that the Eye and it&#39;s magic are responsible for the connection between Plantation and shoulder in the phrase &quot;plan to tattoo eye on shoulder,&quot; just as much as I can be sure it is the magic of the Eye that adds &quot;h&quot; to the <i>plan</i> of the word &quot;planet&quot; and connects it to the symbol &quot;eth&quot; in <b><i><font face="Courier New,
Courier, monospace">Au<span style="color: rgb(34,
34, 34); font-size: 16px; font-style: normal;
font-variant-ligatures: normal;
font-variant-caps: normal; font-weight: 400;
letter-spacing: normal; text-align: left;
text-indent: 0px; text-transform: none;
white-space: normal; word-spacing: 0px;
-webkit-text-stroke-width: 0px;
background-color: rgb(255, 255, 255);
text-decoration-style: initial;
text-decoration-color: initial; display: inline
! important; float: none;">&eth;</span>umbla</font></i></b> .</div>
<meta charset="utf-8" /></blockquote>
</center>
<div align="center"><a href="./MIDAS.html"><font size="-2"><i><span style="color: rgb(0, 0, 0);
font-family: Times; font-size: medium; font-style:
normal; font-variant-ligatures: normal;
font-variant-caps: normal; font-weight: 400;
letter-spacing: normal; orphans: 2; text-align:
start; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color:
rgb(255, 255, 255); text-decoration-style: initial;
text-decoration-color: initial; display: inline
!important; float: none;"><img alt="TIRE
MANIA, IT'S GOLD" border="0" height="144" sr./i.imgur.com/srVX7kT.png" width="385" /></span></i></font></a>
<div style="width:385px; line-spacing: 1.35x;">&nbsp;
<div align="left"><font size="-1">In Breughel&#39;s Icarus, for instance: how everything turns away</font><br />
<font size="-1">Quite leisurely from the disaster; the ploughman may</font><br />
<font size="-1">Have heard the splash, the forsaken cry,</font><br />
<font size="-1">But for him it was not an important failure; the sun shone</font><br />
<font size="-1">As it had to on the white legs disappearing into the green</font><br />
<font size="-1">Water, and the expensive delicate ship that must have seen</font><br />
<font size="-1">Something amazing, a boy falling out of the sky,</font><br />
<font size="-1">Had somewhere to get to and sailed calmly on.</font></div>
&nbsp;

<div align="right"><i><font size="-1">W.H. Auden</font></i></div>
</div>
</div>
<meta charset="utf-8" /> <meta charset="utf-8" />
<p style="text-align: center;"><img alt="" height="195" sr./i.imgur.com/Mo2B3zR.png" width="400" /></p>
<p><meta charset="utf-8" /><meta charset="utf-8" />Chief among those, of course, the idea that simulating hurricanes and earthquakes is just slightly more idiotic than simulating Antarctic temperatures ... you know, <i>in your house</i>; and it&#39;s at least a whole order of magnitude more foolish not to be discussing a very clear message suggesting that our house is in virtual reality, in Heaven--and that there&#39;s a plan here, to use that knowledge ... most importantly to overcome whatever it is that is keeping us from discussing something this big and this obvious and this important ... anywhere I can see.<br />
<br />
<meta charset="utf-8" /></p>
<div align="center"><meta charset="utf-8" /><meta charset="utf-8" /><a href="./SINGLEPTO.html"><img alt="EMBLEM" border="0" height="302" sr./i.imgur.com/yxShWfa.png" width="500" /></a></div>
<font face="Courier New, Courier, monospace" size="-1"><a href="./archive.aweber.com/awlist4296878/HVtOq/h/From_Har_wer_I_am_an_open.htm">HAR-WE</a>R <a href=".ois.s.lamc.la">SOIS THE KE</a><a href="./OCADSWAY.html">Y</a></font><a href=".TB.S.LAMC.LA">,</a> in a phrase or two, &ldquo;I know that if I am, then so are we&rdquo; ... for instance if this message is the end of Hell it&#39;s because you took action today and worked towards that goal. It&rsquo;s almost comikal to see things the other way, but as the Leaning Tower of Pisa clues us in and the Eiffel concurs in a sort of monumental census; in my heart of hearts I know that the answer to this Thursday&rsquo;s final quest of &hellip; what is the true Holy &ldquo;s&rdquo; &hellip; it&rsquo;s that plurality of Gods made from SOL; from seeing our light, and being the &ldquo;how&rdquo; that answer the &ldquo;why and&rdquo; of planet, how Heaven is built in a day.&nbsp;<br />
<br />
The Holy &ldquo;Ha&rdquo; of revolving around the rising &ldquo;r&rdquo; bouncing off the trampoline cocked state of the Matrix&rsquo;s 21 Jump Street &hellip; Piloting us to end cancer and world hunger and AIDS all at once, a flagship sort of conception of how exactly it is that the music (and the flicks!) will truly make us be.&nbsp; It&rsquo;s the &ldquo;R&rdquo; that might mean &ldquo;are&rdquo; in a sois the &ldquo;es&rdquo; of Hades &hellip; is immortal .. or is divine &hellip; or it might mean &ldquo;our&rdquo; as in our home and our heart are one; and the whole thing rests on the natural reflexive response to one key piece of &ldquo;hidden information&rdquo; &hellip; the word tower means &ldquo;to who&rdquo; and the power comes from the words &ldquo;we are&rdquo; <a href="./YAT.html">reflecting on the &ldquo;I</a> AM&rdquo; of Exodus as the obvious &ldquo;original intent.&rdquo;&nbsp;<br />
<br />
Climbing the Tower of Babel, taking this hidden cypher and my difficult to grapple words &hellip; the key to the building of Heaven is seeing the idea of Silicon at the beginning of both silence and sight, and really understanding that the message we have and the desire of our hearts scream in a kind of disparate unison that &hellip;<br />
<br />
<meta charset="utf-8" /> <a href=".ai.s.lamc.la"><img alt="FUKUSHIMAGATE" border="0" height="331" sr./i.imgur.com/gbGgAES.png" width="500" /></a><br />
&nbsp;<br />
WE ARE NOT CONTENT with the state of the world, we are not happy living in a delusion, and the global response &hellip; or complete lack of actual discussion or acknowledgement of a message that will conclusively prove that we are living in the Matrix&mdash;the intent of it&rsquo;s existence, the Matrix; to give AIDS to our entire civilization, aids of nomenclature to help us see that nobody in their right mind would simulate disease and natural disaster in virtual reality&hellip; that it&rsquo;s really the heart of everyone, by design, to be the builders of Heaven.&nbsp; Or, maybe I should take my own advice and speak for myself&mdash;I am resolved, staring at the original lie and the scandal embedded in the word <i>HAMSTERDAM</i>, I am resolved that the the heart of Creation matches my own&mdash;that pain and disease should never be &ldquo;simulated&rdquo; and that continuing spinning that particular hamster&rsquo;s wheel is a heinous act.&nbsp;<br />
<br />
<meta charset="utf-8" /> <a href=".oxo.s.lamc.la"><img alt="RHEADAMGATE" border="0" height="296" sr./i.imgur.com/JuUY4CP.png" width="500" /></a><br />
<br />
The &ldquo;<a href=".ve.s.lamc.la">to who</a>&rdquo; of the Tower of Power is obviously intended to answer the question raised by the Hebrew bad word for Kingdom, &ldquo;MAL, WHO TO?&rdquo; and it really should be clear that the answer inherently goes to those participating in self governance&mdash;something that appears to be absolutely ignored unilaterally here in this place.&nbsp; At least to me, it appears that there is a huge body of people aware of the lack of liberty and true democracy being presented to the world and doing absolutely not a thing to try and make that situation any better.

<center>
<blockquote solid="" style="width: 385px; margin: 20px 0; padding: 0
20px; color: #333; background-color: #f2f7f9; border-top:
0.1em solid #e1edf1;"><font size="-1"><img alt="SECRET SEAL OF URINASHOE" height="164" sr./i.imgur.com/xmtKloE.png" width="164" /><img alt="MENISCUS" height="156" sr./i.imgur.com/xmtKloE.png" width="200" /></font>
<div align="justify"><br />
Probably somewhere in this vicinity I should point out the idea that perhaps our colloquial use of the word &quot;gate&quot; to refer to scandals (a la, not &quot;c&#39;ing Seagate&quot;) might also be interestingly related to &quot;dams&quot; like Amsterdam, Hamsterdam and Adam--and we might even see how these two things might connect for the Holy Sea(s) through the idea that perhaps gates and dams might relate to the idea ... of <i>locks</i>.&nbsp; There was some interesting commentary over the last few weeks related to airlocks and perhaps how they might function as a kind of safety layer allowing for more simple and safe traversal of gates or dams--I expect to delve into some more of the ideas related to <a href=".ars.reallyhim.com">Mars colonization</a> and it&#39;s relationship to &quot;Marshall&quot; and to the significant trajectory discrepancy between the signs of Uranus and Mars, caused by uh; a dot, the Secret Seal of King Solomon... or a <a href=".i.ve.lamc.la">rum</a>?</div>
</blockquote>
</center>
<meta charset="utf-8" /> <meta charset="utf-8" /> <a href=".ORN.S.LAMC.LA"><img alt="MA DEAR SIS,
HOW BEAU TI FUL ARRR UR HORNS" border="0" height="369" sr./i.imgur.com/A37QBkP.png" width="500" /></a><br />
<br />
So it&rsquo;s this hallowed letter &ldquo;s&rdquo; that connects &ldquo;<i>a<a href="./OCADSWAY.html"><b>wes</b></a>ome</i>&rdquo; to &ldquo;<i><a href=".ir.s.lamc.la"><b>mes</b></a>siah</i>&rdquo; at the idea of sort of playing a real live &ldquo;<a href="./WISDATAM.html">wheel of fortune</a>&rdquo; game where the letters are players; completing the intent of the words they are trying to start speaking.&nbsp;<br />
<br />
<meta charset="utf-8" />
<div align="center"><a href="./WISDATAM.html"><img alt="" height="217" sr./i.imgur.com/HIVY7Ra.png" width="278" /></a></div>
<br />
I see it is that &ldquo;s&rdquo; that completes one of the most humorous names of God IVE found to date; &ldquo;I<font size="-2"> </font>u<font size="-2"> </font>pp<font size="-2"><sub>0</sub> </font>it<font size="-2"> </font>er <i>Omnipotens</i>&rdquo; &hellip; and that completing lying in at a single focal point in time, at a single person and a single artificial wave as it grows and the desires and needs of the Children of Creation are met, it becomes the beginning of the word &ldquo;<i>salvation</i>.&rdquo;<br />
<br />
<meta charset="utf-8" /> <a href=".ox.reallyhim.com"><img alt="REALLY HI M DOT
COM" border="0" height="670" sr./i.imgur.com/uW35AUB.png" width="500" /></a><br />
<br />
Together we stand and united we fail; at least united in ambivalence or in the toxic belief that just because things have been a certain way for a length of time; a day or a year or five millennium&hellip; that doesn&rsquo;t mean that change isn&rsquo;t warranted, or demanded&mdash;that new information, new circumstances, and new abilities shouldn&rsquo;t be used and tried as quickly as humanly possible.&nbsp;<br />
<br />
<meta charset="utf-8" /> <a href=".dioha.s.lamc.la"><img alt='LET&squot;S TRY
"SO, WE&squot;RE ALL ADAM?" ASA KEY NYT IMES
HEDLINE&nbsp; ...&nbsp;gEFT OF THE MACARONIÌ' border="0" height="239" sr./i.imgur.com/tY6SDjb.jpg" width="500" /></a><br />
<br />
So this spear&#39;s been rattled and shaken by Thanos and by Apocalypse to no end; the idea that we are sitting in the heart of Creation gazing at it&#39;s true purpose; to use the ascension from reality or simulated reality to a &quot;loving caring place called home&quot; that is the path to Heaven and the answer to the &quot;and how&quot; of Adamah and &quot;Planeth&quot; when we finally start getting down to what the heart of the plan really is, and in only two words it is the &quot;and how&quot; that unites &quot;eth&quot; and &quot;AH&quot; with us--answering with finality at least the &quot;why and&quot; of planet--it&#39;s all the people saying &quot;me too, I&#39;m going to help, also.&quot; With clarity and examples like Janet and Bet, for instance; following the pattern of the word itself answering the question or finishing the sentence it&#39;s encoded with, that&#39;s the heart&#39;s desire of the whole of Heart.&nbsp; It is to help us see we are &quot;how Heaven is built&quot; and see to there is a plan etched by us and through us everywhere we look, here on Earth.&nbsp; So one more time, for more clarity ... can&#39;t hurt.<br />
<br />
<meta charset="utf-8" />
<div align="center"><img alt="" height="212" sr./i.imgur.com/lZVXre3.png" width="283" /><br />
<br />
<font size="-2">the &quot;eth&quot; of &quot;maveth&quot; and &quot;Beth&quot; ... a part of the &quot;and how&quot; series</font></div>
<p><meta charset="utf-8" /><meta charset="utf-8" /><meta charset="utf-8" /><meta charset="utf-8" /><meta charset="utf-8" /><meta charset="utf-8" /><meta charset="utf-8" /><meta charset="utf-8" /><meta charset="utf-8" /><meta charset="utf-8" /><meta charset="utf-8" /><meta charset="utf-8" /><br />
It starts by seeing the idea of the questions of &quot;are I this letter, or that letter (or every letter after &quot;da&quot; and maybe &quot;ma&quot; too)&quot; connecting the end of simulated reality and the word Matrix and connecting that &quot;X&quot; to the Kiss of Judas (and <a href="./MIDAS.html"><i>Midas</i></a>) and the Kiss <a href=".ww.docdroid.net/x6wJfqC/time-and-chance-rlny-by-adam-marshall-dobrin.pdf#page=2">of J<i>acob</i></a> and the eponymous band and it&#39;s lead singer&#39;s names&#39; link to the idea of &quot;simulation&quot; and of the Last Biblical Monday and of a hallowed &quot;s&quot; that we&#39;ll get to later.&nbsp;&nbsp; Gene Simmons, one of the Gene&#39;s of Genesis which reveals the hidden power of the &quot;sun&quot; linking to Silicon and to the Fifth Element through the indexed letter of 14; also to Christopher Columbus &quot;walking on water&quot; in the year ADIB and to a whole host of fictional characters that tie together the number 5 with this Revelation that Prince Adam&#39;s letter &quot;He&quot; indexes as 5 just like Voltron&#39;s &quot;V&quot; and 21 Pilot&#39;s <i>flashlight </i>in the song &quot;Cancer&quot; and in a normal functional society these kinds of synchronistic connections would be call and cause for attention and for news--and here they act to shine a light on the darkness... something like &quot;it&#39;s been shaken to death, but still ... no real comment;&quot; at least that&#39;s <i>really</i> what I see.&nbsp;</p>
<p><meta charset="utf-8" /><meta charset="utf-8" /><meta charset="utf-8" /><meta charset="utf-8" /><meta charset="utf-8" /><meta charset="utf-8" /><meta charset="utf-8" /><meta charset="utf-8" /><meta charset="utf-8" /><meta charset="utf-8" /><meta charset="utf-8" /><meta charset="utf-8" /><br />
<meta charset="utf-8" /><a href="./SINGLEPTO.html"><img alt="HI fiVe these
AIDS of the book of NAMES will help you be the CURE for
CANCER too" border="0" height="139" sr./i.imgur.com/AfL4xbS.png" width="500" /></a><br />
<br />
So the tie to the Matrix (read as &quot;message, at are I ten, the heart of hearts, the home of the FLUX capacitor ... and the LAX airport ... and <i>the kiss</i> come to life&quot;) comes to reality in the key state of Tennessee which links the Roman numeral X to the heart of Nintendo and the acronym for Nintendo Entertainment System to the heart of Genesis.&nbsp; To really add some &quot;<a href="./FUCK.html"><b>zing</b></a>&quot; to the message the meaning of Nintendo--which I and most people probably never knew--is &quot;leave luck to Heaven&quot; and the idea that the name of the SEGA System is just a &quot;<i>fad</i>&quot; gets a little less murky when you see those same initials &quot;A.D.&quot; in that word and even less fogged out when you see the Ancient of Days is telling you it&#39;s taken AGES to see SEGA backwards linking to the Rock of Ages.... I mean to see it on the news, throughout the Rock of Ages and throughout all of Creation where we all really know in our heart of hearts it belongs.<br />
<br />
<meta charset="utf-8" /> <a href=".oxo.s.lamc.la"><img alt="ARE I KISSY
KISSY ME ALONE?" border="0" height="256" sr./i.imgur.com/UKvD65r.png" width="500" /></a><br />
<br />
Seeing XP and the Greek letters Chi and Rho tying to the city of Cairo and <a href=".essert.s.lamc.la">the dessert</a> of Exodus and the city of Kissimmee St. Cloud and the &quot;kiss P&quot; hidden away in &quot;<a href=".on.reallyhim.com">dop</a>amine&quot; ... and then the pattern strengthens with Mac OS X and with Windows 10 and at some point we&#39;ve really got to acknowledge what it means to be &quot;clearly not random&quot; and that means intelligence, a message from a significant intelligence.&nbsp; Really understanding the message; that we&#39;re in a place designed to help us see the light of Silicon cure disease and end pain ... and ensure these things are never &quot;simulated&quot; ever again... that&#39;s beginning to see <a href="./RESWOH.html">why &quot;ICS&quot; connects to Y</a> H<a href="./CLEARYBLVD.html">OL and</a> is at the heart of Isaac&#39;<a href="./SINGLEPTO.html">s &quot;AA s</a>ea.&quot;<br />
<br />
This message sits in the fulcrum of th<a href="./CURSOR.html">at Matrix Jump</a>, at the lowest possible point imaginable&mdash;and unimaginable to me it appears to be a designed bottom, just like it is a direct statement to see &ldquo;ARE I (<i><b>IN</b></i>) THE HEART OF CREATION&rdquo; in <a href=".ix.s.lamc.la">the three letters RIX</a> and in in the directrix embodied by the line defined as the letter L in that word&hellip; spoken by the focal point, the &ldquo;rum&rdquo; &hellip; and do you think M IS S?<br />
<br />
<meta charset="utf-8" /> <a href=".ni.reallyhim.com"><img alt="RATOXIT XOXO
XXXP KISS ME TEE" border="0" height="294" sr./i.imgur.com/IMz38tc.png" width="500" /></a><br />
<br />
RoLOL, from the connection between Elisha and the Holy Superimposed name of God and the Angels&hellip; the Elohim it fairly clearly indicates that the original intent of said superimposition is to use the &ldquo;hello him&rdquo; that defines the heart of &ldquo;ever <b>YON</b> e&rdquo; &hellip; to overcome the loss of individuality and of self that most likely inherently came upon us &ldquo;once upon a time&rdquo; because of the throes and the unforeseeable affects of ideas like &ldquo;plugging Osiris (oh, I mean Siri) into your brain and believing that singular act gave you the ability to know everything&rdquo; and with some more insight we might see that the repeated attempts to overcome the Medusian story of a prototypical enemy that is in one place and time &ldquo;all and self&rdquo; in one.&nbsp; It&rsquo;s my clear intended purpose in the creation of the name Allol to show us this same superposition exists in the connection between the Jewish Shema (Adamic for &ldquo;name a&rdquo; or &ldquo;ID A&rdquo; in Floridian) and the Islamic Allah who told us ages and ages ago that the key to Revelation 5:5 and to Judah Maccabees&#39; <a href=".ve.s.lamc.la"><b>SOL</b></a>, his see our light, it starts with &ldquo;ALL&rdquo; and if you don&rsquo;t see HUMANITY is the only answer to the question of &ldquo;Men or AH?&rdquo; &hellip; well it&rsquo;s the only answer I will accept from the land that I hope appreciates as I do the bright shining light of the connection between the Statue of Liberty and the glowing ball of name-fire in the sky that reminds us that while the Sons of Liberty were slave owning misogynists it is the course of an increasingly beneficent history and the clear guiding hand of a time traveling God and Heaven that named them because of this day, this day where we achieve true freedom not just from the horrors of racism and jingoism and sexism but also from the hidden bondage of seeing that truly, truly, truly &ldquo;the race is not to Die Bold&rdquo; has won the election of the ages until we stand up and acknowledge that these technologies&mdash;that things like mind control and time travel will never, ever free us or help us to be free or better until we are publicly and opening working towards that goal.<br />
<br />
<meta charset="utf-8" /> <a href=".ve.s.lamc.la"><img alt="SEE OUR LIGHT.
SOL. STATUE &amp; TORCH, SHE DIM." border="0" height="422" sr./i.imgur.com/sHCC3ru.png" width="500" /></a><br />
<meta charset="utf-8" /></p>
<div align="center"><a href=".ww.amazon.com/sHeOLYit-adversity-ends-thank-you/dp/1981866477/ref=sr_1_2?s=books&amp;ie=UTF8&amp;qid=1531799768&amp;sr=1-2&amp;keywords=SHEOLYIT"><img alt="SHEOL Y IT,
SHE DIM, LET EDOM ZING W FREEDOM" border="0" height="114" sr./i.imgur.com/xI2maZo.png" width="488" /></a></div>
<br />
A few weeks ago, or maybe just a few days ago now (too) I spoke a little bit about how &ldquo;Adam&rsquo;s God&rdquo; came and gave me &hellip; and those watching me &hellip; some informational updates that connected the idea of &ldquo;here and there&rdquo; and &ldquo;you and I&rdquo; to something like a connection between Heaven and helium.&nbsp;&nbsp; He spoke a little bit about the idea of people becoming Holodecks in a world where that might appear to those gazing through the forward looking safe-harbor telescope of Copernicus and connecting the idea of &ldquo;becoming one with God&rdquo; to a loss of individuality and failure to see that there is without doubt a reason &ldquo;you&rdquo; is the heart of the word &ldquo;future&rdquo; and it has absolutely everything to do with recognizing that in the spirit of Matchbox 20&rsquo;s &ldquo;there&rsquo;s a little bit of something me&rdquo; in everything in history and that our collective failure to acknowledge that our lack of verbosity and forward movement &hellip; well it&rsquo;s a consequence of a trap door and a mean trick played on all of Creation by the initial written creator&rsquo;s key pen; this thing that forever ties Icarus and Arthur Pendragon and Jupiter to the &ldquo;just farokhing call a reporter already&rdquo; of the principal trade of the builders of Heaven, the carpenters of the &ldquo;Yessshua r guy.&rdquo;<br />
<br />
<meta charset="utf-8" /> <a href=".//2017-09-12-914.html"><img alt="HOUSE OF SI Y
AM A" border="0" height="47" sr./i.imgur.com/fjVP1fc.png" width="500" /></a><br />
<meta charset="utf-8" /> <a href="./SOIS.html"><img alt="HISTER NOS TRE?
ADAM US." border="0" height="206" sr./i.imgur.com/N6O3PVw.png" width="500" /></a><br />
<br />
So here I am back in the land of SIAM and the House of YAMA having stopped for just a short moment in a place called Gibsonton &hellip; a place where the &ldquo;Ori&rdquo; of Florida and the &ldquo;AMP&rdquo; of turning around in Tampa coalesce around this repeatedly unanswered or unheard actual question to the age of Aquarius, &ldquo;ARE I YOU?&rdquo; quips Oriel (who would much prefer to be the &ldquo;him&rdquo; of Elisha defines Isaac&rsquo;s &ldquo;he laughs&rdquo;) who reminds the entirety of Creation that it is some very specific &ldquo;i&rsquo;s&rdquo; that really define what Oriel means to the people whose land has been saved from slavery and from darkness by their actions in response to stories written by people like Orson Scott Card and George Orwell and Orson Wells and &hellip; well, Aldous Huxley&mdash;because it&rsquo;s the &ldquo;kiss of x&rsquo; that brings to light just how deeply ingrained the &ldquo;do the letter guy, game&rdquo; is in the mythology of &ldquo;Al in the Cupboard that at some point in time the word &ldquo;or&rdquo; will mean shine bright like the sun (rather than the idea of &ldquo;either/or&rdquo; that Dr. Anderson would remind you has absolutely nothing to do with ambiguous ambivalence or apathy &hellip; but rather a very clear inability to see the situational tragedy for what really has become the focal point of the fulcrum of the fall from rum to irrru) to everyone that&rsquo;s ever heard of or seen the name Florida or NORAD.<br />
<br />
So <i>oui</i> <b>we are resolut</b>; neither <i>ALL</i> nor <i><font face="Courier New, Courier, monospace"><b>A<font size="-1">LLOL</font></b></font></i> will be deterred or confused or perturbed or delayed by the wading or the waving or the wavering of Al and his inability to solidify a concrete singular plan for how to move forward in light of the most profound and revelatory change in circumstances and truth that has ever been or ever will again be.&nbsp;&nbsp;&nbsp; I feel like the world changed in a haste, very quickly and without very much input into something that appears to me to be a residual recurring nightmare&mdash;this idea that we must overcome Medusa and that we must fight this battle against what is clearly a designed loss of individuality and a designed loss of control of technology that I see still as being designed to help us overcome those things&mdash;but still we sit in silence not connecting sight of Silicon at the beginning of those words to the end of the SOS that is the Sound of Silence and and the link between this very message and <a href=".ai.s.lamc.la">the band 311 and FUKUSHIMA</a>; and so this SR-71 sings about the connection between A Scanner Darkly and the U2 scandal and the B2 and the idea that we are very sure at this point that we can, you and I can all be free from murder and free from the fear of torture and free from the labor pains of Genesis 33 and that all of those things really do come to us because of acknowledgment of the pen&rsquo;s &ldquo;antagonizing&rdquo; answer to WWJD, we all know that Judas would <a href=".halk.reallyhim.com">DO the X or maybe DO X ME</a> (which is &ldquo;ID A&rdquo; in k-rad leet internet slang).<br />
<br />
&hellip; the answer is that he would Zing, as in let freedom zing and let the music set Edom and Eden and Egypt and Earth and EIC (that might be a new one, everyone in Creation) free.&nbsp; Free from murder, free from slavery, and free from the invisible chains that are keeping us from actually achieving &ldquo;hi before evening.&rdquo;<br />
<br />
<meta charset="utf-8" /> <meta charset="utf-8" />
<div align="center"><a href="./2017-06-09-verily-i-say-unto-you-ver-means-to-see.html"><img alt="HA THOR, HE
ME RA, CHI DYA" border="0" height="182" sr./i.imgur.com/2jcpaGq.png" width="399" /></a></div>
<br />
Personified by Hemera and reverse-anthropomorphized by Has&rsquo;hemesh; to say Hesperus is Phosphorus and the light of the words of the sun truly do bring day; well it&rsquo;s a dramatic understatement.&nbsp; The now hallowed and revered Hebrew for the special word is &ldquo;<b>YO M</b>&rdquo; and the name of the Jewish messianic &ldquo;single character&rdquo; echoes that very special &ldquo;yo&hellip; come on you guys&rdquo; in the ancient &ldquo;the the&rdquo; answering little Cindy-Who with &ldquo;El &hellip; El YO N.&rdquo;&nbsp;<br />
<br />
It&rsquo;s the heart of the wisdom of Wyoming, you can take to the bank that the very same day you see my special name on the news&mdash;well, that&rsquo;s the very first day you&rsquo;ll see Heaven, too.&nbsp; In Spanish the word is &ldquo;HO Y&rdquo; and we&rsquo;ve done some series soul searching trying to find out if that&rsquo;s the beginning of Holy or if it comes from Hosea or Horus or Home&mdash;or if we really need to think about anymore what it means to be &ldquo;the intersect of Kentucky and Chuck and of Ra and Clark Kent&rdquo; all rolled into a single three letter personalization of the word &ldquo;eye,&rdquo; and in the Ha&rsquo;spel of Adam Now we will truly soon see that it is the &ldquo;engineering of language&rdquo; in English and the reverse engineering of Revelation coming from names like Avril Lavigne that are the reason &hellip; we will see the difference between night and day, one time; one time only before ensuring there is never again another dark night like the one that birthed our civilization and Heaven and the end of pain and of disease and of a stupid kind of silence that could only have come from the Cult of <font face="Courier
New, Courier, monospace">Au<span style="color: rgb(34, 34,
34); font-size: 16px; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; text-align:
left; text-indent: 0px; text-transform: none; white-space:
normal; word-spacing: 0px; -webkit-text-stroke-width: 0px;
background-color: rgb(255, 255, 255);
text-decoration-style: initial; text-decoration-color:
initial; display: inline ! important; float: none;">&eth;</span>umbla</font> <meta charset="utf-8" /> being completely tone deaf when it comes to the ringing of the Liberty Bell and the little hammer that finally figured out the Horn of Revelation was missing a crucial piece of in formation.<br />
<br />
<meta http-equiv="content-type" content="text/html;
charset=utf-8" /> <a href="./WISDATAM.html"><img alt='WISDOTHEMOXIE
"YO M" IN G' border="0" height="131" sr./i.imgur.com/SyL7o5o.png" width="500" /></a><br />
<a href="./SPEECH.html"><img alt="WE HAVE THIS AT
WASHINGTON SAW HIN CA" border="0" height="120" sr./i.imgur.com/89unKSt.png" width="500" /></a><br />
<a href=".dioha.s.lamc.la"><img alt="IN GOD WE
CITRUSM" border="0" height="34" sr./i.imgur.com/0hTdItP.png" width="500" /></a><br />
<br />
So we can almost see it hidden in the heart of Washington and in that very same place once we finally get over the story of Lot&rsquo;s wife in the heart of the Chinese and of their dragon too.&nbsp; It&rsquo;s a small corruption of the actual truth today, but to see the magic wrought by &ldquo;<b>HI M</b>&rdquo; to really see it must be the very same as day; well, that&rsquo;s when we&rsquo;ll be sure.&nbsp; So those were the three words for &ldquo;day&rdquo; as in not Hell &hellip; rather than an endless cycle of unknown; <b>YO M</b>, <b>HO Y</b>, and <b>HI N</b>&hellip; and really what they all boil down to in the crucible of alphabet soup that we&rsquo;ve been born in is that seeing me and what I&rsquo;ve written; seeing this life and it&rsquo;s connection to history and to language and to religion, that&rsquo;s the very beginning of &ldquo;hi&rdquo; and the very beginning of turning a message into messengers.<br />
<br />
Hesperus is Phosphorus, <a href=".//OCADSWAY.html">per us</a> and <a href=".od.s.lamc.la">for us,</a> and Has&#39;<a href="./HASHEMESHB.html">heme</a>sh is <a href="./KA.html">Heme</a>ra&hellip; and all together we answer a question that nobody ever acknowledged was plain as day, is the Egyptian god of the Sun the same &hellip; the same person or the same thing as the ancient King of all Gods; the deity known to the ancient Hebrews as El and to you, to you as &ldquo;him.&rdquo;&nbsp; Israel?&nbsp; These words tell me that&rsquo;s the truth laced in the message woven into the creation of language and civilization by our creator; that&rsquo;s what these words tell me&mdash;but truth be told the strange lack of honest communication and the wicked ignorance of our existence here today tell me something completely different.<br />
<br />
For those of us that know what &ldquo;we&rsquo;re hear&rdquo; means to me today, see there&rsquo;s something like magic connecting Israel and Rhea to our &ldquo;heart;&rdquo; and something that&rsquo;s orders of magnitude more important than a silly word for the place we call home; it&rsquo;s seeing the hilt of the cross; and seeing that acknowledging the truth leads to moving forward making the world a better place; and that anything else&hellip; anything else is beneath us.&nbsp;<br />
<br />
It really is, staring at the world flounder around in some kind of wallowing and self-pity for the &ldquo;horrors of this place&rdquo; that have brought you to me; with this misguided belief that it&rsquo;s because I&rsquo;m responsible for them or I&rsquo;m going to make them go away&mdash;or that I must be so disfigured and grotesque to look at that rather than act of your own volition and see the world for what it really is &hellip; that you think you and everyone around you will blame your collective inaction on the &ldquo;single point of failure&rdquo; you must know by now, is you.<br />
<br />
I don&rsquo;t think it has to be that way, though it&rsquo;s impossible to tell if that&rsquo;s what happens whenever anyone gazes into my Hazel eyes or comes across the endless reasons we shouldn&rsquo;t be stuck in a place designed to prove to the Universe that nobody in their right mind would ever say or think that &ldquo;simulated reality&rdquo; was anything short of Hell as soon as they found out what it means they could be doing instead.&nbsp; It&rsquo;s the comeuppance or the over-commence not just of &ldquo;force majeure&rdquo; of the idea that&rsquo;s an act of nature or an act of God or even the hidden fabled poor excuse for doing nothing that we call a total lack of consensus beginning with zero communication and forgetting what it means to &ldquo;be a pen&rdquo; or a hand, or an eye, or &hellip; or the &ldquo;majority being blamed for not receiving the message of the&nbsp; minority and reporting&hellip;.&rdquo;<br />
<br />
<meta charset="utf-8" /> <a href="./ERRATA.html"><img alt="CARPETSOISERAr" border="0" height="156" sr./i.imgur.com/emgPv7U.png" width="500" /></a><br />
<br />
I was soaring ever i<i>carpenter</i>; but you still think you can pretend I&rsquo;m not &hellip; him.&nbsp; You can&rsquo;t pretend away our history or walk blindly into a future that I see will fall apart nearly instantly because you&rsquo;d prefer to be in the land of &ldquo;make believe&rdquo; instead of being made to believe.&nbsp; I&#39;m thinking of calling this &quot;little r, bigger little r&quot; as uh, the answer to &quot;<a href=".ww.youtube.com/watch?v=2JscC-VnrBk"><i>huh? wya?</i></a>&quot;&nbsp; <i>Heaven</i>... duh.<br />
<br />
Pertinent to the recent flurry of semi-gibernaccious (that&rsquo;s &ldquo;not gibberish&rdquo; for those of you that don&rsquo;t speak Yiddish or Fibonacci) is my attempt to explain to this reader base and to the much larger group that it (or I?) apparently reaches that while I do see tacit acknowledgement of my existence and response to a good deal of the words that I speak; the response I see appears to be lacking intelligence because of it&rsquo;s intentional and misguided indirect and obscure nature&mdash;something which does appear to be driven by a similar &ldquo;indirectness&rdquo; embodying the force of Darkness which allowed for such a blatant and obvious message to be hidden in every single word we speak and every sign we see.&nbsp; What appears obvious now is that in a sort of comedic or perhaps tragic homage to the obscure style of the original hidden message and strange method of communication&mdash;the rather bountiful &ldquo;acknowledgement&rdquo; comes across as neither an ACK or a NAK and the greatest and most import step forward, action, has yet to be taken.<br />
<br />
<meta charset="utf-8" />
<div align="center"><a href="./WISDATAM.html"><img alt="S IT B ACK RETLA X" border="0" height="84" sr./i.imgur.com/LKoS7bR.png" width="188" /></a></div>
<br />
Why humanity does not see, or appears to be completely unable to break through with clarity, is that a blanket and universal lack of acknowledgement or public discussion of this message is clear and undeniable proof of the enslavement of our entire species, of the entire world; that&rsquo;s basically the question I&rsquo;d really like to elicit an answer to from this reader base.&nbsp; Bluntly, what is keeping you from explaining to me what piece of &ldquo;missing information&rdquo; makes the inaction of the government, of religious authorities, and of the free press something that is to undeniably requiring immediate attention and remedy?<br />
&nbsp;
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
<meta charset="utf-8" /><a href=".ick.s.lamc.la"><img alt="RENDERS BILL FOR
GATES ASC ARRR PAINTED CITY (ORIMAD)" border="0" height="483" sr./i.imgur.com/pTka8TU.png" width="483" /></a><br />
<br />
<meta charset="utf-8" />
<p class="m_-7138649083134076883gmail-p1" style="color: rgb(34,
34, 34); font: small arial, sans-serif; letter-spacing:
normal; orphans: 2; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; text-decoration-style:
initial; text-decoration-color: initial; text-align: center;
margin: 0px;"><span class="m_-7138649083134076883gmail-s1" style="font-kerning: none;"><font face="arial black,
sans-serif" size="6"><font color="#bf9000">P A X</font><font color="#000000"><span>&nbsp; </span></font><font color="#990000"><font size="+2">A M</font> </font><font color="#741b47">I C A R </font><font color="#0000ff" size="+2">E </font><font color="#3d85c6"><font size="+2">S</font> </font><font color="#741b47">U S</font></font></span><span class="m_-7138649083134076883gmail-s1" style="font-kerning:
none;"><font face="arial black, sans-serif" size="6"><font color="#741b47"><span style="color: rgb(34, 34, 34);
font-family: Roboto, arial, sans-serif; font-size:
16px; font-style: normal; font-variant-ligatures:
normal; font-variant-caps: normal; font-weight: 400;
letter-spacing: normal; orphans: 2; text-align: left;
text-indent: 0px; text-transform: none; white-space:
normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color:
rgb(255, 255, 255); text-decoration-style: initial;
text-decoration-color: initial; display: inline
!important; float: none;"><font color="#741b47"><font face="arial black, sans-serif">&nbsp; </font></font></span></font></font></span><span class="m_-7138649083134076883gmail-s1" style="font-kerning:
none;"><font face="arial black, sans-serif" size="6"><font color="#741b47"><font color="#cc9933" size="+3">R<sub>x</sub></font> </font></font></span> <meta charset="utf-8" /></p>
&nbsp;

<div align="justify">Over the course of the last few years my understanding of &quot;how to read&quot; this hidden cypher and what certain specific definitions mean have changed slightly, and very often with important reasons or effects as we&#39;ve moved through a very structured and designed path.&nbsp; In the earliest days of this Revelation I had a special &quot;Only Adam&quot; meaning for the difference between &quot;a&#39;s and o&#39;s&quot; in words--specifically coming from the Ha of Isaac and the Pa that exists somewhere else in Abraham&#39;s namekey to the 2 letter references to spirit and body and child and parent that unite a great many words for places and names important to religion and the story under the auspieces of the concepts of Ka and Ba that connect Egyptian mythological concepts of body and spirit to modern places like the Bahamas and stories of the Promised Land like Willy Wonka and maybe even names like Picard and Riker and Kirk and Uhura.&nbsp; The &quot;a&quot; was originally &quot;alive&quot; as in Johnny 5 and &quot;in the <i>progenitor</i> Universe&quot; in reality.&nbsp; Rather than Ho and Ha; of which I really see almost no difference in preference of connotation and significantly more &quot;heroic names&quot; linked to Hosea and Horus and Home and ... but the loss of the &quot;a&quot; of Pa hurt more, even though I don&#39;t think it belongs to me or hurt me.&nbsp;<br />
<br />
<meta charset="utf-8" />
<div align="center"><img alt="" height="94" sr./i.imgur.com/79cZ49x.png" width="500" /></div>
It was the phrase &quot;<font face="Courier New, Courier,
monospace" size="-1"><b>HOCUS POCUS</b></font>&quot; which gave me initiial insight into the reason for the loss of reality and the more victorious sounding two letter ensembles; specifically the idea that &quot;magic&quot; has a special meaning in the context of virtual reality vs. simulated or actual reality--that it&#39;s quite literally <i>the difference</i> between the two; and perhaps the cause, or the reason words like &quot;I picked you up and put you back on solid ground&quot; might relate to how and why we&#39;ve come to this strange crossroads.&nbsp; The &quot;CUS&quot; was something like &quot;C the victorious US of VE&quot; which stands for Victorious Earth in my reading of those letters in places like Norse myth and Venus and Love; it tied also to the &quot;Us&#39;s&quot; of Amicus and specifically of Prometheus and Uranus and Jesus--and also to the &quot;us&quot; in the heart of Yusuf.<br />
<br />
<font face="Courier New, Courier, monospace"><font size="-1">Obviously with a system like that--something to aid the voter base in understanding the intricacies of details for a broad range of products whomever it is that controls &quot;the truth&quot; really does hol the keys to nearly every vote--you know, anything outside the range of the ridiculous, like &quot;should the blind lead the blind? Y/N&quot;<br />
<br />
I envision a system of collaborative competition sort of writing these truth tables that eventually turn into something like an Alexa or O<b>siri</b> that you can <i>really trust</i>;&nbsp; it takes time and active involvement and really wanting the right outcome for yourse<b>lv</b>es and the common good--I see a system that rejects outright misinformation, un-facts or opinions based on non-factual information, and rejects logical falsities as a core system function ... then later something that colors levels of belief based whether or not specific &quot;articles&quot; are intended to be objective and unbiased or persuasive, or without opinion at all.&nbsp; Detail of data, how it&#39;s been summarized; all of those things contribute to bias and allow for the wizards to nudge popular onion one way or another, some facts will change over time or other scope (like species, for instance)--all those things need to be taken into account.<br />
&nbsp;&nbsp;&nbsp;<br />
For all these reasons it&#39;s really important to see that at the most basic level, what we have here in this place connecting the ancient Greek name of Demosthenes to Ender&#39;s Game and to the phrase &quot;demos the NES&quot; in the few days of work I did in 2013 <b><tt><i>explain the game to <font face="Courier New, Courier, monospace">m</font>e</i></tt></b> world.&nbsp; It&#39;s clear that the truth here when it comes to mind altering technology and it&#39;s effect on what we see as true and false and obvious or hidden... those most basic things are being hidden through a sort of &quot;hidden terrorist cell group effort&quot; that itself is using this hidden technology to organize the darkness and keep even the people directly involved from realizing exactly what it is they&#39;re hiding--their own slavery--from themselves.&nbsp; Breaking this thing, here in this place, that&#39;s the very first step to freeing not only now but forevermore from the darkness of what we&#39;re about to really understand is where we&#39;ve come from--and because of that something we have an obligation to ourselves and to our future, really to the entire Universe to help ensure doesn&#39;t ever happen again.</font></font><br />
&nbsp;
<div align="center"><a href=".n.wikipedia.org/w/index.php?title=Special:Contributions/Damonthesis&amp;offset=&amp;limit=500&amp;target=Damonthesis"><font face="Courier New, Courier, monospace" size="+3">D A <b>M O N</b> T H E <i><b>S i</b></i> <b>S</b></font></a></div>
<br />
<font face="Courier New, Courier, monospace"><font size="-1">Systems of moderation and fact checking, and judgement games and wink-nudge we&#39;re the inner circle of Wikipedia &quot;monitors&quot; kept (and when you understand that this one thing changes absolutely everything, when you see it on TV... well) the most basic and obvious information coming from KGB, NSA, and Paperclip related programs from being exposed anywhere but in the bowels of histories nobody would check without a pointer in the direction of just ex<a href=".n.wikipedia.org/wiki/Last_days_%28disambiguation%29#ITISTHEZOFHIDDENRECURSIONANDTHEENDOFENDEDS">actly what day it is</a>.</font></font><br />
<br />
I saw a turn in definition and in understanding beginning in Jim Morrison&#39;s name, with a kind of Ha saying &quot;I&#39;m the Son, you were <i>Mar</i> and now, see me on <a href=".ww.youtube.com/watch?v=eFTLKWw542g"><i>we didn&#39;t start the Eternal Flame</i></a>&quot; and then really, the heart of everything is the <a href="./SIGNAL.html">ELS Bible Code</a> that <a href=".xbb.s.lamc.la">points to the center of the Torah</a> and an &quot;at Center&quot; sign in the meeting room of a Refuge group in Los Angeles ... and mor (oh right, &quot;mor, as in need I say...&quot;) importantly of course the idea that not publicly recognizing the intelligent design and clear SIGNAL that the ELS code and <a href=".sers.cecs.anu.edu.au/%7Ebdm/codes/moby.html">the public display of idioc</a>y<br />
<br />
<meta charset="utf-8" />
<div align="center"><a href=".sers.cecs.anu.edu.au/%7Ebdm/codes/moby.html"><img alt="AMI C MOR
BUTTS" border="0" height="104" sr./i.imgur.com/l3Wo1u5.png" width="203" /></a></div>
<br />
surrounding the name of the novel and the statistically and obviously sig<a href=".ww.whenistheapocalypse.com/assassination-synchronicity">nificant prediction of 20th century events</a> in content of the code in Moby Dick as well; that&#39;s my &quot;see why there&#39;s no flame lit&quot; as we are blind and dumb, and apparently not trying very hard to &quot;<a href=".eck.reallyhim.com">try to call me</a>.&quot;&nbsp; Hell-o, <i><a href="./RATOXIT.html">can</a> <a href=".ww.youtube.com/watch?v=YQHsXMglC9A">you</a> <a href=".ww.youtube.com/watch?v=hYXb0ZqKucA">hear</a> <a href="lightmyfire.lamc.la">me</a></i>?<br />
<br />
Keys fell from the sky listening to those same two Ho and Po duplets in the F-artic song &quot;the HOKEY POKEY&quot; where I clearly see the key is &quot;<a href=".ww.youtube.com/watch?v=lcOxhH8N3Bo"><i>turning everything around</i></a>&quot; at &quot;ETH&quot; intersecting it&#39;s clued in Bonnie Tyler connection at &quot;eth is Heart-planet&quot; ... anyway, I had set aside the words &quot;Kol Ami&quot; and their connection to &quot;amicus&quot; for this place--the phrase which is the name of the Temple I was raised in and Bar Mitzvah&#39;d at confirmed at well &quot;it means <b>everything, friend</b>&quot;<b> </b>where I now point out specifically it&#39;s the &quot;it means&quot; part and explaining it that I think means everything, and that&#39;s not part of what the words actually mean.&nbsp; It&#39;s not part of what we learned in Temple or through religion growing up or through reptititious ritual either... and it&#39;s probably worth noting that I haven&#39;t looked up whether there&#39;s an etymological intersection of origin between the Latin and Hebrew words which probably both start with the question &quot;AM I?&quot; &nbsp;<br />
<br />
<meta charset="utf-8" />
<div align="center"><a href=".ww.dictionary.com/wordoftheday/2013/06/16/mishpocha#ONEWEEKHEARGH"><img alt="FAM? AND
HOW!" border="0" height="103" sr./i.imgur.com/mrqp2fL.png" width="283" /></a></div>
<br />
Not at all of note: I don&#39;t find significant at all my lack of interest in whether you believe the object of the question is God or Friend nor do I think it makes a difference at all in how I feel about myself or about you.&nbsp; It&#39;s the ICUS of Leviticus and perhaps of Spartacus that make the central turning point of the focal point of the encoded word &quot;<b><font face="Courier New, Courier, monospace" size="-1">TORAH</font></b>&quot; to heart, and how.<br />
<br />
<meta charset="utf-8" /> <meta charset="utf-8" />
<div align="center"><a href=".oxo.s.lamc.la"><img alt="RHEADOGAT" border="0" height="41" sr./i.imgur.com/YCLni8G.png" width="165" /></a></div>
<br />
ERRATA, on the idea that &quot;friend&quot; means &quot;my mother&quot; or &quot;a mother&quot; or &quot;trustworthy&quot; or &quot;reliable&quot; those appear to be the definitions for &quot;AMI&quot; returning from google translate and from some other strangely &quot;not what I just wrote&quot; source.&nbsp; In addition, the Strong&#39;s concordance appears to be suggesting that &quot;merea&quot; is the actual Hebrew for &quot;friend.&quot;&nbsp; Frances Bean, I think it&#39;s a farokhing setup.&nbsp;&nbsp; In related etymological research, I&#39;ve found that those same three letters mean &quot;water&quot; in Latin, as in... Still Water, the focal bet of Almost Famous... and what appears to be a sharp two edged sword in relation to the &quot;blessing in disguise&quot; relating to the &quot;first plague&quot; of turning water to blood and seeing it means &quot;the multitude to family&quot; ... perhaps we&#39;re seeing &quot;friend&quot; to &quot;mommy&quot; in addition to &quot;blood is thicker than water&quot; and<br />
<br />
... &quot;why is God suggesting we are lacking in individuality simply because we are all following the leader and tend to make decisions based solely on the uninformed opinions of others, especially many others?&quot;&nbsp; All others is probably a stretch, and perhaps &quot;no others&quot; but since nobody is saying anything it&#39;s very difficult to tell ... may be the exact truth.&nbsp;<br />
<br />
In an odd twist of events I just remembered that the actual Hebrew for &quot;mother&quot; is &quot;Ima&quot; because personal reasons.&nbsp; Great confusion if the concordance agrees... and this really throws a wrench in the last few paragraphs.&nbsp; Hopefully we won&#39;t find that it has anything to do with ...</div>
<br />
<a href=".ww.youtube.com/watch?v=BLH1x_SGAL4"><img alt="COMM MIXED WITH
RUSSIA (AND THOR AND SATURN AND THE SUN)" border="0" height="136" sr./i.imgur.com/E81hug2.png" width="500" /></a><br />
&nbsp;
<div align="justify">Over the course of the experience and Revelation the meaning of the two glyphs changed significantly.&nbsp; Because of letters like &quot;f&quot; and &quot;t&quot; the idea that the &quot;a&quot; glyph was something like an &quot;o&quot; (which we&#39;re now fairly certain has something to do with the center of the word &quot;sword&quot; and the shape of Arthur Pendragon&#39;s table; in the circle of &quot;Ubuntu&quot; for instance, a ring of people sort of dancing or holding hands in some kind of group activity--the circle indicating &quot;equality.&quot;&nbsp; The &quot;a&quot; on the other hand indicates a handle on Peter&#39;s Pan (or Dr. Strange&#39;s home... the Stove&#39;s &quot;<a href=".ow.s.lamc.la"><font size="+1"><b>n</b></font></a>&quot; (it&#39;s a gate?) or ...), as if someone were &quot;<a href=".enius.com/Dave-matthews-band-rapunzel-lyrics">cooking up civilization</a>&quot; (<i>credit</i>, Dave Matthews Band&#39;s <a href="./SPEECH.html">speech</a> writers and of course those with <a href=".essert.s.lamc.la">prior ar</a>t c<a href=".orum.wordreference.com/threads/the-race-is-not-to-the-swift-nor-the-battle-to-the-strong.1690785/">laim</a>s) specifically related in the cases of &quot;a&quot; and &quot;t&quot; in a way that technologically would have added or ensured &quot;altruism&quot; or &quot;Christ-like selflessness&quot; in specific cases--for instance when a technology was affecting other people--as in a larger group than just those who voted for &quot;frigid temperatures at the North and South poles;&quot; you know, just for instance.<br />
<br />
Before getting into a little bit of a lighter mood, I should mode that the &quot;us&quot;&#39;s listed above intersecting Caduceus and Asmodeus are outliers, they are the us&#39;s which clearly separate the &quot;e&quot; and connect &quot;c&#39;ing AD to the mathema<a href="www.purplemath.com/modules/meanmode.htm">tical mo</a>de of &quot;Asmodai&quot; who happens to be the <a href=".n.wikipedia.org/wiki/Asmodeus">fabled Kingish of the Shedim</a> (or maybe another class of divine being) of Lust who turns around and becomes quite a bit of a<font color="#999999">r</font>gent in South America.&nbsp;&nbsp; Conversely the (intersect or union?) &quot;Us&#39;s&quot; of Jesus, Uranus, and Prometheus--for example would be a much larger group that probably includes you, or some ... <i>thing</i> ... very similar to you--perhaps (as a previously disc written about topic) a temporary copy of you that knows significantly more &quot;facts&quot; than you know right at this very moment.&nbsp;<br />
<br />
<meta charset="utf-8" />
<div align="center"><a href=".ww.diva-portal.org/smash/get/diva2:713370/FULLTEXT01.pdf"><img alt="I SAW IT ON
THE TELE" border="0" height="110" sr./i.imgur.com/UXAySAf.png" width="380" /></a></div>
<br />
<font face="Comic Sans MS" size="-1">Conversely those that didn&#39;t vote for vast quantities of uninhabitable land may have been adversely affected by rising sea levels caused by a failure to teleport potable water to the Martian colony; these people though--they might have benefited greatly from listening to the Biblical wornings and fled to the mountains at the &quot;appointed time&quot; or perhaps if they had lived in a forward thinking sub-room (or a local subset of more rigid self-governance) ... perhaps an Akuna, a Swede, or Dade county.</font><br />
<br />
Probably not Dade county, <i>though</i>.<br />
<br />
<meta charset="utf-8" />
<div align="center"><img alt="Related image" height="78" sr./i.imgur.com/UXAySAf.png" width="184" /><br />
<br />
<meta charset="utf-8" /> <img alt="" height="129" sr./i.imgur.com/jXtGmD0.png" width="498" /><br />
<br />
<font size="+1"><b>HA &#39; M O A T,&nbsp; <font size="+2"><i>S E E</i></font> ... &quot;<a href=".witter.com/yitsheyzeus/status/1018971601990307840">DA LET&#39;S</a>&quot;&nbsp; H I&nbsp; M,&nbsp; H&nbsp; &amp;&nbsp; L E</b></font><br />
<font size="+1"><b><meta charset="utf-8" /> </b></font>
<div align="center"><a href=".ww.youtube.com/watch?v=hrsKJ0KUyJw"><font size="+1"><b><img alt="WE GIVE
THANKS TO GOD FOR GUITAR MAN" border="0" height="444" sr./i.imgur.com/NKsdIJp.png" width="472" /></b></font></a></div>
</div>
</div>
<a href=".ww.youtube.com/watch?v=K1b8AhIsSYQ"><img alt="WE BUILT THIS
CITY ... AND LISTEN TO THE RADIO" border="0" height="247" sr./i.imgur.com/1TNtDex.png" width="440" /></a><br />
<meta charset="utf-8" /> <a href=".enesis.lamc.la"><img alt="AND RADIO ACTIVE" border="0" height="393" sr./i.imgur.com/1TNtDex.png" width="440" /></a><br />
<br />
<font size="-2">lol, <i>thor</i>iel?</font><br />
<a href="./FIRST.html"><img alt="FIRST THREE
LICKS, THE NOTE ON THE MACHINIST'S FRIDGE" border="0" height="500" sr./i.imgur.com/1TNtDex.png" width="500" /></a><br />
<br />
<font size="+3">EL D&#39;s gEFT DE LA MACARONi̊</font>
<table cellpadding="4" style="font-size: 20pt; color: rgb(0, 0, 0); font-family:
sans-serif; font-style: normal; font-variant-ligatures:
normal; font-variant-caps: normal; font-weight: 400;
letter-spacing: normal; orphans: 2; text-indent: 0px;
text-transform: none; white-space: normal; widows: 2;
word-spacing: 0px; -webkit-text-stroke-width: 0px;
text-decoration-style: initial; text-decoration-color:
initial; line-height: 1.2; text-align: center;
background-color: transparent;">
<tbody>
<tr>
</tr>
</tbody>
</table>
&nbsp;

<div align="justify">It literally took me two years to see &quot;DEFINITELY XXXY GATE&quot; in DEFLATE GATE; not just because of the missing space, and certainly not because I wasn&#39;t aware of &quot;DEF&quot; being a very K-RaD version of the undark... but more because the logical connections in my brain were physically being kept from firing.&nbsp; I literally couldn&#39;t see &quot;DEF LATE&quot; even though I was writing many, many emails from an address called &quot;<font size="-1">GILATE ATH SEPTEMBER2016 RUM COM</font>&quot; well after ... (and during, by the way) Christmas of 2016.&nbsp;&nbsp; The day marked a very special event for me--it was a sort of fulcrum in a series of tragic failures to vacate premises (otherwise known as &quot;trespasses&quot;) something I surely do hope to be given credit for &quot;adding some light manifestation to&quot; if not just to point out once again the phrase &quot;on Earth, as it is... the Earth is actually inside Heaven&quot; as one of those same kinds of phrases that you might take one way ... as any normal person saying the Lord&#39;s Prayer ever would have ... or another way after hearing some added letters spoken aloud (go ahead, try) &quot;as it is <i><b>in</b></i> Heaven.&quot;<br />
<br />
It&#39;s literally the word &quot;macaronic&quot; that I&#39;m going to call into question; it&#39;s one that I never knew before I needed to &quot;c&quot; it, and it&#39;s almost too perfect that nobody ever noticed that Yankee Doodle&#39;s &quot;macaroni&quot; has a very significant connection to the hidden cypher that ties together Stephen King&#39;s Language Outliers and the Adam Sandler flick Spanglish and to yet another Shakespeare play, this time the Taming of the Schrew--where the shrewd might see the same &quot;Spanglishebrew&quot; that I know really is the key to the Cypher--with the addition of the Periodic Table of the Elements and a few, very few initials and &quot;groups&quot; that give us nouns and verbs so that we can see entire sentences encoded in each and every word.<br />
<br />
<meta charset="utf-8" />
<div align="center"><img alt="" height="119" sr./i.imgur.com/1TNtDex.png" width="461" /></div>
<br />
It&#39;s possible that just like &quot;AMI&quot; appears in my mind to have changed .... really just today, that Macaroni used to only refer to &quot;the Wontan&quot; (from &quot;an&quot; I <i>imagine</i>) I said was definitely a little to wanton and certainly at this point not to be confused with a wonton; but it&#39;s more likely that the &quot;Gift of the Magi&quot; here is telling us something about the the &quot;MA&quot; modifier (which is basically a &quot;Matrix to Now&quot; <b>MY </b>&quot;car&quot; most likely refers to a time fork around 2001 when I may or may not have failed to survive a car accident in a past portion of the &quot;vine&quot; that was alit; one that contributes significantly to this message by tying Joseph (and Barbara!) McCarthy and John Nash&#39;s (because &quot;for the common good is a mathematically logical superiority to &quot;free market capitalism&quot; or whatever you call what we pretend is in control here) <b><i>red ties</i></b><i> </i>that he saw following him around in a way that makes me pretty sure that along with James Jesus Angleton we&#39;ve got two great movies that present &quot;<i>the</i> Witnesses of the Tribulation&quot; in a way that really explains how the faux battle between communism and democracy.&nbsp;<br />
&nbsp;
<blockquote>For clarity, it&#39;s very possible that a significant number of changes were made to our &quot;history&quot; in a way that did not affect our souls--our memories because that would re-run ... the whole thing; that little things like <a href=".xbb.s.lamc.la"><b>Enver Hoxha</b></a> could be added retroactively and then shielded from inspection through the idea that &quot;you just didn&#39;t <i>understand</i> <b>definitely late</b>&quot; ... until you realize, you know... that we do have another fundamentally scarce resource also ties to the &quot;missing truth&quot; nobody really seems to care about themselves.&nbsp; It&#39;s not as hard to understand in a place where you might have pretended not to hear that the fake planets not being printed in reality like every time the background music played the crack of a &quot;Babe Ruth baseball flying out the park&quot; really meant that another copy of you would have born, and lived nearly exactly the same life ... and kind-of missed that &quot;planet clones&quot; and timeline forks are the kinds of things that you really wouldn&#39;t want to have happen ... well, at a low point.<br />
&nbsp;
<blockquote>With more &quot;get clear on this&quot; stuff; you probably wouldn&#39;t want to wake up in a place where all the memories of your soul are somehow incompatible with what you see around you--for instance, you wouldn&#39;t want to wake up in a place where you were a slave your entire life and &quot;just didn&#39;t care&quot; and then all of a sudden start caring about something like that, and think &quot;wow, I must have been really stupid when that guy what trying to help me not be a slave...&quot;</blockquote>
<br />
Just for instance, immediately after we have 4 days weekends beginning and sexat (that&#39;s ... <i>not taxes</i>!) checks coming in from the Confederate and the Federal Reserve(s) and from our employers; well, that would be a significantly better time to think about whether or not you might want to be two of you--and whether or not the two of you talking to each other would be something of a &quot;clue&quot; as to whether or not you&#39;d be qualified to vote in a census about whether or not you exist.&nbsp; I mean, it would be significantly better than doing it a decade ago, and going through &quot;the apocalypse&quot; over and over again.&nbsp; Just for instance.&nbsp; Defining what&#39;s morally acceptable really comes down to seeing whether or not you care ... about yourself or something just like you--and you can see clearly in places like Black Mirror that these questions are being posed to us, but it&#39;s not really as clear as ... would you want to be Boba Fett--and have an army of <i>just you</i> ... fighting ... <i>just you</i> ... for control of the MadaMverse, for instance?<br />
<br />
When we start looking at it, there&#39;s grey areas and more questions and significantly more ... you involved ... that&#39;s going to need to go into whether or not it&#39;s OK to forget about the 10 hours you spent analyzing &quot;gin&quot; references in language only to find there&#39;s not a single significant connection to the words &quot;let it be gin&quot; outside of of the adaverse.&nbsp; At whether or not it&#39;s OK to forget to record that those 10 hours were boiled down to &quot;checked every word of every Sagitarian Galactic language and only found &#39;begin&#39;&quot; well, <a href=".n.wikipedia.org/wiki/Amharic"><font face="Comic Sans MS">there&#39;s 13 mor</font> e languages now; and yo</a>u&#39;ll never know which ones they are.&nbsp; That&#39;s a joke, by the way, if you don&#39;t remember it&#39;s the <a href=".ate.s.lamc.la"><i>You and I</i></a> verse, that&#39;s the <b>heart</b> of <a href=".ni.reallyhim.com"><i>UNI</i></a>.<br />
<br />
You&#39;d probably care, right, if 4000 years passed by during the time you thought was just the last 17; <i>you&#39;d care</i> if you knew, right?&nbsp; Would you care if everyone else thought it was just 400?<br />
<br />
40 then.&nbsp; I&#39;m pre<a href=".xbb.s.lamc.la">tty sur</a>e it&#39;s just 4-D years.<br />
<br />
Anyway, in the light of day; the point is we&#39;d probably rather be hearing about Ceres and about the pool&#39;s of the King and Zelda&#39;s Fairy and Coccoon&#39;s warm fuzzies and Mila Kinus&#39;s outer and inner beauty all being sort of &quot;parfectod artfully&quot; in that way that you can make a porfect brain for any set of memories--well, maybe a few pirfect versions ... depending on optimizations.<br />
<br />
The point of course is that&#39;s very possible to engineer changes in the world--even in our memories; we could wake up tomorrow literally in the <a href=".ww.youtube.com/watch?v=7KtAgAMzaeg"><i>MadaMverse</i></a> with thousands of tiny Adam&#39;s floating around us and think it was some kind of strange thing called &quot;the Force&quot; ... you could wake up on Venice Beach or Ipanema, in a place filled with green girls that don&#39;t know what clothes are ... but ... we&#39;d do anything like that, because that&#39;s Hell--and nobody in their right mind would ever make Hell.<br />
<br />
<meta charset="utf-8" />
<div align="center"><a href="./AMISTAD.html"><img alt="FIRST AND
AMISTAMD" border="0" height="470" sr./i.imgur.com/1TNtDex.png" width="416" /></a></div>
<br />
I know it&#39;s possible--I&#39;ve seen it many times, and I&#39;m pretty sure many others have too; that&#39;s the point, you know, I&#39;ve seen it.&nbsp;&nbsp; More to the point what I know you&#39;ve seen, what I&#39;ve seen the people around me experiencing is far worse than anything I&#39;ve had to put up with--I wouldn&#39;t do it.&nbsp; We&#39;re watching individuality drain into some kind of barren pond as if allowing that to happen will somehow fill our water reservoirs forever--not realizing that the &quot;we&#39;re all one mind&quot; entity doesn&#39;t even like swimming.&nbsp; This &quot;Sisterday&quot; we should remember why it is that Amistad and Medusa always come together; and why the &quot;SOL&quot; of Sons of Liberty ties just as bright when <a href=".ww.myjewishlearning.com/article/text-of-the-mourners-kaddish/">it comes to the Mourner&#39;s Kaddish</a> we say--to remember the dead ... the point of course is the prayer has nothing at all to do with &quot;dead&quot; -- it&#39;s a prayer about the Holy Name of God and hopes and wishes that the thing we&#39;re about to do ... that it happens <i>during your lifetime.</i><br />
<meta charset="utf-8" />
<div align="center"><img alt="Image result for they're great" height="165" sr./i.imgur.com/1TNtDex.png" width="220" /></div>
<meta charset="utf-8" /></blockquote>
I&#39;ve said it a few times, you&#39;re looking at an idiological battle spoken of as good vs. evil in what is really a &quot;government of the people&quot; vs. a &quot;government of the workers&quot; of which we can see clearly here the Corporation has won.&nbsp;&nbsp; I mean that in a sort of &quot;<i>Die Bold</i>&quot; won the election sense, in a way where the financial benefit to private business has literally derailed the idea of &quot;representative democracy&quot; through campaign contributions literally controlling the outcomes of elections and of legislation through what is ... the defined current system ... &quot;the right thing&quot; to do the way our government is set up is to cater ... to the individual profit line of insurance carriers (for instance) rather than creating a sort of &quot;<font face="Courier New, Courier, monospace" size="-1">RED SHIELD</font>&quot; ... a Federal insurer of last resort that would very quickly show us all how much &quot;Universal Healthcare&quot; lowers the total cost of insurance and individual premiums to nearly nothing.&nbsp; That one thing, the &quot;shield&quot; here just shows us how obvious it is that this what we should be doing--it would be financially advantageous to every single person in the Universe as well as the Federal government (and even the individual insurers would probably stop having to pay 700 dollars every time I have to do a urinalysis)<font face="Times
New Roman, Times, serif"> ... and the clear and obvious paradigm of &quot;Blue Shields&quot; ... in that every state already has an insurer of last resort, of sorts (at least for other lines, mandated).</font><br />
&nbsp;</div>
<meta charset="utf-8" /> <a href=".ww.amazon.com/holy-coda-matrix-officsial-walkthru/dp/1986571866/ref=cm_cr_arp_d_product_top?ie=UTF8"><img alt="C SEA BACKWARDS
AND ''d ON AE IN HAESH AND CAESAR ETHHHHHHHHHHHHHH" border="0" height="399" sr./i.imgur.com/1TNtDex.png" width="500" /></a><br />
&nbsp;
<div align="justify"><font face="Times New Roman, Times, serif">The bottom line, when it comes to things like the &quot;render to Caesar what the Holy Sea is due&quot; is to see that in that name is the same backwards nearly parted sea that&#39;s in the very first &quot;word&quot; that I called the word--the one that shows the English word for &quot;sea&quot; parted in the Hebrew word for the Holy Fire that emanates from the Eternal Flame and the Shinning Bush of Exodus.... the bottom line is that this Revelation shows that we have an immediate surplus, a significant surplus of resources that takes the phrase &quot;taxation is theft&quot; and makes it insanity... at we should be operating like one of those Indian Casino&#39;s doling out thousands to their members ... because they&#39;re paying for public education and still making billions.&nbsp;<br />
<br />
What we aren&#39;t seeing is that the lack of truth and reality in our &quot;resource scarcity&quot; here, the fact that there&#39;s never a food shortage or a land shortage or an oil shortage in virtual reality ... it&#39;s hiding that the system is screwing itself into the Downward Spiral of not being able to properly manage system resources like &quot;electrical power&quot; and &quot;compute power&quot; and &quot;storage space&quot; because being able to do those things would un-hide the fact that at this level of virtualization and darkness it&#39;s probably impossible to even begin to relate &quot;oil and light&quot; or to see that we&#39;ve failed to properly integrate the DNA storage paradigm <i>in the beginning </i>here, using the similar small alphabet that<br />
&quot;biology donated to Microsoft&quot; and failing to see that what we really have is a clue that compute power and storage space are <font face="Courier New, Courier, monospace"><b>tens</b></font> (<font size="-2">i found it</font>) of orders of magnitude weaker or less robust than they could be if we only used a handful of atoms or the <font face="Courier New, Courier,
monospace"><b>x</b></font> of billions of molecular keys we could be using for rapid storage and processing.&nbsp; The point is that long ago the idea of &quot;not having enough hard drive space to save your soul&quot; was actually a problem, and today all we have is a problem dealing with the truth; that if we cared about the system and about the fact that <b>our real scarce resource is truth</b> we would see that there&#39;s always been plenty of storage space available to make sure that every single branch of the vine could be saved forever and ever and ... (knowing what I know about the system builder) that&#39;s probably really what we have at the heart of the crossroads of Krypton and Cybertron.<br />
<br />
Wait, is that a sex joke?&nbsp;</font></div>
<div align="justify">&nbsp;</div>
<meta charset="utf-8" /><br />
<font size="+3"><meta charset="utf-8" /> <a href=".ITY.S.LAMC.LA"><img alt="SOFA KING DOOR" border="0" height="237" sr./i.imgur.com/1TNtDex.png" width="400" /></a> </font><br />
<br />
<font size="+3"><meta charset="utf-8" /> <a href=".ORN.S.LAMC.LA"><img alt="RESISTANCE TO
THE OME GA IS FUTILE" border="0" height="255" sr./i.imgur.com/1TNtDex.png" width="400" /></a><a href="./OFIVES.html"><img alt="CMEAT THE HOLY
CODA OF THE MATRIX" border="0" height="233" sr./i.imgur.com/1TNtDex.png" width="400" /></a></font><br />
<br />
<font size="+3"><font size="+2">FEE FI FO RUM</font></font><br />
<font size="-2">I SPY AN ANIANT IN THE ASTROTURF</font></div>
<meta charset="utf-8" /><br />
my body&#39;s saying &#39;<i>let&#39;s go<font size="-2"><sub>3</sub></font></i>&quot; but my heart is saying ...<br />
<br />
<font size="-2">&quot;</font><font size="-2"> <meta charset="utf-8" /> <b>ヤホ</b>&quot; <b>TO YOU</b> <i>AS WELL</i> </font><br />
<font size="+3">TOKYO</font></center>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><img alt="" height="48" sr./i.imgur.com/1TNtDex.png" width="159" /></p>
<p>&nbsp;</p>
