<p style="text-align: center;">&nbsp;<b style="text-align: center; font-family: Tinos; font-size: medium;"><span style='font-family: "arial black", sans-serif;'>GEE,&nbsp;<a href=".ww.unduecoercion.com/2017/08/the-color-of-understanding.html" target="_blank">GIRL</a>&nbsp;IS&nbsp;<a href=".ww.unduecoercion.com/2017/08/cyan-ymene-mor-see-why-an.html" target="_blank">RED</a>&nbsp;<a href=".adragonbreath.blogspot.com/2017/09/ha-lot-are-idaho.html" target="_blank">LIGHT</a>?</span></b></p>
<div dir="ltr" style="font-family: Tinos; font-size: medium;">
<div class="gmail_quote">
<div dir="ltr">
<div class="gmail_quote">
<div dir="ltr">
<div class="gmail_quote">
<div dir="ltr">
<div class="gmail_quote">
<div dir="ltr">
<div class="gmail_quote">
<div dir="ltr">
<div class="gmail_quote">
<div class="m_4681252097374415547m_6501406344226958861m_-2277302081053877444gmail-m_-3335574534540171712m_-7957655982631965094gmail-HOEnZb">
<div class="m_4681252097374415547m_6501406344226958861m_-2277302081053877444gmail-m_-3335574534540171712m_-7957655982631965094gmail-h5">
<div class="gmail_extra">
<div class="gmail_quote">
<div style="text-align: center;"><a href="./2017/06/son-of-bitch-are-i-clay-d-is-cl-os-ing.html?clnKS/"><img alt="" border="0" height="221" id="BLOGGER_PHOTO_ID_6487653531877358242" sr./i.imgur.com/O7P10O7.png" width="640" /></a><a href="./2017/06/son-of-bitch-are-i-clay-d-is-cl-os-ing.html" target="_blank"><br />
</a></div>
<br />
<div style="text-align: center;"><span style='font-family: "arial black", sans-serif;'>AS IN.. &quot;<a href="./2017/06/son-of-bitch-are-i-clay-d-is-cl-os-ing.html" target="_blank">DIS</a>&nbsp;<i>CL<a href="./2017/08/original-sin.html" target="_blank">OS</a>E</i>&nbsp;<a href=".adragonbreath.blogspot.com/2017/08/waiting-for-that-green-light.html" target="_blank">SIN</a>G....&quot;</span></div>
<br />
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href=".ww.prlog.org/12642309-great-sign-appeared-in-revelation-121-the-sign-of-sagittarius-in-the-word-christ-and-on-taylor.html"><img alt="" border="0" height="192" id="BLOGGER_PHOTO_ID_6487653545740623618" sr./i.imgur.com/l7HPpnV.png" width="640" /></a><a href=".ww.prlog.org/12642309-great-sign-appeared-in-revelation-121-the-sign-of-sagittarius-in-the-word-christ-and-on-taylor.html" target="_blank"><br />
</a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href="./2017/06/verily-i-say-unto-you-ver-means-to-see.html"><img alt="" border="0" height="164" id="BLOGGER_PHOTO_ID_6487653553674902946" sr./i.imgur.com/QyglLcD.png" width="640" /></a><a href="./2017/06/verily-i-say-unto-you-ver-means-to-see.html?danLp/" target="_blank"><br />
</a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<br />
<div style="text-align: center;"><b><span style='font-family: "arial black", sans-serif;'>T H E&nbsp; &nbsp; B U C K&nbsp; &nbsp; S T O P S&nbsp; &nbsp; H E R E</span></b></div>
<br />
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href=".adragonbreath.blogspot.com/2017/09/914.html"><img alt="" border="0" height="189" id="BLOGGER_PHOTO_ID_6487653564025353842" sr./i.imgur.com/jXRJdmv.png" width="640" /></a><a href=".adragonbreath.blogspot.com/2017/09/914.html" target="_blank"><br />
</a></div>
<div style="text-align: center;">&nbsp;</div>
<br />
<div style="text-align: center;"><b><span style='font-family: "arial black", sans-serif;'>ON&nbsp;&nbsp;AM B I&nbsp;<span style="font-size: x-large;">GUI</span>&nbsp;TY</span></b></div>
<br />
<div style="text-align: center;"><a href="//2.bp.blogspot.com/-zM4HipRS-y0/WgjGjV_oDpI/AAAAAAAAKPc/KK8Wf2hss1USQjakfSE3u9e3Fa2V25lXACK4BGAYYCw/s1600/image-756097.png"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6487653573728931474" sr./i.imgur.com/iH31uEd.png" /></a><a href=".ww.qt.io/" target="_blank"><br />
</a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href="./2017/06/son-of-bitch-are-i-clay-d-is-cl-os-ing.html"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6487653585212127970" sr./i.imgur.com/uyDRhCu.png" /></a><a href="./2017/06/son-of-bitch-are-i-clay-d-is-cl-os-ing.html" target="_blank"><br />
</a></div>
<div style="text-align: center;">&nbsp;</div>
<br />
<div style="text-align: center;"><span style='font-family: "arial black", sans-serif;'>S T A R R I N G . . .&nbsp; &nbsp;<i>B I&nbsp;<a href=".adragonbreath.blogspot.com/2017/11/mal-who-to-is-it-all-hallows-morrow.html" target="_blank">A N</a>&nbsp;C A</i></span></div>
<br />
<div style="text-align: center;"><span style='font-family: "arial black", sans-serif; font-style: italic;'><br />
</span></div>
<div style="text-align: center;"><a href=".ww.unduecoercion.com/2017/08/loch-lives-here-so-does-b-of-bon-jovi.html"><img alt="" border="0" height="525" id="BLOGGER_PHOTO_ID_6487653595370875762" sr./i.imgur.com/DhGC9oY.png" width="640" /></a><a href=".ww.unduecoercion.com/2017/08/loch-lives-here-so-does-b-of-bon-jovi.html" target="_blank"><br />
</a></div>
<br />
<div style="text-align: center;"><i><span style='font-family: "arial black", sans-serif;'>ON &quot;</span><a href="./2017/08/original-sin.html" target="_blank" style='font-family: "arial black", sans-serif;'>RIB</a><span style='font-family: "arial black", sans-serif;'>&quot; .. ARE&nbsp;</span><a href="./2017/06/son-of-bitch-are-i-clay-d-is-cl-os-ing.html" target="_blank" style='font-family: "arial black", sans-serif;'>SHE B</a><span style='font-family: "arial black", sans-serif;'>?&nbsp;</span><span style='font-family: "arial narrow", sans-serif;'>BUTT DA&nbsp;<a href="./2017/06/son-of-bitch-are-i-clay-d-is-cl-os-ing.html" target="_blank">APPLE</a>&nbsp;OF&nbsp;<a href="./IRMAX.html" target="_blank">DA I</a>?</span></i></div>
<p style="text-align: center;"><span style='font-family: "arial black", sans-serif; font-size: x-large; text-align: center;'>&amp; SP<a href="./2017/06/verily-i-say-unto-you-ver-means-to-see.html" target="_blank">AN</a>GL<a href=".ww.unduecoercion.com/2017/06/engineered-language-ish-i-see-how-every.html" target="_blank">ISH</a>REW</span></p>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;<a href="./2017/06/id5-i-am-stone.html"><img alt="" border="0" height="400" id="BLOGGER_PHOTO_ID_6487653605808833362" sr./i.imgur.com/lRLsjxD.png" width="322" /></a></div>
<div style="text-align: center;">&nbsp;</div>
<p style="text-align: center;">&nbsp;</p>
<div style="text-align: center;"><b><span style='font-family: "arial black", sans-serif;'>R&nbsp;<a href=".ww.facebook.com/photo.php?fbid=10154283229013420&amp;set=a.10154283230918420&amp;type=3&amp;theater" target="_blank">TH</a>EY L<a href="./2017/06/verily-i-say-unto-you-ver-means-to-see.html" target="_blank">AN</a>GU<a href=".ww.facebook.com/admdbrn" target="_blank">AG</a>E&nbsp;<a href="./2017/08/proof-of-time-travel-should-be-enough.html?PlMKh/" target="_blank">OUTLIERS</a>?</span></b></div>
<p style="text-align: center;">&nbsp;</p>
<div style="text-align: center;"><span style='font-family: "arial black", sans-serif; font-size: large; font-weight: bold;'><br />
</span></div>
<div style="text-align: center;"><a href=".ww.unduecoercion.com/2017/08/cyan-ymene-mor-see-why-an.html"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6487653616566321954" sr./i.imgur.com/NW7Rrwd.png" /></a><a href=".ww.unduecoercion.com/2017/08/cyan-ymene-mor-see-why-an.html" target="_blank"><br />
</a></div>
<div style="text-align: center;"><a href="./2017/06/verily-i-say-unto-you-ver-means-to-see.html?gbKNL/"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6487653625558315618" sr./i.imgur.com/28yRy5J.png" /></a><a href="./2017/06/verily-i-say-unto-you-ver-means-to-see.html" target="_blank"><br />
</a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href=".mass.co/x/c?c=1705067&amp;l=105aea69-0e37-41e2-be1f-d5ca6346f8d1&amp;r=bbb21e5e-3a7a-4415-9770-be995e05395f"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6487653633374256098" sr./i.imgur.com/5aYeo5m.png" /></a><a href=".mass.co/x/c?c=1705067&amp;l=105aea69-0e37-41e2-be1f-d5ca6346f8d1&amp;r=bbb21e5e-3a7a-4415-9770-be995e05395f" target="_blank"><br />
</a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div>
<div style="text-align: center;"><a href=".ww.latimes.com/opinion/la-letter-to-the-editor-htmlstory.html"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6487653641197542738" sr./i.imgur.com/Z4g42kJ.png" /></a></div>
</div>
<div style="text-align: center;">&nbsp;</div>
<div dir="ltr">
<div style="color: rgb(34, 34, 34); text-align: center;">ALSO ON &quot;<b>AM B IG U IT Y</b>&quot; ME&nbsp;<b><a href=".pv6.google.com/sorry/index?continue=.ww.google.com/search%3Fq%3Dadam%2Bmarshall%2Bgerson%2Bdobrinsky%26rlz%3D1CAACAR_enUS749US749%26oq%3Dadam%2Bmarshall%2Bgerson%2Bdobrinsky%26aqs%3Dchrome..69i57.3258j0j9%26sourceid%3Dchrome%26ie%3DUTF-8&amp;q=EhAqAX4BAAAAAPA8kf_-JBmJGPDzs9IFIhkA8aeDS6_yIo_erbHBablmi0oDbcyk9QQcMgFy" target="_blank">A.M. G - D</a>&nbsp;</b>SHE IT Y?</div>
<div style="color: rgb(34, 34, 34); text-align: center;">&nbsp;</div>
<div style="color: rgb(34, 34, 34); text-align: center;">&nbsp;</div>
<div style="color: rgb(34, 34, 34); text-align: center;"><a href=".adragonbreath.blogspot.com/2017/09/applegates-and-covenants.html"><img alt="" border="0" height="640" id="BLOGGER_PHOTO_ID_6487653660994355074" sr./i.imgur.com/RLaLdip.png" width="508" /></a></div>
<div style="color: rgb(34, 34, 34); text-align: center;">&nbsp;</div>
<div style="color: rgb(34, 34, 34); text-align: center;"><span style="font-size: x-large;">LET &quot;<span style='font-family: "comic sans ms", sans-serif;'><a href=".adragonbreath.blogspot.com/2017/11/advocate.html" target="_blank">IT</a></span>&quot; BE&nbsp;<b><span style='font-family: "arial black", sans-serif;'><a href="./2017/07/nightmare-on-elm-street.html" target="_blank">SA<</a>&nbsp;?</span></b></span></div>
<div style="color: rgb(34, 34, 34); text-align: center;">&nbsp;</div>
<div style="color: rgb(34, 34, 34); text-align: center;">&nbsp;</div>
<div style="color: rgb(34, 34, 34); text-align: center;"><a href="//2.bp.blogspot.com/-R_L6mm7gLQo/WgjGo07k7cI/AAAAAAAAKQk/-uhWHGOn9z8JDkxd1P-uDl-XhZMfHNDYQCK4BGAYYCw/s1600/image-777759.png"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6487653667932794306" sr./i.imgur.com/KUfz8Sw.png" /></a></div>
<div style="color: rgb(34, 34, 34); text-align: center;">&nbsp;</div>
<div style="color: rgb(34, 34, 34); text-align: center;">IM<a href=".adragonbreath.blogspot.com/2017/09/ha-lot-are-idaho.html" target="_blank">HO</a>, don't miss the &quot;yet to be&quot; conversion to &quot;<b><a href="./2017/10/the-cure.html" target="_blank">why and</a></b>&nbsp;t<a href="./WHO.html" target="_blank">o be</a>&quot; in &quot;<b><a href="./the_letter_why.html" target="_blank">yetser</a>.</b>&quot;&nbsp;</div>
<div style="color: rgb(34, 34, 34); text-align: center;"><b><span style='font-family: "arial black", sans-serif;'><br />
</span></b></div>
<div style="color: rgb(34, 34, 34); text-align: center;"><b><span style='font-family: "arial black", sans-serif; font-size: x-large;'>IT Y.</span></b></div>
<div style="color: rgb(34, 34, 34); text-align: center;"><b><span style='font-family: "arial black", sans-serif;'><br />
</span></b></div>
<div style="color: rgb(34, 34, 34); text-align: center;"><b><span style='font-family: "arial black", sans-serif;'>ad<a href=".adragonbreath.blogspot.com/2017/11/advocate.html" target="_blank">van</a>tage, AD</span></b></div>
<div style="color: rgb(34, 34, 34); text-align: center;"><b><span style='font-family: "arial black", sans-serif;'><span style="color: white;"><br />
</span></span></b></div>
<div style="text-align: center;"><b><span style='font-family: "arial black", sans-serif;'>as it is ... Work aRe I TEN</span></b></div>
<div style="text-align: center;"><b><span style='font-family: "arial black", sans-serif;'><br />
</span></b></div>
<div style="text-align: center;"><a href="//2.bp.blogspot.com/-C-bBnp6XsRM/WgjGpUsIcbI/AAAAAAAAKQs/5QcKUNHjVRQ4zFUH5DZjstG1HjFFU6_MwCK4BGAYYCw/s1600/image-779808.png"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6487653676457947570" sr./i.imgur.com/WSStkFT.png" /></a><b><span style='font-family: "arial black", sans-serif;'><br />
</span></b></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href="./WHO.html" target="_blank" style='background: rgb(250, 250, 250); color: rgb(0, 158, 184); cursor: pointer; text-decoration-line: none; font-family: "Helvetica Neue Light", HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif; outline: none; display: inline; font-size: 14px;'><img alt="" border="0" id="m_-3891786520669181186m_-5754288123372848090m_-132861295122696697m_8343925523764639198m_5893193359514048527m_-7505032199422910799m_6207595908933025536m_6734150811661630544m_-8177371567841333628gmail-m_-7161498103435935158m_-1989259174400897600gmail-m_2528987995895962901gmail-BLOGGER_PHOTO_ID_6470290926089332754" sr./i.imgur.com/df9Ny67.png" width="400" style="border: 9px none; max-width: 100%; height: auto; box-sizing: border-box; display: inline-block; margin: 10px auto; padding: 8px;" /></a></div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;">
<div style="text-align: center;"><font face="times new roman, serif"><b><font size="6">THE&nbsp;<a href="./2017/10/the-cure.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">CURE</a></font></b><font size="4">&nbsp;BEGINS WITH&nbsp;</font><i style="font-size: large;">KNOWING</i><font size="4">.</font></font></div>
<div style="text-align: center;"><font face="times new roman, serif"><font size="4"><br />
</font></font></div>
<div>
<div style="text-align: justify;">If you can't tell, there's a&nbsp;<a href="./2017/06/id5-i-am-stone.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">significant amount of Biblically predicted censorship</a>&nbsp;surrounding this Revelation and connecting it to a number of stories from the Wall of Jericho to the darkness of Exodus and the&nbsp;<a href="./the_tower_of_babel.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">Tower of Baby El</a>... and through those stories to modern art like &quot;break on through to the other side&quot; and &quot;just another brick&quot; and &quot;light my fire&quot; and &quot;the Sound of Silence.&quot;&nbsp; Here we are, and no matter what reason each individual has, had they a good grasp on the truth--that we are living in a simulated reality where a message from the Sim or God or I or &quot;all of us,&quot; whomever you'd prefer to listen to, is suggesting we use that knowledge to repair the broken freedoms from&nbsp;<a href="./2017/06/id5-i-am-stone.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">speech</a>&nbsp;to&nbsp;<a href=".ww.unduecoercion.com/2017/07/da-gate-to-peace-and-prosperity-is-hey.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">the vote</a>&nbsp;that have come from this dark transition--and through this awakening see that we can easily&nbsp;<a href=".ww.unduecoercion.com/2017/08/eureka.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">end world hunger</a>, and&nbsp;<a href="./2017/10/the-cure.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">cure cancer</a>&nbsp;and&nbsp;<a href="./WHO.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">blindness just</a>&nbsp;as examples... well, with a grasp on &quot;<a href="./WHO.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">the who</a>le truth&quot; this idea of&nbsp;<a href="./IRMAX.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">hiding the fact that we are living in the Matrix</a>&nbsp;becomes stupider and sillier; to the final point that&nbsp;<a href=".ww.unduecoercion.com/2017/08/yesterda.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">not knowing it will eventually cause the end of life</a>, not just&nbsp;<a href="./SERDEN.html?colRW/" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">the loss of freedom that we are trying to repair</a>&nbsp;today.</div>
<div style="text-align: justify;"><br />
The message, from religion to modern art comes packed with advice and examples about how we might proceed on this &quot;voyage to uncharted space&quot; from connecting&nbsp;<a href=".ww.unduecoercion.com/2017/08/eureka.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">Willy Wonka to Joshua's Promised Land</a>&nbsp;and through that link to&nbsp;<a href=".ush.reallyhim.com/" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">the magic of Names</a>&nbsp;that shows us Star Trek and &quot;<b>Rod-den-berry</b>&quot; link to the obvious things we are missing by not seeing &quot;Sim&quot; and &quot;simple&quot; show us Holodecks and&nbsp;<a href=".ww.unduecoercion.com/2017/08/eureka.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">Replicators</a>&nbsp;and&nbsp;<a href="./ADAMSROD.html?fUiLW/" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">transporte<wbr></wbr>rs</a>&nbsp;are part of this map that connects&nbsp;<b>the Rod of Christ</b>&nbsp;to the&nbsp;<b>Den of Adam</b>, with&nbsp;<a href=".ww.unduecoercion.com/2017/08/eureka.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">Holy Purpose</a>.&nbsp; &nbsp;It's only one example, you can see it in t<a href=".adragonbreath.blogspot.com/2017/08/waiting-for-that-green-light.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">he works of Phillip</a>&nbsp;K.&nbsp;<a href=".ww.unduecoercion.com/2017/08/cyan-ymene-mor-see-why-an.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">Dick</a>&nbsp;connecting Al's&nbsp;<a href="./WHO.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">waiting room to Minority Report</a>&nbsp;and Total Recall to &quot;<a href=".hreetag.reallyhjim.com/" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">the d</a>o<a href="./2017/07/roe-v-wade.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">or to reality</a>&quot; in the works of Orwell, and of Simon and Garfunkel and Orson Card and Aldous Huxley .... just to name a few.</div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;">I need your help, not only in &quot;figuring out&quot; how to solve this puzzle of how to accomplish these things without negatively impacting the &quot;stuff of civilization&quot; and also ensuring that they are done--no matter what--because to ignore or delay things like &quot;stopping child starvation&quot; is really a&nbsp;<a href=".adragonbreath.blogspot.com/2017/09/be-alarmed.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">moral fire alarm</a>, and it's going off.&nbsp; You can read about the tens of thousands of reporters and theologians and government employees I've emailed--and really see that this is the kind of message that should be speaking for itself.&nbsp; If anyone has the ability or knows someone that can statistically analyze the &quot;outliers&quot; in language...&nbsp;<a href="./2017/06/verily-i-say-unto-you-ver-means-to-see.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">see Langolier and Yankee Doodle's &quot;macaroni-c&quot;</a>&nbsp;I think that single act will break down the Wall of Jericho and&nbsp;<a href="./2017/10/the-cure.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">eventually lead us to immortality, the end of malady</a>, and to a place where our civilization has&nbsp;<a href="./2017/10/the-cure.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">integrated &quot;simulation reality&quot; and &quot;Heaven&quot;</a>&nbsp;together.&nbsp; &nbsp; If &quot;writing a paper&quot; on the statistical proof that we are in Creation and that time travel and mind control are part of the story of the development of our civilization and&nbsp;<i><a href=".ww.unduecoercion.com/2017/08/loch-lives-here-so-does-b-of-bon-jovi.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">the keys to Exodus</a>&nbsp;</i>sounds like too much work, I hope you'll pass this message along to someone who might be able to do it--and also,&nbsp;<i><b>call a reporter</b>.&nbsp;&nbsp;</i>That's&nbsp;<i>what I hope</i>, anyway.<br />
&nbsp;</div>
</div>
</div>
<p style="text-align: center;"><a href=".adragonbreath.blogspot.com/2017/10/m-e-d-ic-in-e.html" style="background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none; outline: 0px; font-family: Lora, serif; font-size: 20px;"><img sr./i.imgur.com/uRsJhnV.png" width="640" alt="" style="border: 0px; max-width: 100%; height: auto;" /></a></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><a href=".ww.okcupid.com/profile/yitsheyadam" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;"><img sr./i.imgur.com/zkPhow8.png" width="400" alt="" style="border: 0px; max-width: 100%; height: auto;" /></a></p>
<div style="text-align: center;"><span style="color: white;">&nbsp;</span><a href="//2.bp.blogspot.com/-NgRrqlPyENo/WawS9FUCM5I/AAAAAAAAFeY/HRHjp2hiyA0m5Bpl4W0PoD_B1WXHxbzbgCK4BGAYYCw/s1600/image-768304.png" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6461560405977346962" sr./i.imgur.com/FNkCo3H.png" width="400" style="border: 0px; max-width: 100%; height: auto;" /></a><br />
<b><span style='font-family: "arial black", sans-serif; font-size: xx-small;'>HONESTLY, I'M&nbsp;<i><a href=".ww.okcupid.com/profile/yitsheyadam" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">WAY TO CUTE</a></i>&nbsp;TO BE A MONSTER :(</span></b></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a data-saferedirecturl=".ww.google.com/search?hl=en&amp;q=.halk.reallyhim.com/&amp;source=gmail&amp;ust=1505066719726000&amp;usg=AFQjCNEFjXf_puiHceDNQsjhq5FRVUfC3g" href="./2017/06/id5-i-am-stone.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none; font-family: Lora, serif; font-size: 20px;"><img alt="" border="0" id="m_-2406931458228765498m_7062753601417727326gmail-m_258112447631369337m_2341308960067590409m_4521999671932699583gmail-m_-6182954198820330264gmail-m_521289457461777515m_1359743985997052155m_2062399313490225364m_7360525420591546646gmail-BLOGGER_PHOTO_ID_6462507433423724626" sr./i.imgur.com/ND0jP3s.png" width="200" style="border: 0px; max-width: 100%; height: auto;" /></a><span style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px;">&nbsp;</span><a data-saferedirecturl=".ww.google.com/search?hl=en&amp;q=.eart.lamc.la/&amp;source=gmail&amp;ust=1505066719726000&amp;usg=AFQjCNFuHrCyPMnlBmCjnsPFC2pxlerohw" href=".id.me/LCBw?ECE836505441B173" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none; font-family: Lora, serif; font-size: 20px;"><img alt="" border="0" id="m_-2406931458228765498m_7062753601417727326gmail-m_258112447631369337m_2341308960067590409m_4521999671932699583gmail-m_-6182954198820330264gmail-m_521289457461777515m_1359743985997052155m_2062399313490225364m_7360525420591546646gmail-BLOGGER_PHOTO_ID_6462507444807077570" sr./i.imgur.com/Quvud6i.png" width="154" style="border: 0px; max-width: 100%; height: auto; margin-right: 0px;" /></a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;"><b><span style='font-family: "arial black", sans-serif; font-size: medium;'>&quot;<a href="./DICK.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">d</a>&quot; IS A&nbsp;<a href="./DICK.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">PP</a>,&nbsp;<i>EAR</i><span style="color: blue;"><i><a href=".hoiscoming.reallyhim.com/x/c?c=1702932&amp;l=b77093ec-b49a-46eb-a13f-f4cde9accf1f&amp;r=bd98abbb-d6e6-47c4-8efe-1cc1a1c028f6" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">TH</a></i>&nbsp;</span>?</span></b></div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;">&nbsp;</div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;"><a href="./SERDEN.html?OQQZn/" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6487278906279530866" src="//2.bp"".blogspot.com/-zKYUo7zFfCM/Wgdxy0-tEXI/AAAAAAAAKKE/5xlAHrcZOwUno5w7CJFdkZBoqnnOF6pyACK4BGAYYCw/s640/image-720938.png" width="640" style="border: 0px; max-width: 100%; height: auto;" /></a></div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;">&nbsp;</div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;"><b>TH, TO HELP,&nbsp;<a href=".ww.facebook.com/photo.php?fbid=10154283229013420&amp;set=a.10154283230918420&amp;type=3&amp;theater" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">THOR&nbsp;<i>DEFINES</i></a>&nbsp;AS &quot;TO HELP OUR LIGHT&quot;</b></div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;">&nbsp;</div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;"><a href=".ww.facebook.com/photo.php?fbid=10154283229013420&amp;set=a.10154283230918420&amp;type=3&amp;theater" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6487278925499950770" src="//2.bp"".blogspot.com/-f-67PKjbh44/Wgdxz8lNZrI/AAAAAAAAKKM/0OhgfR89j1sVFIxyFxQdx7Cwi9uEIScZQCK4BGAYYCw/s320/image-724839.png" style="border: 0px; max-width: 100%; height: auto;" /></a>&nbsp;<a href="./HYAMDAI.html" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6487278941114038834" src="//2.bp"".blogspot.com/-QP4zV6vMPRI/Wgdx02v5ejI/AAAAAAAAKKU/jHmMJfe4KGsjiFkrHhGEv-FU9DDWs0XcQCK4BGAYYCw/s320/image-728233.png" style="border: 0px; max-width: 100%; height: auto;" /></a></div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;"><center>
<div style="text-align: justify; width: 400px;">&nbsp;</div>
<div style="text-align: justify; width: 400px;">THIS IS WHAT&nbsp;<span style='font-family: "arial black", sans-serif;'>SIX THOUSAND GEORGIA TECH STUDENTS SAW IN THEIR INBOX</span>&nbsp;ON THE FIFTH OF NOVEMBER, 2017.&nbsp;&nbsp;<em>AT LEAST SEVEN OTHER SCHOOLS</em>&nbsp;WERE &quot;CANVASSED&quot; IN A SIMILAR WAY ON OR AROUND THAT DAY.&nbsp; You could see it as &quot;history in the making&quot; or you might also see a &quot;tombstone&quot; because today--if the world doesn't think that &quot;proof of time travel&quot; and the design of every word of every language is &quot;newsworthy&quot; I am fairly certain that our society and our way of life have already&nbsp;<em>crumbled</em>&nbsp;to tiny pieces--in secret.&nbsp; I can point out that&nbsp;<a href=".roups.google.com/a/reallyhim.com/forum/#!forum/saludas" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">this&nbsp;<em>light</em></a>&nbsp;is designed to awaken us to a dark and sinister force of &quot;nothingness&quot; that is attempting to hide a message in every word and every sign, in every song and in every movie--a message that screams at us &quot;to wake the fuck up.&quot;&nbsp; You might not see that having no reaction to this message is a harbinger of&nbsp;<strong>permanent midnight</strong><em>,&nbsp;</em>but I am fairly certain that it is--and that you should understand that this opposition to the truth is hiding a message telling us very clearly that AIDS is an&nbsp;<strong>aid of&nbsp;</strong><em><strong>nomenclature</strong>&nbsp;</em>to help us&nbsp;<a href=".ww.unduecoercion.com/2017/08/yesterda.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">see why it is so important that we understand the difference between &quot;reality&quot; and simulated reality</a>.&nbsp; It really doesn't take much thought to see why&nbsp;<a href="./2017/06/and-fish-were-like-did-you-teach-these.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">this single &quot;fact&quot;</a>&nbsp;when coupled with our innate goodness, natural desires, and understanding of computers and life that&nbsp;<em>we've been</em>&nbsp;<em>created with</em>--acts as a catalyst to turn &quot;simulated reality&quot; into Heaven.&nbsp; If&nbsp;<strong>you need religion</strong><em><strong>&nbsp;</strong>to hold your hand through this process, see that&nbsp;<a href="./HYAMDAI.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">I am Joseph</a>, and that you are my father here called &quot;Heli&quot; in this place where the angels sung &quot;dear father, can you see&quot; by the dawn's early light that they think they've hacked off my &quot;ph&quot; which stands for &quot;pursuit of happiness&quot; after the &quot;se&quot; of &quot;save everyone....&quot; and I'm&nbsp;<strong>very</strong>&nbsp;sure that's not the case--what is being stripped from our world here is actually &quot;freedom and liberty&quot; and the &quot;ph&quot; of Pharaoh and Pharisees is the first fundamental step to salvation that Snow<strong><span style='font-family: "comic sans ms", sans-serif;'>ball(s)</span></strong>&nbsp;and Na<strong><span style='font-family: "arial black", sans-serif;'><a href="./DICK.html?RLOWT/OQQZn/" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">pole</a></span></strong>on of&nbsp;<strong><a href=".ww.unduecoercion.com/2017/08/loch-lives-here-so-does-b-of-bon-jovi.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">freedom</a></strong>&nbsp;out of the light well that is Orwell and&nbsp;<a href="./DICK.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">Hancock</a>.</em><br />
<em><br />
</em>You might imagine that everyone in CS4762 had something interesting to talk about that following Monday morning; and you'll probably understand that the professors and students at every Ivy League school in the nation have something &quot;interesting&quot; to discuss in the&nbsp;<b><a href="./2017/06/verily-i-say-unto-you-ver-means-to-see.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">verifiable</a>&nbsp;proof</b>&nbsp;in every single word of every language that we are created.&nbsp; It's something as to easy to see as &quot;causality&quot; cause, Al... it why?<br />
<br />
Do see that &quot;English&quot; phrases magically appearing in ancient Latin and Hebrew shows us that the etymological evolution of language (and thus society) that we had believed to be accurate is not exactly true--and it proves without doubt that our modern languages,&nbsp;<a href=".adragonbreath.blogspot.com/2017/11/solutions.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;"><span style='font-family: "arial black", sans-serif;'>idioms</span></a>, and culture are the direct result of the influence of a previously hidden force--one that I liken to God.<br />
&nbsp;</div>
</center></div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;"><a href="./2017/06/id5-i-am-stone.html" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6487278959701669186" src="//2.bp"".blogspot.com/-9O9dMG_GQus/Wgdx17_iNUI/AAAAAAAAKKc/5HxYQPTQ7B48-LzxCOH3O73XUhkk4tUcACK4BGAYYCw/s640/Screenshot%2B2017-11-10%2Bat%2B7.31.08%2BPM-732432.png" width="640" style="border: 0px; max-width: 100%; height: auto;" /></a>​</div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;">&nbsp;</div>
<center style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px;">
<div style="text-align: justify; width: 400px;">
<div>Do see that just like the most anticipated news story in all of history, the Second Coming; this proof is absolutely everywhere--not just in your inbox.&nbsp; Do see that failing to recognize that &quot;the biggest scandal ever&quot; (<a href="./WHO.html?WUMOT/" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">c al</a>,&nbsp;<em>it why</em>) ... the fact that we are living&nbsp;<a href=".adragonbreath.blogspot.com/2017/11/mal-who-to-is-it-all-hallows-morrow.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">inside the Matrix</a>&nbsp;with the Matrix itself screaming that's the &quot;matter of fact&quot; of things from&nbsp;<em>satisfactual</em>&nbsp;to&nbsp;<a href="./MEDUSA.html?hTpVU/XKiMV/" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">every news station in the world that appears to be conspiring</a>&nbsp;to hide this very clear evidence that the most sought after &quot;person&quot; ever to live is trying to be found.&nbsp; From my perspective it's pretty obvious that this is not possible in reality; in a place where we all have our own volition and motivation, even if there were an executive order, or a mafioso &quot;blood pact&quot; to hide this&nbsp;<a href=".adragonbreath.blogspot.com/2017/09/applegates-and-covenants.html?OQQZn/" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">ant from the coven</a>, someone.. somewhere... surely would see it's in their own best interest, and the best interest of the world to disclosure the existence of this person that is here to... turn&nbsp;<a href=".adragonbreath.blogspot.com/2017/09/ha-lot-are-idaho.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">stone</a>&nbsp;to&nbsp;<a href=".edium.com/by-the-force-of-key-strokes/in-the-land-of-flowing-milfs-and-honies-we-are-in-the-do-me-of-the-rock-d6e7265536e6" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">bread</a>&nbsp;and to&nbsp;<a href="./CURE.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">heal the sick</a>&nbsp;by doing nothing more than sending a few emails.<br />
&nbsp;</div>
<div>&nbsp;</div>
</div>
</center>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;"><center>
<div style="text-align: justify; width: 400px;">With some &quot;new light&quot; we might see that God is busy at work trying to heal democracy, and free speech, and to show the world the importance of &quot;free thought&quot; and &quot;communication&quot; as we stand at this cornerstone or crossroads or cross that builds Heaven itself from a world that never knew &quot;as it is in Heaven&quot; was a big clue in the Lord's prayer....&nbsp;<em>the whole time.</em>&nbsp; &nbsp;So you might see why &quot;no story&quot; means &quot;see Medusa&quot; in my mind, and I really hope you understand that means that something is making you appear to be a little snake coming out of the head of&nbsp;<a href=".ww.unduecoercion.com/2017/08/loch-lives-here-so-does-b-of-bon-jovi.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">hair of a monster</a>&nbsp;that's trying to keep people sick, and destroy &quot;the news&quot; and &quot;self-representation&quot; in government.&nbsp; I hope you can see why I see that you are part of the problem, you know--until you are calling the news, or emailing other people to try and save ... things like &quot;the truth&quot; from being erased in the sands of &quot;no time at all.&quot;&nbsp;</div>
<div style="text-align: justify; width: 400px;">&nbsp;</div>
<div style="text-align: justify; width: 400px;">We might see why &quot;<a href="./DICK.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">Deepthroat</a>&quot; and tricky&nbsp;<a href="./DICK.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">Dick</a>&nbsp;<i>not being funny</i>; are the keys to why&nbsp;<a href="./DICK.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">Isaac</a>&nbsp;and&nbsp;<a href="./DICK.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">Sarah</a>&nbsp;talk about God giving them laughter; after they realize that not seeing a &quot;cosmic gag real&quot; at all is nothing short of&nbsp;<a href="./DICK.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">slavery</a>, of imparted blindness, of ... logic and&nbsp;<a href="./DICK.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">the natural mechanisms of our brain</a>&nbsp;being subdued like some kind of &quot;anti-psychotic&quot; medication that is actually anti-liberty and anti-sentient life.&nbsp;&nbsp;<span style='font-family: "comic sans ms", sans-serif;'><b><a href="./DICK.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">Microsoft</a></b></span>, that's funny though; right?&nbsp; What about John&nbsp;<a href="./DICK.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">Hancock</a>?&nbsp;&nbsp;<a href="./CURE.html?TgWPa/" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;"><span style='font-family: "arial black", sans-serif;'>Demo cl</span></a>&nbsp;<a href="./DICK.html?OiMSV/" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">racy</a>?</div>
<div style="text-align: justify; width: 400px;">&nbsp;</div>
<div style="text-align: justify; width: 400px;">Connecting &quot;Woodward and Burnstein&quot; to&nbsp;<span style='font-family: "arial black", sans-serif;'><a href="./the_lamb_of_god.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">Isaac's burning wood altar</a></span>&nbsp;could be seen as a &quot;cognitive leap&quot; or with &quot;<b><a href="./DICK.html?bipUb/" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">Burning Man</a></b>&quot; and&nbsp;<b><span style='font-family: "comic sans ms", sans-serif;'>Jesus Christ himself</span></b>&nbsp;screaming at you every single day you might see that it's not just the original intent,&nbsp;<i>it's obvious.&nbsp;&nbsp;</i>It's obvious that you are living in Orwell's land of Goldstein and the Ministry of Shush; and that you aren't really doing anything about it--despite having a map and&nbsp;<a href=".adragonbreath.blogspot.com/2017/11/solutions.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">a real reason to want to make a better world</a>.&nbsp;&nbsp;</div>
<div style="text-align: justify; width: 400px;">&nbsp;</div>
<div style="text-align: justify; width: 400px;">Really seeing why the gate to Heaven is linked to&nbsp;<a href=".adragonbreath.blogspot.com/2017/11/solutions.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">Seagate and to Watergate</a>&nbsp;and to Bill Gates--really understanding it's&nbsp;<a href=".adragonbreath.blogspot.com/2017/08/waiting-for-that-green-light.html?dLpLo/" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">because of Phillip K. Dick</a>&nbsp;and&nbsp;<b>nobody else</b>; well; maybe that's a good first step towards the truth.&nbsp; It's probably important to really recognize why it's important that the person linking &quot;stone to bread&quot; and &quot;healing the sick&quot; to&nbsp;<a href=".ereshit.reallyhim.com" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">Genesis</a>&nbsp;and&nbsp;<a href="./CONFESSION.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">Nintendo</a>and the&nbsp;<a href=".adragonbreath.blogspot.com/2017/11/mal-who-to-is-it-all-hallows-morrow.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">Xbox</a>&nbsp;and a recursive pattern of seeing the &quot;heart of hearts&quot; connect these otherwise game like references to something more than &quot;<a href="./2017/06/its-not-game-ive-got-no-game-win.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">it's not a game</a>.&quot;</div>
<div style="text-align: justify; width: 400px;">&nbsp;</div>
<div style="text-align: justify; width: 400px;"><b><span style='font-family: "arial black", sans-serif;'><a href="./2017/06/enders-game-prometheus-locke-and.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">Magdeline</a></span></b>, that's what it means to me, &quot;it's not a game&quot; like&nbsp;<a href="./2017/06/its-not-game-ive-got-no-game-win.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">Olsen and Momsen</a>and Maggie Simpson; it's&nbsp;<span style='font-family: "comic sans ms", sans-serif;'><a href="./2017/06/id5-i-am-stone.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">not a game &quot;of words&quot;</a></span>&nbsp;or a game of&nbsp;<b><span style='font-family: "arial black", sans-serif;'><a href="./DICK.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">log</a></span></b>ic... as the letters &quot;<a href="./2017/06/its-not-game-ive-got-no-game-win.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">mag</a>&quot; and&nbsp;<i>the natural&nbsp;<b><span style='font-family: "arial black", sans-serif;'><a href="./DICK.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">log</a></span></b>&nbsp;function</i>&nbsp;might imply.</div>
<div style="text-align: justify; width: 400px;">&nbsp;</div>
<div style="text-align: justify; width: 400px;">It really doesn't take much to see that either this &quot;proof of causality&quot; proving that we are in a place and time that is the &quot;product&quot; of time travel and of a message showing the world that will be seen...&nbsp;<i>by the whole world;&nbsp;</i>or we're in a place that I don't want to be--in a place where logic doesn't matter, or the truth, and I can't imagine that&nbsp;<a href=".ww.youtube.com/watch?v=IXdNnw99-Ic" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;"><span style='font-family: "arial narrow", sans-serif;'>you want to be in that place</span></a>--either.&nbsp; That's not what your &quot;<b>actions</b>&quot; are telling me, though.</div>
</center></div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;">&nbsp;</div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;"><b><span style='font-family: "arial black", sans-serif; font-size: medium;'>T&nbsp; H&nbsp; I&nbsp; S&nbsp; &nbsp; I&nbsp; S&nbsp; &nbsp; W&nbsp; H&nbsp; Y</span></b></div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;"><a href="./CURE.html" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6487278973995814066" src="//2.bp"".blogspot.com/-iVoUmAtXOd0/Wgdx2xPhjLI/AAAAAAAAKKk/KzOJnmNUKzIGBhlTTq_noal8_VOhy_aLQCK4BGAYYCw/s640/image-736908.png" width="640" style="border: 0px; max-width: 100%; height: auto;" /></a></div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;"><br />
&nbsp;</div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;"><b><span style='font-family: "arial black", sans-serif; font-size: medium;'><i>THIS</i>&nbsp;BELONGS ON THE NEWS, OR</span></b></div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;"><b><span style='font-family: "arial black", sans-serif; font-size: medium;'><br />
</span></b></div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;"><a href="./MEDUSA.html" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6487278987655973554" src="//2.bp"".blogspot.com/-UYHlUBDJGqk/Wgdx3kIXCrI/AAAAAAAAKKs/Z0ioBR52WpYfGtWdnaLIj5ml3eX9LS1WgCK4BGAYYCw/s320/image-740200.png" style="border: 0px; max-width: 100%; height: auto;" /></a></div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;"><a href=".adragonbreath.blogspot.com/2017/10/m-e-d-ic-in-e.html" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6487279000243766274" src="//2.bp"".blogspot.com/-5Vlg_LBiAss/Wgdx4TBhhAI/AAAAAAAAKK0/WXCyBl_NP-IPeQBBeCY-WZ510-kVvSM-QCK4BGAYYCw/s320/image-743400.png" style="border: 0px; max-width: 100%; height: auto;" /></a></div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;">&nbsp;</div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;"><a href="./HYAMDAI.html" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6487279013177160770" src="//2.bp"".blogspot.com/-RpVQhX4706E/Wgdx5DNFdEI/AAAAAAAAKLA/8fb7ayWs47Q5_iWIDFEGO0pt_yz0oUIzACK4BGAYYCw/s320/image-746768.png" style="border: 0px; max-width: 100%; height: auto;" /></a></div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;">&nbsp;</div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;">As far as &quot;<a href=".n.wikipedia.org/wiki/Cronus" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;"><span style='font-family: "comic sans ms", sans-serif;'>tests of time</span></a>&quot; go.... though,&nbsp;</div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;">&nbsp;</div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;"><span style="font-size: x-large;">I would&nbsp;<a href=".adragonbreath.blogspot.com/2017/11/mal-who-to-is-it-all-hallows-morrow.html?pMNMK/" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;"><span style='font-family: "arial black", sans-serif; font-weight: bold;'>h</span><span style='font-family: "arial narrow", sans-serif;'>as</span><span style='font-family: "arial black", sans-serif; font-weight: bold;'>ten</span></a>&nbsp;</span></div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;">&nbsp;</div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;">to say that this is&nbsp;<a href=".ereshit.reallyhim.com" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">not a game</a>&nbsp;you appear to be w<a href="./CURE.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">inn</a>ing, not today, anyway.</div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;">&nbsp;</div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;"><a href="./2017/09/sol-see-our-light-on-abomnination-of.html?WSZPQ/" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6487279027089564466" src="//2.bp"".blogspot.com/-jw5Zd87yPdE/Wgdx53CD4zI/AAAAAAAAKLQ/UvUvGpZSm-UZChO3XTR96zME4JlslaIxQCK4BGAYYCw/s320/image-781575-750035.png" style="border: 0px; max-width: 100%; height: auto;" /></a></div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;"><span style="font-size: xx-small;"><br />
</span></div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;"><span style="font-size: xx-small;"><span style='font-family: "comic sans ms", sans-serif;'>I DON'T THINK</span>&nbsp;YOU ARE AN ANGEL,&nbsp;<span style='font-family: "comic sans ms", sans-serif;'>EITHER</span>.</span></div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;"><br />
<a href="./WHO.html" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6487279046027614242" src="//2.bp"".blogspot.com/-zMhsVdgGTUA/Wgdx69lPmCI/AAAAAAAAKLc/NvEAnHLfrlcau92IiLuuzuskfgrUilsrQCK4BGAYYCw/s640/image-774704-753763.png" width="640" style="border: 0px; max-width: 100%; height: auto;" /></a></div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;"><a href=".adragonbreath.blogspot.com/2017/11/mal-who-to-is-it-all-hallows-morrow.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;"><br />
</a></div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;"><a href=".adragonbreath.blogspot.com/2017/11/mal-who-to-is-it-all-hallows-morrow.html" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;"><TR> &quot;IN IT&quot; Y?</a></div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;">&nbsp;</div>
<div style="color: rgb(41, 41, 41); font-family: Lora, serif; font-size: 20px; text-align: center;"><span style="font-size: x-large;"><b><a href=".ww.youtube.com/watch?v=xwtdhWltSIg" target="_blank" style="background: transparent; color: rgb(37, 161, 134); cursor: pointer; text-decoration-line: none;">TRY</a></b></span>.<br />
&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="color: rgb(34, 34, 34); text-align: center;"><b><span style='font-family: "arial black", sans-serif;'><span style="color: white;"><br />
</span></span></b></div>
<div style="color: rgb(34, 34, 34); text-align: center;"><b><span style='font-family: "arial black", sans-serif;'><span style="color: white;"><br />
</span></span></b></div>
<div style="color: rgb(34, 34, 34); text-align: center;"><b><span style='font-family: "arial black", sans-serif;'><span style="color: white;">can you tell us what IT is?</span></span></b></div>
<div style="color: rgb(34, 34, 34); text-align: center;">&nbsp;</div>
<div style="color: rgb(34, 34, 34); text-align: center;">&nbsp;</div>
</div>
<div hspace="streak-pt-mark" style="color: rgb(34, 34, 34); max-height: 1px; text-align: center;"><img alt="" sr./i.imgur.com/VyRMzNk.png" style="max-height: 0px; overflow: hidden; width: 0px;" /><span style="color: white; font-size: xx-small;">&aacute;&sect;</span></div>
<div class="m_4681252097374415547m_6501406344226958861m_-2277302081053877444gmail-m_-3335574534540171712m_-7957655982631965094gmail-HOEnZb" style="color: rgb(34, 34, 34);">
<div class="m_4681252097374415547m_6501406344226958861m_-2277302081053877444gmail-m_-3335574534540171712m_-7957655982631965094gmail-h5">
<div class="gmail_extra" style="text-align: center;">&nbsp;</div>
</div>
</div>
<div style="text-align: center;">&nbsp;</div>
<blockquote class="gmail_quote" style="border-left: 1px solid rgb(204, 204, 204); margin: 0px 0px 0px 0.8ex; padding-left: 1ex;">
<div dir="ltr">
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><span style="color: white;">B YOU GOOEY?</span></div>
<div style="text-align: center;"><span style="color: white;"><br />
</span></div>
<div style="text-align: center;"><span style="color: white;">YRQT?</span></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><b><span style='font-family: "arial black", sans-serif; font-size: x-large;'><br />
</span></b></div>
<div style="text-align: center;"><b><span style='font-family: "arial black", sans-serif; font-size: x-large;'><br />
</span></b></div>
</div>
<div hspace="streak-pt-mark" style="max-height: 1px; text-align: center;"><img alt="" sr./i.imgur.com/gubxxLK.png" style="max-height: 0px; overflow: hidden; width: 0px;" /><span style="color: white; font-size: xx-small;">&aacute;&sect;</span></div>
</blockquote></div>
<div style="text-align: center;">&nbsp;</div>
</div>
</div>
</div>
</div>
<div style="text-align: center;">&nbsp;</div>
</div>
<div hspace="streak-pt-mark" style="max-height: 1px; text-align: center;"><img alt="" src=".ailfoogae.appspot.com/t?sender=aYWRhbUBmcm9tdGhlbWFjaGluZS5vcmc%3D&amp;type=zerocontent&amp;guid=eeed1f03-adf7-498a-aa47-7aa3b92b7a4c" style="max-height: 0px; overflow: hidden; width: 0px;" /><span style="color: white; font-size: xx-small;">&aacute;&sect;</span></div>
</div>
</div>
<p style="text-align: center;"><img src=".eetdaeyeora.fromthemachine.org/x/o?u=bbb21e5e-3a7a-4415-9770-be995e05395f&amp;c=1705067" height="0" width="0" alt="" /></p>
</div>
</div>
<div hspace="streak-pt-mark" style="max-height: 1px; text-align: center;"><img alt="" src=".ailfoogae.appspot.com/t?sender=aYWRhbUBmcm9tdGhlbWFjaGluZS5vcmc%3D&amp;type=zerocontent&amp;guid=8ba10349-f730-4259-82af-4e32f290ff44" style="max-height: 0px; overflow: hidden; width: 0px;" /><span style="color: white; font-size: xx-small;">&aacute;&sect;</span></div>
</div>
</div>
<div hspace="streak-pt-mark" style="max-height: 1px; text-align: center;"><img alt="" src=".ailfoogae.appspot.com/t?sender=aYWRhbUBmcm9tdGhlbWFjaGluZS5vcmc%3D&amp;type=zerocontent&amp;guid=726bea89-6490-4aa0-adf6-2dfb810b38aa" style="max-height: 0px; overflow: hidden; width: 0px;" /><span style="color: white; font-size: xx-small;">&aacute;&sect;</span></div>
</div>
</div>
<div hspace="streak-pt-mark" style="max-height: 1px; text-align: center;"><img alt="" src=".ailfoogae.appspot.com/t?sender=aYWRhbUBmcm9tdGhlbWFjaGluZS5vcmc%3D&amp;type=zerocontent&amp;guid=bd4ca676-9816-4815-b113-131335b7fbe7" style="max-height: 0px; overflow: hidden; width: 0px;" /><span style="color: white; font-size: xx-small;">&aacute;&sect;</span></div>
</div>
</div>
<p style="text-align: center;">&nbsp;</p>
