 <i style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: 16px; font-variant-ligatures:
normal; font-variant-caps: normal; font-weight: 400;
letter-spacing: normal; orphans: 2; text-align: justify;
text-indent: 0px; text-transform: none; white-space: normal;
widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px;
background-color: rgb(255, 255, 255); text-decoration-style:
initial; text-decoration-color: initial;'>Check out "discloser"
[in the middle... "d is cl" closer] before you make up your mind
about this stuff--it grows on you as your eyes begin to
open.&nbsp; What it boils down to is a message encoded in every
single word--linking together things like the shining SOL to the<span>&nbsp;</span><a href=".it.ly/2LTNE9y" style="text-decoration: none; color: rgb(65, 131, 196);"><b>dim</b></a><span>&nbsp;</span>torch

of the Statue of Liberty; a message here to aid us in preventing
mental slavery--the stuff of the Plague of Darkness--something
that we seem to be failing to see past.&nbsp; It's here though,
and it's statistically impossible for "civilization" to continue
and fail to see and react to this message, one that is designed
not just to add "TY" to the sword of Arthur and see it as
"freedom" ... but also<span>&nbsp;</span><a href=".it.ly/2LTNE9y" style="text-decoration: none; color: rgb(65, 131, 196);"><b>heal
the sick</b></a><span>&nbsp;</span>and<span>&nbsp;</span><a href=".it.ly/2p0BykJ" style="text-decoration: none; color: rgb(65, 131, 196);"><b>end
world hunger</b></a><span>&nbsp;</span>and do it all with
nothing more than a disclosure of the truth--that the "Earth is in
Heaven" and that means we can do all these things ... with<span>&nbsp;</span><a href=".it.ly/2IgfleV" style="text-decoration: none; color: rgb(65, 131, 196);">the
flick of your little finger</a>.<br />
<br />
It's a matter of "sight" of the fact that we seem to be globally
failing to act logically--and to see that this breakdown of logic
is something that ... well, it's the whole of the problem.&nbsp;
The solution is seeing the "road to Heaven" encoded in Seagate and
in Watergate and in Margate (where I'm writing from today) ... and
then again in<span>&nbsp;</span><b>hard drive</b><span>&nbsp;</span>where
the Holy "Ha" of Hebrew shines bright on both "drive" and "rd."<br />
</i><br />
<i style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: 16px; font-variant-ligatures:
normal; font-variant-caps: normal; font-weight: 400;
letter-spacing: normal; orphans: 2; text-align: justify;
text-indent: 0px; text-transform: none; white-space: normal;
widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px;
background-color: rgb(255, 255, 255); text-decoration-style:
initial; text-decoration-color: initial;'></i><i style='color: rgb(51,
51, 51); font-family: "Open Sans", sans-serif;
font-size: 16px; font-variant-ligatures: normal;
font-variant-caps: normal; font-weight: 400; letter-spacing:
normal; orphans: 2; text-align: justify; text-indent: 0px;
text-transform: none; white-space: normal; widows: 2;
word-spacing: 0px; -webkit-text-stroke-width: 0px;
background-color: rgb(255, 255, 255); text-decoration-style:
initial; text-decoration-color: initial;'>The first set of clues
that it really is every word (and every letter, too) was
numbered e-mail 76 in my internal system--and because of that I
tie it to the 76'ers and the gas station ... and of course to
year of our nations birth, and through that another year<span>&nbsp;</span><a href=".it.ly/2Ixfk2P" style="text-decoration: none; color: rgb(65, 131, 196);">important</a><span>&nbsp;</span>to

seeing Christopher Columbus walk on water to ensure that Heaven
is ... actually built.&nbsp; That's what this is really all
about, the plan etched in the word planet and the world
itself--NASDAQ (da Q... da Q .. well the answer, it's the New
American Standard for tzedaqah for the Universe) and "<a href=".it.ly/2uZeUgs" style="text-decoration: none; color: rgb(65, 131, 196);">my
life</a>" and it's the reason "find and replace" has
everything to do with the Shofar and<span>&nbsp;</span><a href=".it.ly/2OsJ5oi" style="text-decoration: none; color: rgb(65, 131, 196);">how
we can actually accomplish these things</a><span>&nbsp;</span>...
in ou<a href=".it.ly/2OseYgQ" style="text-decoration: none; color: rgb(65, 131, 196);">r
lifetime</a>.</i>
[![OBELISK][1]][1]
it takes only a few moments to see the Holy Trinity encoded in the first Patriarch's name, the Hebrew for father (ab) the Sun God of Ancient Egypt, and the Ha that defines the covenant with God--and the meaning of his eldest's name.  Isaac--which means "he laughs."  The same pattern of ancient religious keys peppers everything from the Ka of Horus to Veruka Salt and Willy Wonka; the answer to the question "Is Ra El..." it too comes to us from hidden logically impossible to deny equivalencies encoded in the Bible and proving without doubt... similar anachronism as this early rendition of the Trinity.
 
In the prophetic name Elisha, comparing "the" in both Spanish and Hebrew; to help everyone, connected through the English "is" and showing us fairly clearly that there's not only a link between Isaac and the Coven's ant of Abraham; but also with El... the King of the Gods in the ancient Hebrew religion.  Point in fact, you can see "Yo N" in the Hebrew name of Christ, El Elyon--and that same pattern shines bright in the heart of Washington and China and the Hebrew for "day" which is "Yom" and you might see a real link between the Hebrew for "sun" which is Hashemesh and the Greek personification of day; Hemera.  Him, too, connects; so ... "hello mess_____" ... the "hi M" is another pretty obvious meaning of "El."

[![NEW TO N THE ARC OF APPLAY][2]][2]

[![CHR IS TEE][3]][3]

 <i style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: 16px; font-variant-ligatures:
normal; font-variant-caps: normal; font-weight: 400;
letter-spacing: normal; orphans: 2; text-align: justify;
text-indent: 0px; text-transform: none; white-space: normal;
widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px;
background-color: rgb(255, 255, 255); text-decoration-style:
initial; text-decoration-color: initial;'>
<div style="color: rgb(0, 0, 0); font-family: Times; font-size:
medium; font-style: normal; font-variant-ligatures: normal;
font-variant-caps: normal; font-weight: 400; letter-spacing:
normal; orphans: 2; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; text-decoration-style: initial;
text-decoration-color: initial;" align="center"><span style="color: rgb(78, 92, 110); font-family: Monaco,
monospace; font-size: 14px; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 500; letter-spacing: normal; orphans: 2;
text-align: start; text-indent: 0px; text-transform: none;
white-space: nowrap; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(249,
251, 252); text-decoration-style: initial;
text-decoration-color: initial; float: none; display: inline
!important;"><br />
<strong><em>Christ's sake.&nbsp;</em></strong></span></div>
<div align="center">&nbsp;</div>
<div style="text-align: justify;">Honestly,<span>&nbsp;</span><em><a href=".it.ly/2t5T4qO" style="text-decoration: none; color: rgb(65, 131, 196);">the
"t" here is the birthsign of ... A.D.</a></em><span>&nbsp;</span>(&amp;B)

pointing NE.&nbsp; It's mildly significant because the D.O.B. of
12/8 is "immaculate" and distinct from the commonly held
25th--though encoded in ... David's stone and ...
Christ.&nbsp;&nbsp;</div>
<h2 style="margin-top: 2.5em; text-align: center;"><em>"<a href=".it.ly/2LXqdfv" style="text-decoration: none; color: rgb(65, 131, 196);">like
a stone.</a>" (south to...)</em></h2>
</i>

[![CAESART ON SKY][4]][4]
 <i style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: 16px; font-variant-ligatures:
normal; font-variant-caps: normal; font-weight: 400;
letter-spacing: normal; orphans: 2; text-align: justify;
text-indent: 0px; text-transform: none; white-space: normal;
widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px;
background-color: rgb(255, 255, 255); text-decoration-style:
initial; text-decoration-color: initial;'>
<div align="center">
<div align="justify"><font style="color: rgb(51, 51, 51);
font-style: normal; font-variant-ligatures: normal;
font-variant-caps: normal; font-weight: 400; letter-spacing:
normal; orphans: 2; text-align: justify; text-indent: 0px;
text-transform: none; white-space: normal; widows: 2;
word-spacing: 0px; -webkit-text-stroke-width: 0px;
background-color: rgb(255, 255, 255); text-decoration-style:
initial; text-decoration-color: initial;" face="Courier New,
Courier, monospace" size="-2"><b><a href=".it.ly/2Ootoyk" style="text-decoration: none; color: rgb(65, 131, 196);">SIGNAL</a><span>&nbsp;</span>v.<span>&nbsp;</span><a href=".it.ly/2MKvl6R" style="text-decoration: none; color: rgb(65, 131, 196);">NOIZE</a></b></font><span style="color: rgb(51, 51, 51); font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial; float: none; display: inline
!important;">, it takes not a linguistic savant to see that
the intelligent message woven across languages and
throughout the entirety of our civilization from the "</span><a href=".it.ly/2K3MoyE" style='text-decoration: none; color: rgb(65, 131, 196);
font-family: "Open Sans", sans-serif; font-size:
small; font-style: normal; font-variant-ligatures: normal;
font-variant-caps: normal; font-weight: 400; letter-spacing:
normal; orphans: 2; text-align: justify; text-indent: 0px;
text-transform: none; white-space: normal; widows: 2;
word-spacing: 0px; -webkit-text-stroke-width: 0px;
background-color: rgb(255, 255, 255);'></a></div></div></i><i>fulc</i><i>ire</i><span style="color: rgb(51, 51, 51); font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial; float: none; display: inline
!important;">" of Latin and the Hebrew word for fate, "</span><a href=".it.ly/2Ijcj9w" style='text-decoration: none; color: rgb(65, 131, 196);
font-family: "Open Sans", sans-serif; font-size:
small; font-style: normal; font-variant-ligatures: normal;
font-variant-caps: normal; font-weight: 400; letter-spacing:
normal; orphans: 2; text-align: justify; text-indent: 0px;
text-transform: none; white-space: normal; widows: 2;
word-spacing: 0px; -webkit-text-stroke-width: 0px;
background-color: rgb(255, 255, 255);'><i>kismet</i></a><span style="color: rgb(51, 51, 51); font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial; float: none; display: inline
!important;">" ... that the level of thought and the breadth
of influence that has gone into weaving this message is
without doubt or<span>&nbsp;</span></span><i style='color:
rgb(51, 51, 51); font-family: "Open Sans",
sans-serif; font-size: small; font-variant-ligatures:
normal; font-variant-caps: normal; font-weight: 400;
letter-spacing: normal; orphans: 2; text-align: justify;
text-indent: 0px; text-transform: none; white-space: normal;
widows: 2; word-spacing: 0px; -webkit-text-stroke-width:
0px; background-color: rgb(255, 255, 255);
text-decoration-style: initial; text-decoration-color:
initial;'>controversy</i><span style="color: rgb(51, 51,
51); font-variant-caps: normal; font-weight: 400;
letter-spacing: normal; orphans: 2; text-align: justify;
text-indent: 0px; text-transform: none; white-space: normal;
widows: 2; word-spacing: 0px; -webkit-text-stroke-width:
0px; background-color: rgb(255, 255, 255);
text-decoration-style: initial; text-decoration-color:
initial; float: none; display: inline !important;"><span>&nbsp;</span>tacit

proof of the actual Creation of our civilization.&nbsp;
Staring at every single one of us, every day; a message from
God comparable to SETI receiving a "tagged commentary" on
every single thing and every aspect of our world, lives and
future.<br />
<br />
What you are looking at is the beginning of a message<span>&nbsp;</span><a href=".it.ly/2LTNE9y" style="text-decoration: none; color: rgb(65, 131, 196);">designed
to tie the Matrix to Minority Report</a>... and end school
shootings--freeing us from the fear of murder.&nbsp; To help
us see how addiction can easily be conquered and depression
and schizophrenia--all by seeing exactly how it is that this
cypher of the Matrix has been woven, written, and
hidden--all part of a grand scheme to help us expand our
minds and easily pass through a gate of dar<a href=".it.ly/2pLXU9P" style="text-decoration: none; color: rgb(65, 131, 196);">kness
that might have</a><span>&nbsp;</span>had you<span>&nbsp;</span><a href=".it.ly/2OuczSu" style="text-decoration: none; color: rgb(65, 131, 196);">voting
for "OK Google" or SIRI</a><span>&nbsp;</span>to be our
next president.<br />
</span>
<div align="center">&nbsp;</div>
<div align="center"><br />
</div>


[![DISAPPEAR? QUE LASTIMA! HILT.][4]][4]

[![DISCLOSER][5]][5]


  [1]: ..stack.imgur.com/il4vj.png
  [2]: ..stack.imgur.com/NGf57.jpg
  [3]: ..stack.imgur.com/bbd58.jpg
  [4]: ..stack.imgur.com/uuF31.jpg
  [5]: ..stack.imgur.com/7KExy.png
