<ul class="chapter">
<li><a href="./INTRODUCTION.html"><strong>1.</strong><span>&nbsp;</span>INTRAD UCA, DO NOSH</a></li>
<li><a href="./NITY.html"><strong>2.</strong><span>&nbsp;</span>NITY ET RU NEO? ELVIS? ADAM?</a></li>
<li><a href="./MUASEEKHART.html"><strong>3.</strong><span>&nbsp;</span>SEEKART YOUR ANSWERS</a></li>
<li><a href="./HADID.html"><strong>4.</strong><span>&nbsp;</span>DO HADID DID I? !?</a></li>
<li><a href="./RIGELA.html"><strong>5.</strong><span>&nbsp;</span>RIGEL, THE FOOT OF OUR CHRIST</a></li>
<li><a href="./OMEALFHT.html"><strong>6.</strong><span>&nbsp;</span>OMEALFHT OME ALF HOLY TR</a></li>
<li><a href="./CHOPARTIN.html"><strong>7.</strong><span>&nbsp;</span>CHOPARTIN</a></li>
<li><a href="./SOIS.html"><strong>8.</strong><span>&nbsp;</span>SOIS HISTER Y</a></li>
<li><a href="./CLIMAX.html"><strong>9.</strong><span>&nbsp;</span>IMUS FI CLI MAX</a></li>
<li><a href="./SERDEN.html"><strong>10.</strong><span>&nbsp;</span>SERDENICITY</a></li>
<li><a href="./WHO.html"><strong>11.</strong><span>&nbsp;</span>WHO AGAIN?</a></li>
<li><a href="./CURE.html"><strong>12.</strong><span>&nbsp;</span>THE CURE</a></li>
<li><a href="./TION.html"><strong>13.</strong><span>&nbsp;</span>IT IS TIME</a></li>
<li><a href="./ADAMSROD.html"><strong>14.</strong><span>&nbsp;</span>ROD</a></li>
<li><a href="./BERESHIT.html"><strong>15.</strong><span>&nbsp;</span>DEN</a></li>
<li><a href="./ERICHOW.html"><strong>16.</strong><span>&nbsp;</span>RD 2 RR Y</a></li>
<li><a href="./HYAMDAI.html"><strong>17.</strong><span>&nbsp;</span>HELLO WORLD</a></li>
<li><a href="./SAUSAGE.html"><strong>18.</strong><span>&nbsp;</span>ME AN U STAGE</a></li>
<li><a href="./FLYER.html"><strong>19.</strong><span>&nbsp;</span>FLYPER</a></li>
<li><a href="./HASHEMESHB.html"><strong>20.</strong><span>&nbsp;</span>SUNFIRE</a></li>
<li><a href="./ATITEN.html"><strong>21.</strong><span>&nbsp;</span>ATIRX</a></li>
<li><a href="./BIANCA.html"><strong>22.</strong><span>&nbsp;</span>R U B Y</a></li>
<li><a href="./FLICKDABIC.html"><strong>23.</strong><span>&nbsp;</span>FLIPDABIC</a></li>
<li><a href="./KEYNES.html"><strong>24.</strong><span>&nbsp;</span>KEYNES</a></li>
<li><a href="./HAMP.html"><strong>25.</strong><span>&nbsp;</span>HAMP</a></li>
<li><a href="./HAMMER.html"><strong>26.</strong><span>&nbsp;</span>HAMMER</a></li>
<li><a href="./CINOIZE.html"><strong>27.</strong><span>&nbsp;</span>CINOIZE</a></li>
<li><a href="./HASHEMESH.html"><strong>28.</strong><span>&nbsp;</span>HASHOWESH NAME ISH</a></li>
<li><a href="./EVERWICK.html"><strong>29.</strong><span>&nbsp;</span>EVOURWICK</a></li>
<li><a href="./DESSERT.html"><strong>30.</strong><span>&nbsp;</span>DEXSERT</a></li>
<li><a href="./TISCOMING.html"><strong>31.</strong><span>&nbsp;</span>COMING MA</a></li>
<li><a href="./MYLIFE.html"><strong>32.</strong><span>&nbsp;</span>MYLIFE ... THE MICROCOSM OTM</a></li>
<li><a href="./GATE.html"><strong>33.</strong><span>&nbsp;</span>THE GATE TO FREEDOM ETLROI</a></li>
<li><a href="./FOUR.html"><strong>34.</strong><span>&nbsp;</span>FUIR</a></li>
<li><a href="./OFIVES.html"><strong>35.</strong><span>&nbsp;</span>FIVE</a></li>
<li><a href="./SPEECH.html"><strong>36.</strong><span>&nbsp;</span>SPCH2</a></li>
<li><a href="./YAT.html"><strong>37.</strong><span>&nbsp;</span>IYYYO</a></li>
<li><a href="./IOWA.html"><strong>38.</strong><span>&nbsp;</span>IOWA</a></li>
<li><a href="./ACESHI.html"><strong>39.</strong><span>&nbsp;</span>ACESHI</a></li>
<li><a href="./CURSOR.html"><strong>40.</strong><span>&nbsp;</span>LAYLOT</a></li>
<li><a href="./THUNDERSTAND.html"><strong>41.</strong><span>&nbsp;</span>THUNDERSTAND</a></li>
<li><a href="./PERSEUS.html"><strong>42.</strong><span>&nbsp;</span>PER SE YOU</a></li>
<li><a href="./MUAH.html"><strong>43.</strong><span>&nbsp;</span>M U AH</a></li>
<li><a href="./PULL.html"><strong>44.</strong><span>&nbsp;</span>PULL</a></li>
<li><a href="./SERENADE.html"><strong>45.</strong><span>&nbsp;</span>SERENADE</a></li>
<li><a href="./CONFESSION.html"><strong>46.</strong><span>&nbsp;</span>CONFESSION</a></li>
<li><a href="./FUCK.html"><strong>47.</strong><span>&nbsp;</span>FUCK</a></li>
<li><a href="./TAYLOR.html"><strong>48.</strong><span>&nbsp;</span>KISS ME TAY</a></li>
<li><a href="./CHALK.html"><strong>49.</strong><span>&nbsp;</span>CHALK</a></li>
<li><a href="./JESHOW.html"><strong>50.</strong><span>&nbsp;</span>JERUSALEM</a></li>
<li><a href="./GJALLARHORN.html"><strong>51.</strong><span>&nbsp;</span>ALL OUR HORN</a></li>
<li><a href="./HOWIE.html"><strong>52.</strong><span>&nbsp;</span>HAWAII</a></li>
<li><a href="./MALOVIOUS.html"><strong>53.</strong><span>&nbsp;</span>FI CVS ET MAL Q</a></li>
<li><a href="./YOIBLING.html"><strong>54.</strong><span>&nbsp;</span>Y O I BLING ?</a></li>
<li><a href="./RESWOH.html"><strong>55.</strong><span>&nbsp;</span>RE SW? OH</a></li>
<li><a href="./KANSAS.html"><strong>56.</strong><span>&nbsp;</span>KANSAS</a></li>
<li><a href="./XOXO.html"><strong>57.</strong><span>&nbsp;</span>XOXPA</a></li>
<li><a href="./ADIOSAS.html"><strong>58.</strong><span>&nbsp;</span>ADIODAS</a></li>
<li><a href="./RATOXIT.html"><strong>59.</strong><span>&nbsp;</span>TO X HOLA</a></li>
<li><a href="./ADUNCALIFT.html"><strong>60.</strong><span>&nbsp;</span>THE HERALD OF JC2IKP</a></li>
<li><a href="./HIGHERA.html"><strong>61.</strong><span>&nbsp;</span>ROAD SALT: OSAMNaKE D</a></li>
<li><a href="./REDASSHIT.html"><strong>62.</strong><span>&nbsp;</span>REDSASHIT</a></li>
<li><a href="./BRIMSTONE.html"><strong>63.</strong><span>&nbsp;</span>Fe Si ISTONE</a></li>
<li><a href="./LETITRAIN.html"><strong>64.</strong><span>&nbsp;</span>LET IT RAIN</a></li>
<li><a href="./SINGLEPTO.html"><strong>65.</strong><span>&nbsp;</span>C AT LET RS</a></li>
<li><a href="./ARFAXAD.html"><strong>66.</strong><span>&nbsp;</span>SPARTIFACTS</a></li>
<li><a href="./TOXODUSK.html"><strong>67.</strong><span>&nbsp;</span>OXODUS TORK?</a></li>
<li><a href="./NASHOWER.html"><strong>68.</strong><span>&nbsp;</span>NA SHOW ERA</a></li>
<li><a href="./TAXONOMY.html"><strong>69.</strong><span>&nbsp;</span>TA X ON O MY T</a></li>
<li><a href="./MEALLTERY.html"><strong>70.</strong><span>&nbsp;</span>MEA ___ LET UR Y</a></li>
<li><a href="./SEVENTY.html"><strong>71.</strong><span>&nbsp;</span>SEVENTY</a></li>
<li><a href="./CHARMADA.html"><strong>72.</strong><span>&nbsp;</span>C NO H ARM</a></li>
<li><a href="./CODACUS.html"><strong>73.</strong><span>&nbsp;</span>ILIT CUS</a></li>
<li><a href="./H.html"><strong>74.</strong><span>&nbsp;</span>gnil-c-w/H.html</a></li>
<li><a href="./FINALE.html"><strong>75.</strong><span>&nbsp;</span>FINALLY</a></li>
<li><a href="./LANDOH.html"><strong>76.</strong><span>&nbsp;</span>SLANDOH</a></li>
<li><a href="./OCADSWAY.html"><strong>77.</strong><span>&nbsp;</span>CONVEY</a></li>
<li><a href="./WISDATAM.html"><strong>78.</strong><span>&nbsp;</span>WISDOM</a></li>
<li><a href="./CLEARYBLVD.html"><strong>79.</strong><span>&nbsp;</span>CLEAR Y BLVD</a></li>
<li><a href="./FIRST.html"><strong>80.</strong><span>&nbsp;</span>FIRST AND FED</a></li>
<li><a href="./SECORDANOLIVED.html"><strong>81.</strong><span>&nbsp;</span>SECORD AND NORTH</a></li>
<li><a href="./ALLTA.html"><strong>82.</strong><span>&nbsp;</span>ITS TURMERIC TIRE</a></li>
<li><a href="./TY.html"><strong>83.</strong><span>&nbsp;</span>TO LC WEUROME</a></li>
<li><a href="./PENCE.html"><strong>84.</strong><span>&nbsp;</span>COMMON CENTS</a></li>
<li><a href="./CKIMPLER.html"><strong>85.</strong><span>&nbsp;</span>/|\ AT ARI</a></li>
<li><a href="./SAYFREED.html"><strong>86.</strong><span>&nbsp;</span>AM "AN" DUH..</a></li>
<li><a href="./SALTLINE.html"><strong>87.</strong><span>&nbsp;</span>SALT LINE</a></li>
<li><a href="./BETHESDAY.html"><strong>88.</strong><span>&nbsp;</span>BET HES DAY</a></li>
<li><a href="./MARSHALL.html"><strong>89.</strong><span>&nbsp;</span>MARCH -> ALL</a></li>
<li><a href="./IT.html"><strong>90.</strong><span>&nbsp;</span>IT</a></li>
<li><a href="./VERADONUM.html"><strong>91.</strong><span>&nbsp;</span>VER BETT DO N, MMMM?</a></li>
<li><a href="./MOLASSES.html"><strong>92.</strong><span>&nbsp;</span>SLOW AS MOLASSES, DECK</a></li>
<li><a href="./ORTANIS.html"><strong>93.</strong><span>&nbsp;</span>ALKADAM OR TANIS</a></li>
<li><a href="./VESPERA.html"><strong>94.</strong><span>&nbsp;</span>U C PER I</a></li>
<li><a href="./REASON.html" class="active"><strong>95.</strong><span>&nbsp;</span>HELL OR HIGH TREASON</a></li>
<li><a href="./BELINSKY.html"><strong>96.</strong><span>&nbsp;</span>BELINSKY</a></li>
<li><a href="./GRENORADINE.html"><strong>97.</strong><span>&nbsp;</span>G RE NAD IN E &amp; AM B R O Si A</a></li>
<li><a href="./TION.html"><strong>98.</strong><span>&nbsp;</span>THE TION-NING OF HA-ADAM</a></li>
<li><a href="./HALLOWE2R.html"><strong>99.</strong><span>&nbsp;</span>HAYOM VAT OW</a></li>
<li><a href="./ROUTARE.html"><strong>100.</strong><span>&nbsp;</span>WALL 2 STAY? STALK ME</a></li>
<li><a href="./VESUBIACEIUM.html"><strong>101.</strong><span>&nbsp;</span>INTISMO NOCTE TERMINUS SEMPITERNUM</a></li>
<li><a href="./MEVATHI.html"><strong>102.</strong><span>&nbsp;</span>MEVATHI</a></li>
<li><a href="./INCASEBAIT.html"><strong>103.</strong><span>&nbsp;</span>INCASEBAIT</a></li>
<li><a href="./CRYAMELYON.html"><strong>104.</strong><span>&nbsp;</span>CRONAMELYON</a></li>
<li><a href="./MOROKSRIG.html"><strong>105.</strong><span>&nbsp;</span>MOROS KO RIG</a></li>
<li><a href="./SKIRMISH.html"><strong>106.</strong><span>&nbsp;</span>SIREN S KIRMISH</a></li>
<li><a href="./INTRASINAMUS.html"><strong>107.</strong><span>&nbsp;</span>NUDVREAD TEST AM, E, &amp; T</a></li>
<li><a href="./LEDMCAVENDESH.html"><strong>108.</strong><span>&nbsp;</span>CAVE END VILESH</a></li>
<li><a href="./B2BIONIC.html"><strong>109.</strong><span>&nbsp;</span>BlUr BON IONIC</a></li>
<li><a href="./IRMAX.html"><strong>110.</strong><span>&nbsp;</span>ITL IRMAX ATLA</a></li>
<li><a href="./CRUELGENIAD.html"><strong>111.</strong><span>&nbsp;</span>CRUEL GEN I AD</a></li>
<li><a href="./TOASTRAM.html"><strong>112.</strong><span>&nbsp;</span>HI "TO AST" ROAR M</a></li>
<li><a href="./IMAGULATKA.html"><strong>113.</strong><span>&nbsp;</span>HI MOM GRU POTATO?</a></li>
<li><a href="./ASMODALIANIADIAM.html"><strong>114.</strong><span>&nbsp;</span>HEY PLANETH ADAM &amp; HOSE</a></li>
<li><a href="./RICKIMOROLED.html"><strong>115.</strong><span>&nbsp;</span>CIA, K, &amp; MOR, TY</a></li>
<li><a href="./ADAMGOT2BJS.html"><strong>116.</strong><span>&nbsp;</span>TWO, ONLY TWO</a></li>
<li><a href="./3ADJUROLT.html"><strong>117.</strong><span>&nbsp;</span>3 BUECEDUAT, ME JUST</a></li>
<li><a href="./SKURMAWEH.html"><strong>118.</strong><span>&nbsp;</span>PARTING C'S AQUA N</a></li>
</ul>
