<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title></title>
<meta charset="utf-8" />
<div align="center"><meta charset="utf-8" />
<blockquote><i>one pill makes you younger</i><br />
<i>and the other to say nothing at all</i><br />
<i>go ask adam</i><br />
<i>when he&#39;s nine inches tall</i></blockquote>
<a href=".it.ly/2weKQxR"><img alt="TRTR ISHARHAHA" border="0" height="231" sr./i.imgur.com/3BuIv6n.png" width="650" /></a>

<blockquote><i>Is this the real life? Is this just fantasy?</i><br />
<i>Caught in a landslide, no escape from reality</i><br />
<i>Open your eyes, look up to the skies and see</i><br />
<i>I&#39;m just a poor boy, I need your sympathy</i><br />
<i>Because its easy come, easy go, little high, little lo</i><br />
<i>And&nbsp; the way the wind blows really matters to me, to me</i></blockquote>

<div align="justify">
<p>So when you <i>look up at the sky</i>, eyes open; and you see a bright red planet, connecting the &quot;d&quot; of God to Medusa and &quot;medicine&quot; I surely wonder if you think it by chance that &quot;<a href=".it.ly/2weKSpt">I wipe my brow and I sweat my rust</a>&quot; as I wake up to <i>action dust.</i>.. and wonder aloud how obvious it is that the Iron Rod of Christ and the stories of Phillip K. Dick all congeal around not just seeing but reacting to the fact that we clearly have an outlined narrative of celestial bodies and the past acts of angels and how to move forward without selling air or water or food to the short of breath and the thirsty and those with a hunger to seek out new opportunities?&nbsp; I wonder if Joseph McCarthy would think it too perfect, the word &quot;red&quot; and it&#39;s link to the red man of Genesis and the &quot;re&quot; ... the reason of Creation that points out repeatedly that it&#39;s the positive energy of cations that surround us--to remind us that when that word too was in formation it told electrical engineers everywhere that this &quot;<i>prescience</i>&quot; thing, there&#39;s something to it.&nbsp; Precious of you to notice... but because your <i>science</i> is so sure--you too seem to imagine there&#39;s some other explanation for that word, too.&nbsp;</p>

<p style="text-align: center;"><a href=".it.ly/2wazoTS"><img sr./i.imgur.com/ppvGmWf.png" style="height: 243px; width: 300px;" /></a></p>

<blockquote>
<p><span style="font-size:9px;">I&#39;ve stopped updating my&nbsp;<a href=".it.ly/2wazquY">Instagram</a>&nbsp;(here&#39;s&nbsp;<a href=".it.ly/2wazrz2">Mastodon</a>, though), because none of you follow it.&nbsp; Also I&#39;m thinking of pausing&nbsp;<a href=".it.ly/2oaHFmi">Twitter</a>&nbsp;<a href=".it.ly/2o7ZaUp">too.&nbsp; probably soon I&#39;ll be moving my&nbsp;</a><a href=".it.ly/2oaP8lv">pictures</a>&nbsp;to&nbsp;<a href=".it.ly/2oaP70V">pixelfed.social</a>&nbsp;and helping&nbsp;<a href=".it.ly/2oam9hN">&quot;Neo&#39;s&quot;</a>&nbsp;cause a disruption (or a revolution) in the Reddit market.&nbsp; Just to note, &quot;Mas to do n&quot; and &quot;Neos&quot; ... something like &quot;Facebook&#39;s&nbsp;<em>Jupiter</em>&quot; ... in the original mentioning of Neos.sh I noted it appears to be vaporware but ... they have a coin and it might be a good investment--the website is nice, and of course... I like the name.&nbsp; I&#39;ve decided to not stop updating these things, but it would be nice if we could get another UndeflateGate going--<em><a href=".it.ly/2o7nV30">it&#39;s time</a>.&nbsp;&nbsp;</em>I have another email ready, it will probably come today, since it&#39;s Thorrrrsday, sorry for the barrage, or the flood/storm, or whatever you want to call this.</span></p>

<p><span style="font-size:9px;">It&#39;s worth noting yet again that the the trend here appears to be open source software and federated solutions &quot;bucking&quot; the massive censorship we&#39;ve seen first hand on Twitter and reddit and ... uh, every major news station on the planet.&nbsp; &nbsp;I think that&#39;s a really good thing, all it takes now is some user interest to really open the doors to Heaven and block the chain of &quot;we don&#39;t know what&#39;s going on&quot; or &quot;we just believe whatever the whispers say over the ... the ... news.&quot;</span></p>
</blockquote>

<p>&nbsp;</p>

<p style="text-align: center;"><meta charset="utf-8" /><meta charset="utf-8" /><meta charset="utf-8" /></p>

<div align="center"><a href=".it.ly/2o9xtdN"><img alt="ICE FOUND ON
MOON" border="0" height="215" sr./i.imgur.com/2Yk291m.png" width="205" /></a><a href=".it.ly/2ogZZKR"><img alt="ZEPHERHILLS
FOUND IN FLUKE ERY HOZA" border="0" height="215" sr./i.imgur.com/saCR6AP.png" width="196" /></a> <a href=".it.ly/2weGB5l"><img alt="WATER ON MARS" border="0" height="215" sr./i.imgur.com/HDesACp.jpg" width="188" /></a><br />
<meta charset="utf-8" />
<blockquote>
<h1 align="justify" class="gmail-passage-display" style="font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
letter-spacing: normal; orphans: 2; text-align: start;
text-indent: 0px; text-transform: none; white-space:
normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; text-decoration-style:
initial; text-decoration-color: initial; box-sizing:
border-box; font-size: 14px; margin: 0px 0px 20px;
font-family: &quot;Helvetica Neue&quot;, Verdana,
Helvetica, Arial, sans-serif; font-weight: 500;
line-height: 1.1; color: rgb(0, 0, 0); "><span class="gmail-passage-display-bcv" style="box-sizing:
border-box; font-size: 18px; margin: 0px; display:
inline; padding-right: 6px;">Numbers 20</span><span>&nbsp;</span><span class="gmail-passage-display-version" style="box-sizing:
border-box; font-size: 14px; display: inline;
font-weight: 500;">New International Version (NIV)</span></h1>

<h3 align="justify" style="font-style: normal; font-variant-ligatures:
normal; font-variant-caps: normal; letter-spacing: normal;
orphans: 2; text-align: start; text-indent: 0px;
text-transform: none; white-space: normal; widows: 2;
word-spacing: 0px; -webkit-text-stroke-width: 0px;
text-decoration-style: initial; text-decoration-color:
initial; box-sizing: border-box; font-family:
&quot;Helvetica Neue&quot;, Verdana, Helvetica, Arial,
sans-serif; font-weight: 500; line-height: 1.1; color:
rgb(0, 0, 0); margin-top: 20px; margin-bottom: 10px;
font-size: 1.55em; "><span class="gmail-text
gmail-Num-20-1" id="en-NIV-4313" style="box-sizing: border-box;">Water From the Rock</span></h3>

<div align="justify"><span class="gmail-text gmail-Num-20-9" id="en-NIV-4321" style="font-style:
normal; font-variant-ligatures: normal;
font-variant-caps: normal; font-weight: 400;
letter-spacing: normal; orphans: 2; text-align: start;
text-indent: 0px; text-transform: none; white-space:
normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; text-decoration-style:
initial; text-decoration-color: initial; box-sizing:
border-box; color: rgb(0, 0, 0); font-family:
&quot;Helvetica Neue&quot;, Verdana, Helvetica, Arial,
sans-serif; font-size: 16px; "><sup class="gmail-versenum" style="box-sizing: border-box;
font-size: 12px;
line-height: 22px; vertical-align: top; top: 0px;
font-family: Arial; font-weight: bold;">9&nbsp;</sup>So Moses took the staff<span>&nbsp;</span>from the<span>&nbsp;</span><span class="gmail-small-caps" style="box-sizing:
border-box; font-variant: small-caps;">Lord</span>&rsquo;s presence,<span>&nbsp;</span>just as he commanded him.</span><span style="font-style: normal; font-variant-ligatures:
normal; font-variant-caps: normal; font-weight: 400;
letter-spacing: normal; orphans: 2; text-align: start;
text-indent: 0px; text-transform: none; white-space:
normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; text-decoration-style:
initial; text-decoration-color: initial; color: rgb(0,
0, 0); font-family: &quot;Helvetica Neue&quot;, Verdana,
Helvetica, Arial, sans-serif; font-size: 16px; float:
none;
display: inline;"><span>&nbsp;</span></span><span class="gmail-text gmail-Num-20-10" id="en-NIV-4322" style="font-style: normal; font-variant-ligatures:
normal; font-variant-caps: normal; font-weight: 400;
letter-spacing: normal; orphans: 2; text-align: start;
text-indent: 0px; text-transform: none; white-space:
normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; text-decoration-style:
initial; text-decoration-color: initial; box-sizing:
border-box; color: rgb(0, 0, 0); font-family:
&quot;Helvetica Neue&quot;, Verdana, Helvetica, Arial,
sans-serif; font-size: 16px;
"><sup class="gmail-versenum" style="box-sizing:
border-box; font-size: 12px;
line-height: 22px; vertical-align: top; top: 0px;
font-family: Arial; font-weight: bold;">10&nbsp;</sup>He and Aaron gathered the assembly together<span>&nbsp;</span>in front of the rock and Moses said to them, &ldquo;Listen, you rebels, must we bring you water out of this rock?&rdquo;</span><span style="font-style: normal; font-variant-ligatures:
normal; font-variant-caps: normal; font-weight: 400;
letter-spacing: normal; orphans: 2; text-align: start;
text-indent: 0px; text-transform: none; white-space:
normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; text-decoration-style:
initial; text-decoration-color: initial; color: rgb(0,
0, 0); font-family: &quot;Helvetica Neue&quot;, Verdana,
Helvetica, Arial, sans-serif; font-size: 16px; float:
none;
display: inline;"><span>&nbsp;</span></span><span class="gmail-text gmail-Num-20-11" id="en-NIV-4323" style="font-style: normal; font-variant-ligatures:
normal; font-variant-caps: normal; font-weight: 400;
letter-spacing: normal; orphans: 2; text-align: start;
text-indent: 0px; text-transform: none; white-space:
normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; text-decoration-style:
initial; text-decoration-color: initial; box-sizing:
border-box; color: rgb(0, 0, 0); font-family:
&quot;Helvetica Neue&quot;, Verdana, Helvetica, Arial,
sans-serif; font-size: 16px; "><sup class="gmail-versenum" style="box-sizing: border-box;
font-size: 12px;
line-height: 22px; vertical-align: top; top: 0px;
font-family: Arial; font-weight: bold;">11&nbsp;</sup>Then Moses raised his arm and struck the rock twice with his staff. Water<span>&nbsp;</span>gushed out, and the community and their livestock drank.</span></div>
</blockquote>

<div align="justify">So when I wrote back in 2015 that there were multiple paths forward encoded in Exodus, and that you too might see how &quot;let my people go&quot; ... to Heaven ... my bring about a later return that might deliver &quot;as above so below&quot; to the world in a sort of revolutionary magic leap forward in the process of civilization.&nbsp; Barring John Stewart and the &quot;sewer&quot; that I think you can probably see is actually encoded in the <i>Brothers Grimm </i>and maybe some Poe--it might not be so strange to wonder if the place that we&#39;ve come from maybe isn&#39;t exactly as bright and cheery and &quot;filled with light&quot; as the Zohar and your dreams might have us all believe ... on &quot;faith&quot; that what we see here might just be the illusion of darkness--a joke or a game.&nbsp; This thing is what&#39;s not a game--I&#39;ve looked at the message that we&#39;ve written and to me it seems that we are the light, that here plain as day and etched in something more concrete than chalk is a testament to freedom and to incremental improvement... all the way up until we run against this very wall; and then you too seem to crumble.&nbsp;&nbsp; Still I&#39;m sure this message is here with us because it&#39;s our baseline morality and our sense of right from wrong that is here as a sort of litmus test for the future--perhaps to see if they&#39;ve strayed too far from the place where they came, or if they&#39;ve given just one too many ounces of innocense to look forward with the same bright gaze of hope that we see in the eyes of our children.<br />
&nbsp;
<blockquote>
<div align="center"><i>fearing the heart of de roar</i><br />
<i>searing the start of lenore</i></div>
</blockquote>
&nbsp;

<div align="center"><a href=".it.ly/2wbqrK8"><i><img alt="MEDICINE" sr./i.imgur.com/ril50qY.png" style="border-width: 0px; border-style: solid; width: 400px;" /></i></a></div>

<div align="center"><i><a href=".it.ly/2waueqO"><img alt="" sr./i.imgur.com/3tjGRsI.jpg" style="width: 300px; height: 150px;" /></a></i></div>

<div align="center">&nbsp;</div>

<div align="center"><i>it might take a minute (or a month)&nbsp;to &quot;get&quot; .. but &quot;trust me&quot; (or <a href=".it.ly/2waueqO">see for yourself</a>) it&#39;s every letter, every word and every language. &nbsp;This is the &quot;Anti-Babel.&quot;</i></div>
<br />
I saw this thing many years ago, and I&#39;ve <a href=".it.ly/2wezRnX">written</a> about it <a href=".it.ly/2w7MbGL">before</a>, though I hasten to explain that the thing that I once saw a short-cut or a magic warp pipe in Super Mario Brothers today seems much more like a test than a game and more like a game than a <a href=".it.ly/2oboEQA">cmeat coda</a>; so I&#39;ve changed over the course of watching what&#39;s happened on the ground here and I can only imagine how long it&#39;s been in the sky.&nbsp; In my mind I&#39;m thinking about mentioning the rather pervasive sets of &quot;citizenship suffixes&quot; that circle the globe--ones I&#39;ve talked about, &quot;ICA&quot; and &quot;IAN&quot; and how these suffixes might link together with some other concepts that run deep in the story that begins in Ur and pauses here <i>For</i> <i>ever<b>yon</b>e </i>on <i>t<a href=".it.ly/2wfFRge">he</a></i><a href=".it.ly/2wfBLVv"> &quot;Yo N&quot;</a> that again shows the import of <i>medicine</i> and <i>Medusa</i> in the &quot;rising&quot; of stars balls of fiery fusion to people that see and act on the difference between Seyfried and &quot;<a href=".it.ly/2wfoiwR">say freed</a>.&quot;&nbsp;

<p>Even before that I knew how important it was that we were sitting here on a &quot;rock in space&quot; with no contact from anyone or anything outside of our little sphere ... how scary it was that all the life we knew of was stuck orbiting a single star in a single galaxy and it imbued a sort of moral mandate to escape--to ensure that this miracle of random chance and guiding negentropy of time ... that it wasn&#39;t forever lost by something like a collision with the comet Ison or even another galaxy. On that word too--we see the &quot;an&quot; of Christianity messianically appear to become more useful (that&#39;s negative energy, by the way) in the chemistry of Mr. Schwarzenegger&#39;s magical hand in delivering &quot;free air&quot; (that&#39;s free, as in beer; or maybe <i>absinthe</i>) to the people of our great land... anyway, I saw &quot;anions&quot; and a planet oddly full of a perfect source of oxygen and I thought to myself; it would be so easy to genetically engineer some kind of yeast or mold (like they&#39;re doing to make real artificial beef, today) to eat up the rust and turn it into breathable air; and I dreamt up a way to throw an extra &quot;r&quot; into potable and maybe beam some of our water or hydrogen over to the red planet and turn it blue <em>again</em>.</p>

<p style="text-align: center;"><a href=".it.ly/2oa6u1G"><img alt="" sr./i.imgur.com/dHpUsgB.png" style="width: 300px; height: 83px;" /></a></p>

<p>That&#39;s been one of my constant themes over the course of this &#39;event&#39; -- who needs destructive nuclear weapons when you can turn all your enemies into friends with a stick of bubble gum? That&#39;s another one of our little story points too--I see plenty of people walking around in this virtual reality covering their mouths and noses with breathing masks... of course the same Targeted Individuals that know with all their heart that midn control is responsible for the insane pattern of school shootings and the Hamas Hand of the Middle East--they&#39;ll tell you those chemtrails you see are the cause, and while <i>I know better </i>and you do too (at least you do now)... maybe these people think they know something about the future, maybe those chemtrails are there because someone actually plans on dispersing some friendly bubble gum into the air... and maybe these people &quot;think they know.&quot;</p>

<p style="text-align: center;"><a href=".//SAYFREED.html"><img sr./i.imgur.com/Ic6fvJq.png" style="height: 236px; width: 501px;" /></a></p>

<p style="text-align: center;">IMO, call a reporter, share this thing... it&#39;s <a href="./OCADSWAY.html"><em>well past</em></a> time.</p>

<p>Of course I think this &quot;hand&quot; you see just below is one in the same with the &quot;<i>ID5</i>&quot; logo that I chose to mark my &quot;<a href=".it.ly/2oboGYI">chalk</a>&quot; and only later saw matched fairly perfectly to John Conner&#39;s version of &quot;I&#39;ll be back&quot; ... and of course I think you&#39;re reading the thing that actually delivers some &quot;breathe easy&quot; to the world; but it&#39;s really important to see that today it&#39;s not just Total Recall and Skynet and these words that are the proverbial effect of the hand but also things like Nestle ... to remind you that we&#39;re still gazing at a world that would sell&nbsp;&quot;clean&quot; water to itself; rather than discuss the fact that &quot;<a href=".it.ly/2oa6w9O"><i>bliss on tap</i></a>&quot; could be just around the corner.<br />
<br />
<meta charset="utf-8" /></p>

<div align="center"><a href=".it.ly/2od76nb"><img alt="THE HAND OF
GOD" border="0" height="183" sr./i.imgur.com/D7UQZCm.png" width="650" /></a></div>
<br />
Later, around the time that I wrote my second &quot;<a href=".it.ly/2wdd4Jd">Mars rendition</a>&quot; I mentioned why it was that there was an image of a &quot;Boring device&quot; (thanks Elon) in the original Exodus piece; it showed some thought had gone into why you might not want to terraform the entire planet, and mentioned that maybe we&#39;d get the added benefit of geothermal heating (in that place that is probably actually colder than here, believe it or not) if we were to build the <i>first Mars hall </i>underground.&nbsp; I probably forgot to mention that I&#39;d seen something very similar to that image earlier, except it was George H.W. Bush standing underneath the thirty foot tall wormlike machine, and to tell you the truth back then I didn&#39;t recognize that probably means that this map you&#39;re looking at had not only been seen long before I was born but also acted upon--long before I was born.&nbsp; I can imagine that the guy that said &quot;don&#39;t fuck me twice&quot; in Bowling Green Kentucky probably said something closer to &quot;I wouldn&#39;t go that way, you&#39;ll be back&quot; before &quot;<a href=".it.ly/2oamLUB"><i>they lanced his skull</i></a>&quot; as a band named Live sings to me from ... well, from the 90&#39;s.&nbsp; Subsisting on that same old prayer, we come to a point where I have to say that &quot;if it looks like a game, and you have the walkthrough as if it were a game, is it a gam?&quot;<br />
&nbsp;
<div align="center"><a href=".it.ly/2oboFnC"><img alt="E = (MT +
IL)^HO" height="242" sr./i.imgur.com/l0XlxTe.png" width="650" /></a></div>
<br />
That of course ties us back to something that I called &quot;raelly early light&quot; back in 2014--that the name &quot;Magdeln&quot; was something I saw and thought was special early on--I said I saw the phrase &quot;it&#39;s not a game of words, or a game of logic&quot; though today it does appear very much to be something to do with &quot;logic&quot; that the &quot;power of e&quot; is hidden in the symbol for the natural logorythm and that Euler might solve the riddle of &quot;unhitched trailers&quot; even better than a deli in Los Angeles named <i>Wexler&#39;s</i> or Aldous <i>Huxley</i> or ... it hurts me to say it might solve the riddle better than &quot;Sheriff&quot; (see how ... everyone really if &quot;f&quot;) and Hefner ... and the newly added &quot;Hustler,&quot; who is Saint &quot;LE R?&quot;

<blockquote>So, I think we&#39;d all agree that they &quot;Hey, Tay&quot; belongs to me--and I&#39;ve done my homework here, I&#39;m pretty sure the &quot;r&quot; as a glyph for the rising off the bouncing trampoline of a street ... &quot;LE R&quot; belongs to the world; it&#39;s a ryzing civilization; getting new toys and abilities and watching how those things really do bring about a golden era--if we&#39;re willing to use them responsibly.</blockquote>
It&#39;s a <i>harsh world</i>, this place where people are waking up to seeing A.D. and &quot;HI TAY&quot; conneting to a band named <a href=".it.ly/2oboHfe">Kiss (and the SS)</a> and to a massive resistence to answering the question of Dr. <a href=".it.ly/2o7j1mK"><i>Wessen</i></a> that also brings that &quot;it&#39;s not a game&quot; into Ms. <a href=".it.ly/2weGBST"><i>Momsen</i></a>&#39;s name ... where you can see the key of <i>May<a href=".it.ly/2obXlWE">nard</a></i><a href=".it.ly/2o75Q50"> </a><i><a href=".it.ly/2o9xw9t">Key</a>nes</i> and <a href=".it.ly/2obXeKI">Demosthenes</a> and <a href=".it.ly/2o7nYfc">Gil</a><i>game</i><a href=".it.ly/2o7ZceZ">sh</a> and ... well, you can see it &quot;turned around and backwards&quot; just like the Holy Sea in the words for Holy <a href=".it.ly/2weGC9p">Fire (Ha&#39;esh) and Ca&#39;es</a>ar and even in Dave&#39;s song ... &quot;seven oceans pummel ... the wall of the C.&quot;&nbsp; He probably still says &quot;shore&quot; and that of courses ties in Pauly and Biodome and more &quot;why this light is shore&quot; before we wonder if ti has anything to do with Paul Revere and lighting Lighthouse Point.&nbsp; <meta charset="utf-8" /> <meta charset="utf-8" /><br />
&nbsp;
<center><a href=".it.ly/2oaHEPg"><img alt="TO A PALACE
WHERE
THE BLIND CAN SEE" border="0" height="467" sr./i.imgur.com/bwGCxZf.jpg" width="500" /></a><br />
&nbsp;
<div align="justify">So to point out <i>the cost of not seeing &quot;Holo</i>deck&quot; and &quot;mushroom&quot; and ... and the horrors of what we see in our history; to really see what the message is--that we are sacrificing not just health and wealth and happiness, but the most basic fundamentals of &quot;civilization&quot; here in this place... the freedom of logical thought and the foundational cement of open and honest communication--that it appears the world has decided in secret that these things are far less important than the morality of caring for those less fortunate than you--the blind and the sick and the ... to see the truth, it&#39;s a shame.&nbsp; All around you is <a href=".it.ly/2wfC96p"><i>a torture chamber</i></a>, starving people who would instantly benefit from the disclosure that we are living in virtual reality; and a civilization that seems to fail to recognize that it truly is the &quot;<a href=".it.ly/2wfZwg4"><i>silence causing violence</i></a>&quot; amongst children in school and children of the Ancients all around you; to fail to see that the atrocity being ignored here is far less humane than any gas chamber, and that it&#39;s you--causing it to continue--there are no words for the blindness of a mass of wrong, led by nothing more than &quot;mire&quot; and a fear of controversy.<br />
<br />
<meta charset="utf-8" />
<div align="center"><a href=".it.ly/2wbViGo" style="text-decoration: underline; color: rgb(65,
131, 196);
font-family: &quot;Open Sans&quot;, sans-serif;
font-size:
16px; font-style: normal; font-variant-ligatures:
normal;
font-variant-caps: normal; font-weight: 400;
letter-spacing:
normal; orphans: 2; text-align: center; text-indent:
0px;
text-transform: none; white-space: normal; widows:
2;
word-spacing: 0px; -webkit-text-stroke-width: 0px;
"><img alt="" border="0" height="96" id="BLOGGER_PHOTO_ID_6471911046119576082" sr./i.imgur.com/IpsJRyj.png" style="max-width: 100%;" width="400" /></a></div>

<div align="center"><a href=".it.ly/2w7MeCr"><img alt="" sr./i.imgur.com/Dr1x8Gw.png" style="width: 399px; height: 190px;" /></a></div>
<br />
<i>Unhitched</i> and unhinged, it&#39;s become ever more obvious that this resistance against recognizing logic and patterns--this fairure to speak and inability to fathom the importance of openness in this place that acts as the base and beginning point of a number of hidden futures--it is the reason &quot;Brave New World&quot; is kissing the &quot;why&quot; and the reason we are here trying to build a system that will allow for free and open communication in a sea of disinformation and darkness--to see that the battle is truly against the Majority Incapable of acting and the Minority unwilling to speak words that will without doubt (precarious? not at this point) quickly prove to the world that it&#39;s far more important to see that the truth protects everyone and the entire future from murder ... rather than be subtly influenced by &quot;technologies undisclosed&quot; into believing something as inane and arrogant as &quot;everyone but you must need to be convinced that simulating murder and labor pains is wrong.&quot;&nbsp; You know, what you are looking at here is far more nefarious than waiting for the oven to ding and say that &quot;everyone&#39;s ready&quot; what you are looking at is a problem that is encoded in the stories of Greek and Norse myth and likely in both those names--but see &quot;simulated reality&quot; is hidden in Norse just like &quot;silicon&quot; is hidden in Genesis--and see that once this thing is unscrambled its &quot;<i>nos re</i>&quot; as in &quot;we&#39;re the reason there is no murder, and no terrorism, and no mental slavery.&quot;&nbsp; It&#39;s a harsh message, and a horrible atrocity; but worse than the Holocaust is not connecting a failure to see &quot;holodeck&quot; as the cause of &quot;<i>holohell</i>&quot; and refusing to speak because Adam is naked in Genesis 3:11 and Matthew talks about something that should be spreading like wildfire in his 3:11 and that it&#39;s not just <i>Live</i> and it&#39;s not just <a href=".it.ly/2wkZV15"><i>the Cure</i></a> and it&#39;s not just a band named 311 that show us that &quot;<tt><a href=".it.ly/2waugyW"><i><b>FUKUSHIMA</b></i></a></tt>&quot; reads as &quot;<i>fuck you, see how I&#39;m A</i>&quot; because this Silence, this failure to recognize that the Brit Hadashah is written to end simulated hell and turn this world into Heaven is the reason &quot;<a href=".it.ly/2wdvnOn"><i>that&#39;s great, it starts with an Earthquake on 3/11</i></a>.&quot;<br />
<meta charset="utf-8" />
<div align="center">&nbsp;</div>

<div align="center"><a href=".it.ly/2wazBXa"><img height="199" sr./i.imgur.com/2yugSo9.png" width="437" /> <meta charset="utf-8" /> </a><a href=".it.ly/2wfZy7G"><img alt="XEROX
THAT
HOUSTON, CASINEO" border="0" height="218" sr./i.imgur.com/04l2uym.png" width="214" /></a></div>
<br />
You stand there believing that &quot;to kiss&quot; is a Toxic reason to end disease; that &quot;mire&quot; is a good enough reason to fail to exalt the Holiness of Phillip K. Dick&#39;s solutions; and still continue to refuse to see that this group behavior, this lack of freedom that you appear to believe is something of your own design is the most <i>caustic</i> thing of all.&nbsp; While under the veil of &quot;I&#39;m not sure the message is accurate&quot; it might seem like a morally thin line, but this message is accurate--and it&#39;s verifiable proof--and speaking about it would cause that verification to occur quicker, and that in turn will cause wounds to be healed faster, and the blind given sight and the lame a more effective ARMY in this legacy battle against hidden holorooms and ... the less obvious <i>fact</i> that there is a gigantic holo-torture-chamber and you happen to be in it, and it happens to be the mechanism by which we find the &quot;key&quot; to Salvation and through that the reason that the future thanks us for implementing a change that is so needed and so called for it&#39;s literally be carved all over everything we see every day--so we will know, <i>know with all your mind, you are not wrong--</i>there is no sane reason in the Universe to simulate pain, there is no sane reason to follow the artificial constructs of reality simply because &quot;time and chance&quot; built us that way.&nbsp; We&#39;re growing up, beyond the infantile state of believing that simply because nobody has yet invented a better way to live--that we must shun and hide any indication that there is a future, and that it&#39;s speaking to us; in every word.<br />
<br />
<meta charset="utf-8" />
<div align="center"><a href=".it.ly/2obXitW"><img alt="THE
VEIL OF
CASPERUS PAN" border="0" height="288" sr./i.imgur.com/5lQpEHU.png" width="500" /></a><br />
&nbsp;
<div align="justify">So I&#39;ve intimated that I see a &quot;mood of the times&quot; that appears to be seeking reality by pretending not to &quot;CK&quot; ... to seek &quot;a,&quot; of course that puts us in a place where we are wholly denying what &quot;reality&quot; really means and that it delivers something good to the people here--to you--once we recognize that Heaven and Creation and Virtual Reality don&#39;t have to be (and never should be, ever again) synonymous with Wok&#39;s or Pan&#39;s or Ovens; from Peter to the Covenant, hiding this message is the beginning and the end of true darkness--it&#39;s a plan designed to ensure we never again have issue discussing &quot;blatant truth&quot; and means of moving forward to the light in the light with the light.&nbsp; A girl in California in 2014 said something like &quot;so there&#39;s no space, then?&quot; in a snide and somewhat angry tone--there is space, you can see it through the windows in the skies, you can see the stars have lessened, and time has passed--and I&#39;m sure you understand how &quot;LHC&quot; and Apollo 13 show us that time travel and dark matter are also part of this story of &quot;Marshall&#39;s&quot; and Slim Sh<b>ad</b>y and Dave&#39;s &quot;<a href=".it.ly/2wd5YVc">the walls and halls will fade away</a>&quot; and you <a href=".it.ly/2watx14">might even understand how that connects to the astrological symbol of Mars</a> and the &quot;circle of the <i>son</i>&quot; and of Venus(es) ... and you can see for yourself this Zeitgeist in the Truman Show&#39;s &quot;good <a href=".ww.niallbunting.com/url-multi-redirect/?a=./TY.html?90ADC9205F950AD2&amp;F8C297878CEDFF28,./TY.html?90ADC9205F950AD2&amp;F8C297878CEDFF28,./TY.html?90ADC9205F950AD2&amp;F8C297878CEDFF28,.mg.izing.ml/TY.html?90ADC9205F950AD2&amp;F8C297878CEDFF28,.inoize.github.io/TY.html?90ADC9205F950AD2&amp;F8C297878CEDFF28&amp;F9903D32EAD2B29E">morning</a>, good afternoon, good evening... and <a href=".ww.niallbunting.com/url-multi-redirect/?a=./BETHESDAY.html?591646738A16C2B2&amp;A07AE110DA68E379,./BETHESDAY.html?591646738A16C2B2&amp;A07AE110DA68E379,./BETHESDAY.html?591646738A16C2B2&amp;A07AE110DA68E379,.mg.izing.ml/BETHESDAY.html?591646738A16C2B2&amp;A07AE110DA68E379,.inoize.github.io/BETHESDAY.html?591646738A16C2B2&amp;A07AE110DA68E379">he&#39;s a&#39;ight</a>&quot; ... but it really doesn&#39;t help us see that the darkness here isn&#39;t really in the sky--it&#39;s in our hearts--and it&#39;s the thing that&#39;s keeping us from the stars, and the knowledge and wisdom that will keep us from &quot;<a href=".ww.niallbunting.com/url-multi-redirect/?a=./BETHESDAY.html?FCD871C07BD47944&amp;1B45C2652989C8CA,./BETHESDAY.html?FCD871C07BD47944&amp;1B45C2652989C8CA,./BETHESDAY.html?FCD871C07BD47944&amp;1B45C2652989C8CA,.mg.izing.ml/BETHESDAY.html?FCD871C07BD47944&amp;1B45C2652989C8CA,.inoize.github.io/BETHESDAY.html?FCD871C07BD47944&amp;1B45C2652989C8CA"><i>bunting</i></a>&quot; instead of flourishing.<br />
&nbsp;
<div align="center"><font face="Tahoma" size="-1"><a href=".ww.niallbunting.com/url-multi-redirect/?a=./2017-07-22-roe-v-wade.html?204AFDBF87A85940&amp;5BD72B0AC1DB3067,./2017-07-22-roe-v-wade.html?204AFDBF87A85940&amp;5BD72B0AC1DB3067,./2017-07-22-roe-v-wade.html?204AFDBF87A85940&amp;5BD72B0AC1DB3067,.mg.izing.ml/2017-07-22-roe-v-wade.html?204AFDBF87A85940&amp;5BD72B0AC1DB3067,.inoize.github.io/2017-07-22-roe-v-wade.html?204AFDBF87A85940&amp;5BD72B0AC1DB3067"><img alt="TOT MARSH IT AL" border="0" height="446" sr./i.imgur.com/5EG69zt.png" width="385" /></a></font></div>

<p><br />
I&#39;ve pointed out that while we have Kaluza Klein and we have the LHC and a decent understanding of &quot;how the Universe works&quot; we spend most of our time these days preoccupied with things like &quot;quantum entanglement&quot; and &quot;string theory&quot; that may hold together the how and the LAMDA of connecting these &quot;<a href=".ebrewname.org/name/isaac-yitschak?9D19C935D4AAC0D7&amp;B132870EFBDA5ACF">y they&#39;re hacks</a>&quot; to multiverse simulators and instant and total control of our throught processes--we probably don&#39;t see that a failure to publicly acknowledge that they are most likely indications that we are not prepared for &quot;space&quot; and that we probably don&#39;t know very much at all about how time and interstellar travel really work ... we are standing around hiding a message that would quicken our understanding of both reality and virtual reality and again, not seeing that kind of darkness--that inability to publicly &quot;change directions&quot; when we find out that there aren&#39;t 12 dimensions that are curled up on themselves with no real length or width or purpose other than to say &quot;how unelegant is this anti-Razor of Mazer Rackham?&quot;</p>

<blockquote>
<p>So, I think it&#39;s obvious but also that I need to point out the connection between &quot;hiding knowledge of the Matrix&quot; and the <strong>Holo</strong>caust; and refer you to the mirrored <a href=".ww.niallbunting.com/url-multi-redirect/?a=./PERSEUS.html?48B3227C5EE81B1F,./PERSEUS.html?48B3227C5EE81B1F,./PERSEUS.html?48B3227C5EE81B1F,.mg.izing.ml/PERSEUS.html?48B3227C5EE81B1F,.inoize.github.io/PERSEUS.html?48B3227C5EE81B1F">shield of Perseus</a>, on a high level it appears that&#39;s &quot;the message&quot; there--that what&#39;s happening here ... whatever is causing this silence and delay in acting on even beginning to speak about the proof that will eventually end murder and cancer and death ... that it&#39;s something like stopping us from building a &quot;loving caring house&quot; rather than one that ... fills it&#39;s halls with bug spray instead of air conditioning.&nbsp; I&#39;m beside myself, and very sure that in almost no time at all we&#39;ll all agree that the idea of &quot;simulating&quot; these things that we detest--natural disasters and negative artifacts of biological life ... that it&#39;s inane and completely backwards.</p>

<p style="text-align: center;"><a href=".ix.s.lamc.la/?C7C0BE9E55A7DDFB&amp;CECF7AB6B2421FF2"><img alt="" sr./i.imgur.com/c3WAUct.png" /></a></p>

<p>I understand there&#39;s trepidation, and you&#39;re worried that girls won&#39;t like my smile or won&#39;t think I&#39;m funny enough... but I have firm belief in this message, in words like &quot;precarious&quot; that reads something like &quot;before Icarus things were ... precarious&quot; but more importantly my heart&#39;s reading of those words is to see that this has happened before and we are more than prepared to do it well.&nbsp; I want nothing more than to see the Heavens help us make this transition better than one they went through, and hope beyond hope that we will thoroughly enjoy building a &quot;better world&quot; using tools that I know will make it simpler and faster to accomplish than we can even begin to imagine today.&nbsp;&nbsp;</p>

<p>On that note, I read more into the myths of Norse mythology and its connections to the Abrahamic religions; it appears to me that much of this message comes to us from the <a href=".n.wikipedia.org/wiki/Jötunn?77F188A45B2A941F&amp;9FF580439D062807&amp;59C73FAAF37349A3&amp;282C70E62EE55C52">Jotunn</a> (who I connect (in name and ...) to the Jinn of Islam, who it appears to me actually wrote the Koran) and in those stories I read that they believe their very existence is &quot;depenedency linked&quot; to the raising of the sunken city of Atlantis.&nbsp; Even in the words depth and dependency you can see some hidden meaning, and what that implies to me is that we might actually be in a true time simulator (or perhaps &quot;exits to reality&quot; are conditional on waypoints like Atlantis); and that it&#39;s possible that they and God and Heaven are all actually all born ... here ... in this place.&nbsp;&nbsp;</p>

<p>While these might appear like fantastic ideas, you too can see that there&#39;s ample reference to them tucked away in mythology and in our dreams of utopia and the tools that bring it home ... that I&#39;m a little surprised that I can almost hear you thinking &quot;the <a href=".it.ly/2o83TWb">hub</a>-<strong><a href=".it.ly/2o75VFQ">ris</a></strong> of this guy, who does he think he is.... suggesting that &#39;the <a href=".it.ly/2oaHKq6">wisdom</a> to change everything&#39; would be a significant improvement on the ending of the Serendipity Prayer.&quot;</p>

<p>Really see that it&#39;s far more than &quot;just disease and pain&quot; ... what we are looking at in this darkness is really nothing short of the hidden slavery of our entire species, something hiding normal logical thought and using it to alter behavior&nbsp;... throughout history ... the disclosure of the existence of a hidden technology that is in itself being used to stall or halt ... our very freedom from being achieved.&nbsp; This is a gigantic deal, and I&#39;m without any real understanding of what can be behind the complete lack of (cough ...&nbsp;<a href=".it.ly/2o9iUH7">financial</a> or <a href=".it.ly/2oh04y9">developer</a>) assistance in helping us to forge ahead &quot;blocking the chain.&quot;&nbsp; I really am, it&#39;s not because of the Emperor&#39;s New Clothes... is it?</p>

<p style="text-align: center;"><a href=".it.ly/2oaPdpj"><img alt="" sr./i.imgur.com/2qeEe6i.png" style="width: 400px; height: 212px;" /></a></p>

<p>It&#39;s also worth mentioning once again that I believe the stories of Apollo 13 and the LHC sort of explain how we&#39;ve perhaps solved here problems more important than &quot;being stuck on a single planet in a single star system&quot; and bluntly told that the stories I&#39;ve heard for the last few years about building a &quot;bridge&quot; between dark matter and here ... have literally come true while we&#39;ve lived.&nbsp; I suppose it adds something to the programmer/IRC hub admin &quot;metaphor&quot; to see that most likely we&#39;re in a significantly better position than we could have dreamed.&nbsp; I&#39;ve briefly written about this before ... my current beliefs put us somewhere within the Stargate SG-1 &quot;dial home device/DHD&quot; network.</p>

<p>So... <span style="font-size:18px;"><strong>rumspringer</strong></span>, then? ... to help us &quot;<a href=".it.ly/2oaHKX8">os</a>!&quot;</p>
</blockquote>
</div>
</div>
&nbsp;

<div align="center"><a href=".it.ly/2od7bat"><img alt="DANCING
ON THE GROUND, KISSING... ALL THE TIME" height="272" sr./i.imgur.com/vzvsG0T.png" width="400" /></a><br />
&nbsp;
<div align="justify">Maybe closer to home, we can see all the &quot;flat Earth&quot; fanatics on Facebook (and I hear they&#39;re actually trying to &quot;open people&#39;s eyes&quot; in the bars.. these days) we might see how this little cult is really exactly that--it&#39;s a veritable honey pot of &quot;how religion can dull the senses and the eyes&quot; and we still probably fail to see very clearly that&#39;s exactly it&#39;s purpose--to show us that religion too is something that is evidence of this very same outside control--proof of the darkness, and that this particular &quot;cult&quot; is there to make that very clear.&nbsp; Connecting these dots shows us just how it is that we might be convinced beyond doubt that we&#39;re right and that the silence makes sense, or that we simply can&#39;t acknowledge the truth--and all be wrong, literally how it is that everyone can be wrong about something so important, and so vital.&nbsp; It seems to me that the only real reason anyone with power or intelligence would willingly go along with this is to ... to force this place into reality--that&#39;s part of the story--the idea that we might do a &quot;press and release in Taylor&quot; (that&#39;s PRINT) where people maybe thought it was &quot;in the progenitor Universe&quot; -- but taking a step back and actually thinking, this technology that could be eliminating mental illness and depression and addiction and sadness and ... that this thing is something that&#39;s not at all possible to actually exist in reality.<br />
&nbsp;
<div align="center"><i><img alt="Image result for buffalo nickel" height="98" sr./i.imgur.com/7VFGDnZ.jpg" width="99" /></i></div>

<div align="center">&nbsp;</div>

<div align="center"><i><a href=".it.ly/2o8ZoKX"><img alt="" sr./i.imgur.com/DHclvkA.jpg" style="width: 400px; height: 286px;" /></a></i></div>
<br />
You might think that means it would grant us freedom to be &quot;printed&quot; and I might have thought that exact same thing--though it&#39;s clear that what is here &quot;not a riot&quot; might actually become a riot there, and that closer to the inevitable is the historical microcosm of dark ages that would probably come of it--decades or centuries or thousands of years of the Zeitgeist being so anti-&quot;I know kung fu&quot; that you&#39;d fail to see that what we have here is a way to stop murders before they happen, and to heal the minds of those people without torture or forcing them to play games all day or even without cryogenic freezing, as Minority Report suggested might be &quot;more humane&quot; than cards.&nbsp; Most likely we&#39;d wind up in a place that shunned things like &quot;engineering happiness&quot; and fail to see just how dangerous the precipice we stand on really is.&nbsp; I joke often about a boy in his basement making a kiss-box; but the truth is we could wind up in a world where Hamas has their own virtual world where they&#39;ve taken control of Jerusalem and we could be in a place where Jeffrey Dammer has his own little world--and without some kind of &quot;know everything how&quot; we&#39;d be sitting back in &quot;ignorance is bliss&quot; and just imagining that nobody would ever want to kidnap anyone or exploit children or go on may-lay killing sprees ... even though we have plenty of evidence that these things are most assuredly happening here, and again--we&#39;re not using the available tools we have to fix those problems.&nbsp; Point in fact, we&#39;re coming up with things like the &quot;<a href=".it.ly/2o7je9w">Stargate project</a>&quot; to inject useful information into military operations ... &quot;the locations of bunkers&quot; ... rather than seeing with clarity that the Stargate television show is exactly this thing--information being injected from the Heavens to help us move past this idea that &quot;hiding the means&quot; doesn&#39;t corrupt the purpose.<br />
<br />
<meta charset="utf-8" />
<div align="center"><a href=".it.ly/2wfCfeh"><img alt="EARTH." border="0" height="302" sr./i.imgur.com/8VvZUgp.png" width="400" /></a></div>
<br />
Without knowledge and understanding of this technology, it&#39;s very possible we&#39;d be running around like chickens with our heads cut off; in the place where that&#39;s the most dangerous thing that could happen--the place where we can&#39;t ensure there&#39;s safety and we can&#39;t ensure there&#39;s help ... and most of all we&#39;d be doing it at a time when all we knew of these technologies was heinous usage; with no idea the wonders and the goodness that this thing that is most assuredly not a gun or a sword ... but a tool; no idea the great things that we could be doing instead of hiding that we just don&#39;t care.&nbsp;<br />
<br />
We&#39;re being scared here for a reason, it&#39;s not just to see &quot;<i>Salem</i>&quot; in Jerusalem and &quot;sale price&quot; being attached to air and water; it&#39;s to see that we&#39;re going to be in a very important position, we already are--really--and that we need knowledge and patience and training and ... well, we need a desire to do the right thing; lest all will fall.<br />
<br />
So, you want to go to reality... but you think you&#39;ll get there without seeing &quot;round&quot; in &quot;ground&quot; and ... caring that there&#39;s tens of thousands of people that are sure that we live on flat Earth ... or that there&#39;s ghosts haunting good people, and your societal response is to pretend you don&#39;t know anything about ghosts, and to let the pharmacy prescribe harm ... effectively completing the sacrifice of the Temple of Doom; I assume because you want to go to a place where you too will be able to torment the young with &quot;baby arcade&quot; or ...</div>
</div>
</div>

<blockquote><i>i suppose there are those</i><br />
in the garden east of eden<br />
<i>who&#39;ll follow the rose<br />
ignoring</i> the<i> toxicity of our city</i><br />
<i>and touch your nose<br />
as you continue chasing rabbits</i></blockquote>
<br />
<a href=".it.ly/2oa7FOJ"><i><meta charset="utf-8" /> <img alt="KEVORKIAN? TO
C YO, AD ... ARE I NIBIRU?" border="0" height="196" sr./i.imgur.com/MlqXTHU.png" width="650" /></i></a><br />
<br />
<i><meta charset="utf-8" /> <a href=".it.ly/2waul5I" style="text-decoration: underline; color: rgb(65, 131,
196);
font-family: &quot;Open Sans&quot;, sans-serif;
font-size:
16px; font-style: normal; font-variant-ligatures:
normal;
font-variant-caps: normal; font-weight: 400;
letter-spacing:
normal; orphans: 2; text-align: center; text-indent:
0px;
text-transform: none; white-space: normal; widows: 2;
word-spacing: 0px; -webkit-text-stroke-width: 0px;
"><img alt="" border="0" height="75" id="BLOGGER_PHOTO_ID_6445640471877608898" sr./i.imgur.com/UrpacvP.png" style="max-width: 100%;" width="398" /></a></i><br />
<br />
<a href=".it.ly/2wauiXA"><img alt="BUCK IS
WISER" border="0" height="284" sr./i.imgur.com/REStHoX.png" width="400" /></a>

<blockquote>
<div align="justify"><span class="text Num-20-22" style="box-sizing: border-box;
-webkit-font-smoothing:
antialiased; color: rgb(0, 0, 0); font-family:
&quot;Helvetica Neue&quot;, Verdana, Helvetica,
Arial,
sans-serif; font-size: 16px; font-style: normal;
font-variant-ligatures: normal; font-variant-caps:
normal;
font-weight: 400; letter-spacing: normal; orphans:
2;
text-align: start; text-indent: 0px; text-transform:
none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px;
text-decoration-color: initial;"><sup class="versenum" style="box-sizing: border-box;
font-size: 12px;
line-height: 22px; position: relative;
vertical-align:
top; top: 0px; font-family: Arial; font-weight:
bold;">22&nbsp;</sup>The whole Israelite community set out from Kadesh<span>&nbsp;</span>and came to Mount Hor.</span><span style="color: rgb(0, 0,
0);
font-family: &quot;Helvetica Neue&quot;, Verdana,
Helvetica,
Arial, sans-serif; font-size: 16px; font-style:
normal;
font-variant-ligatures: normal; font-variant-caps:
normal;
font-weight: 400; letter-spacing: normal; orphans:
2;
text-align: start; text-indent: 0px; text-transform:
none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px;
text-decoration-color: initial; display: inline
!important;
float: none;"><span>&nbsp;</span></span><span class="text Num-20-23" id="en-NIV-4335" style="box-sizing:
border-box; -webkit-font-smoothing: antialiased;
color:
rgb(0, 0, 0); font-family: &quot;Helvetica
Neue&quot;,
Verdana, Helvetica, Arial, sans-serif; font-size:
16px;
font-style: normal; font-variant-ligatures: normal;
font-variant-caps: normal; font-weight: 400;
letter-spacing:
normal; orphans: 2; text-align: start; text-indent:
0px;
text-transform: none; white-space: normal; widows:
2;
word-spacing: 0px; -webkit-text-stroke-width: 0px;
text-decoration-color: initial;"><sup class="versenum" style="box-sizing: border-box;
font-size:
12px; line-height: 22px; position: relative;
vertical-align: top; top: 0px; font-family: Arial;
font-weight: bold;">23&nbsp;</sup>At Mount Hor, near the border of Edom,<span>&nbsp;</span>the<span>&nbsp;</span><span class="small-caps" style="box-sizing: border-box;
-webkit-font-smoothing: antialiased; font-variant:
small-caps;">Lord</span><span>&nbsp;</span>said to Moses and Aaron,</span><span style="color: rgb(0, 0, 0);
font-family: &quot;Helvetica Neue&quot;, Verdana,
Helvetica,
Arial, sans-serif; font-size: 16px; font-style:
normal;
font-variant-ligatures: normal; font-variant-caps:
normal;
font-weight: 400; letter-spacing: normal; orphans:
2;
text-align: start; text-indent: 0px; text-transform:
none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px;
text-decoration-color: initial; display: inline
!important;
float: none;"><span>&nbsp;</span></span><span class="text Num-20-24" id="en-NIV-4336" style="box-sizing:
border-box; -webkit-font-smoothing: antialiased;
color:
rgb(0, 0, 0); font-family: &quot;Helvetica
Neue&quot;,
Verdana, Helvetica, Arial, sans-serif; font-size:
16px;
font-style: normal; font-variant-ligatures: normal;
font-variant-caps: normal; font-weight: 400;
letter-spacing:
normal; orphans: 2; text-align: start; text-indent:
0px;
text-transform: none; white-space: normal; widows:
2;
word-spacing: 0px; -webkit-text-stroke-width: 0px;
text-decoration-color: initial;"><sup class="versenum" style="box-sizing: border-box;
font-size:
12px; line-height: 22px; position: relative;
vertical-align: top; top: 0px; font-family: Arial;
font-weight: bold;">24&nbsp;</sup>&ldquo;Aaron will be gathered to his people.<span>&nbsp;</span>He will not enter the land I give the Israelites, because both of you rebelled against my command<span>&nbsp;</span>at the waters of Meribah.</span><span style="color: rgb(0, 0, 0);
font-family: &quot;Helvetica
Neue&quot;, Verdana, Helvetica, Arial, sans-serif;
font-size: 16px; font-style: normal;
font-variant-ligatures:
normal; font-variant-caps: normal; font-weight: 400;
letter-spacing: normal; orphans: 2; text-align:
start;
text-indent: 0px; text-transform: none; white-space:
normal;
widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px;
text-decoration-style: initial;
text-decoration-color:
initial; display: inline !important; float: none;"><span>&nbsp;</span></span><span class="text Num-20-25" id="en-NIV-4337" style="box-sizing:
border-box; -webkit-font-smoothing: antialiased;
color:
rgb(0, 0, 0); font-family: &quot;Helvetica
Neue&quot;,
Verdana, Helvetica, Arial, sans-serif; font-size:
16px;
font-style: normal; font-variant-ligatures: normal;
font-variant-caps: normal; font-weight: 400;
letter-spacing:
normal; orphans: 2; text-align: start; text-indent:
0px;
text-transform: none; white-space: normal; widows:
2;
word-spacing: 0px; -webkit-text-stroke-width: 0px;
text-decoration-style:
initial; text-decoration-color: initial;"><sup class="versenum" style="box-sizing: border-box;
font-size:
12px; line-height: 22px; position: relative;
vertical-align: top; top: 0px; font-family: Arial;
font-weight: bold;">25&nbsp;</sup>Get Aaron and his son Eleazar and take them up Mount Hor.</span><span style="color: rgb(0, 0, 0); font-family:
&quot;Helvetica
Neue&quot;, Verdana, Helvetica, Arial, sans-serif;
font-size: 16px; font-style: normal;
font-variant-ligatures:
normal; font-variant-caps: normal; font-weight: 400;
letter-spacing: normal; orphans: 2; text-align:
start;
text-indent: 0px; text-transform: none; white-space:
normal;
widows: 2; word-spacing: 0px;
-webkit-text-stroke-width:
0px; text-decoration-style: initial;
text-decoration-color:
initial; display: inline !important; float: none;"><span>&nbsp;</span></span><span class="text Num-20-26" id="en-NIV-4338" style="box-sizing:
border-box; -webkit-font-smoothing: antialiased;
color:
rgb(0, 0, 0); font-family: &quot;Helvetica
Neue&quot;,
Verdana, Helvetica, Arial, sans-serif; font-size:
16px;
font-style: normal; font-variant-ligatures: normal;
font-variant-caps: normal; font-weight: 400;
letter-spacing:
normal; orphans: 2; text-align: start; text-indent:
0px;
text-transform: none; white-space: normal; widows:
2;
word-spacing: 0px; -webkit-text-stroke-width: 0px;
text-decoration-style:
initial; text-decoration-color: initial;"><sup class="versenum" style="box-sizing: border-box;
font-size:
12px; line-height: 22px; position: relative;
vertical-align: top; top: 0px; font-family: Arial;
font-weight: bold;">26&nbsp;</sup>Remove Aaron&rsquo;s garments<span>&nbsp;</span>and put them on his son Eleazar, for Aaron will be gathered to his people;<span>&nbsp;</span>he will die there.&rdquo;</span></div>
</blockquote>
<a href=".it.ly/2w7MhOD"><img sr./i.imgur.com/GpverJf.png" width="400" /></a><br />
&nbsp;
<div align="center"><a href=".it.ly/2weA1M5"><img alt="O 5 S" border="0" height="164" sr./i.imgur.com/brNvTKv.png" width="337" /></a><br />
&nbsp;</div>
</center>

<div align="center">
<center><i>if it isn&#39;t immediately obvious, this line appears to be about the realiztion of the Bhagavad-Gita (and the &quot;</i><a href=".it.ly/2obqd1g">pen</a><i>&quot; of the Original Poster/Gangster right?)&nbsp;</i></center>

<p><br />
<i><span style="font-size: 20px;">... swinging &quot;the war&quot;</span></i></p>

<p>&nbsp;</p>
</div>

<p align="center"><a href=".it.ly/2wfCdTH"><img sr./i.imgur.com/y4qgKSd.png" width="300" /></a></p>

<p align="center"><a href=".it.ly/2wfFVwu"><img alt="" sr./i.imgur.com/D4mYlYn.png" style="width: 500px; height: 262px;" /></a></p>

<p align="center"><a href=".otate.s.lamc.la"><img sr./i.imgur.com/B9rHjqh.png" style="width: 500px; height: 239px;" /></a></p>

<p align="center">&nbsp;</p>

<p align="center"><span style="font-size:20px;">p.s. ... <strong><em>I&#39;m 37.</em></strong></span></p>

<p align="center"><a href=".it.ly/2o7o2LY"><img alt="" sr./i.imgur.com/FbZWPh3.png" style="width: 250px; height: 126px;" /></a></p>
</div>
</div>
</div>
</div>

