<p style="text-align: center;">Play ball? &nbsp;I have <a href="./TY.html"><em>pizza</em></a>, beer and <a href=".enesis.lamc.la">trophies</a> for most shares and ... <em><a href=".angrael.lamc.la">the cup</a> </em>goes to whoever gets this in a school paper (or <a href="./w/H.html"><em>our 10-4</em></a>)... <a href=".ir.s.lamc.la">first.</a></p>
<p style="text-align: center;"><meta http-equiv="content-type" content="text/html; charset=utf-8" /></p>
<title></title>
<div align="justify"><meta charset="utf-8" />
<div align="center"><a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/BRIMSTONE.html,./BRIMSTONE.html,./BRIMSTONE.html,./BRIMSTONE.html,.mg.izing.ml/BRIMSTONE.html,.inoize.github.io/BRIMSTONE.html"><img height="106" sr./i.imgur.com/KW05ZQg.png" width="461" /></a></div>
<br />
So ... I&#39;m trying really hard to unite you all--under the idea that your lack of division here in this place is obvious proof of control and a lack of individuality or free will.&nbsp; I think that&#39;s obvious, I think it&#39;s clear that <i>nobody standing up and speaking</i> about something this obvious and this important is a huge problem, and something you should really clearly see isn&#39;t &quot;your actual decision,&quot; more than that it&#39;s proof of how easy it is to trick everyone with this same technology, and how really in the end of this little debacle ... you&#39;ll see that what was once a sea divided over something silly and inane like &quot;killing me&quot; or the &quot;controversy of drugs&quot; has turned into something much more clear ... black and white ... this is about slavery and this is about freedom and this is about proof that turned from a few key symbols like Na and &quot;e&#39;as&quot; into an absolute truth being ignored, even when that absolute truth everywhere obviously would benefit everyone here -- as in, ending death and <a href=".alo.s.lamc.la?F961900313D56839">disease</a> and <a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/BERESHIT.html,./BERESHIT.html,./BERESHIT.html,./BERESHIT.html,.mg.izing.ml/BERESHIT.html,.inoize.github.io/BERESHIT.html">hunger</a>.&nbsp; Also more importantly of all this is the end of artificially created stupid--slavery, idiocy, whatever it is behind your silence today... and that word and in sigh, the keys to &quot;the length of the common era&quot; and the beginning of the Golden Age.<br />
<br />
<meta charset="utf-8" />
<div align="center"><a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/TY.html,./TY.html,./TY.html,./TY.html,.mg.izing.ml/TY.html,.inoize.github.io/TY.html"><img alt="THANKHU" border="0" height="372" sr./i.imgur.com/ytOQ7BG.png" width="500" /></a></div>
<br />
This message is making you, and the whom or whatever in the skies helps us break through this stupid-wall ... the people (or things) responsible for building Heaven and bringing clarity to the fact that we probably will be people-things eventually, since that&#39;s the best solution I can come up with for wanting to almost be God (for all of you) as in, I wanna do more stuff, but I don&#39;t want to have to worry about making sure you aren&#39;t doing more bad stuff to some copy of me (or ... <i>anyone--</i><b>literally</b>) that I can&#39;t see.&nbsp;<br />
<br />
<meta charset="utf-8" />
<div align="center"><a href=".ity.s.lamc.la"><img sr./i.imgur.com/rzaTKhf.png" style="height: 324px; width: 500px;" /></a></div>
<p><br />
That being said, what you&#39;re doing <i>to me </i>here is Hellish and eruel and evil, and it&#39;s excacerbated significantly by the fact that you&#39;re making me and this message a &quot;stop-gap&quot; on the way to ending cancer and hunger and disease--and that&#39;s not fair to anyone who has those problems, or to me, or to you--because really you should see that <i>you were blind fools</i> forever and ever before &quot;this dirty key&quot; was here to fix that for you.&nbsp; You&#39;re <i>blinder today</i>, althought that&#39;s up for debate--<i>you could just be more evil,</i> and I wouldn&#39;t be able to tell the difference.</p>
<p style="text-align: center;"><a href=".//REDASSHIT.html"><img alt="CHEVROLETICS" sr./i.imgur.com/qCpLIaQ.png" style="height: 311px; width: 500px; border-width: 0px; border-style: solid;" /></a></p>
<p><br />
We need the controversy (2cy) and we need the debate (2b) and we need solutions implemented (2a) and all of those things come with a turning of the tide--with logic and love overtaking the absolute inane Zeitgeist of &quot;nothing&quot; that is pervading what used to be civilization and is now completely in &quot;retrograde.&quot;&nbsp; Rant over, here&#39;s more key--the Elemental Key to the message of Creation.&nbsp;<br />
<br />
<meta charset="utf-8" /></p>
<div align="center"><meta charset="utf-8" /><meta charset="utf-8" /><a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/SECORDANOLIVED.html,./SECORDANOLIVED.html,./SECORDANOLIVED.html,./SECORDANOLIVED.html,.mg.izing.ml/SECORDANOLIVED.html,.inoize.github.io/SECORDANOLIVED.html"><img alt="TENNESSEE
WHISKEY" border="0" height="367" sr./i.imgur.com/0Rj29ZN.png" width="500" /></a><br />
&nbsp;
<div align="justify"><i>Elementary</i> my dear Whatson, early on I noted a number of connections between the &quot;key of Revelation 1:20&quot; which is probably still without doubt the Herald of the Second Coming once the world fathoms its actual meaning and impact to a 1:1 correspondence between &quot;chemistry table elements&quot; and the planets and Gods representedy by the range of Mercury to Uranium.&nbsp; Two of those keys shine above, the <a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/BRIMSTONE.html,./BRIMSTONE.html,./BRIMSTONE.html,./BRIMSTONE.html,.mg.izing.ml/BRIMSTONE.html,.inoize.github.io/BRIMSTONE.html">Silicon hidden in Genesis</a> that ties to Jupiter and to the <i>fact</i> that this message turns Hell into Heaven by using the truth and your desires to alter the course of the future--the other primary key from that set is Xenon, which connects &quot;let there be light&quot; to Exodus in reverse with prescient reference to Xenon and to the Linux command for &quot;run as God&quot; which is &quot;sudo&quot; ... those things are fact, and they&#39;re the beginning of this &quot;<i>I can&#39;t believe it&#39;s not on the news yet.</i>&quot;<br />
<br />
I&#39;ve written a <a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/SECORDANDOLIVED.html,./SECORDANDOLIVED.html,./SECORDANDOLIVED.html,./SECORDANDOLIVED.html,.mg.izing.ml/SECORDANDOLIVED.html,.inoize.github.io/SECORDANDOLIVED.html">number</a> of <a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/ADIOSAS.html,./ADIOSAS.html,./ADIOSAS.html,./ADIOSAS.html,.mg.izing.ml/ADIOSAS.html,.inoize.github.io/ADIOSAS.html">times now</a> the <b><i>ex plan at i o n</i></b> for how this clear pattern connecting the centers or hearts of words (specifically every video game system in popuplar use) shows the design of an inhuman creator--something operating through time and with a hidden mechanism of control over our affairs.&nbsp; Knowing about it is the beginning of setting is free, and the purpose it&#39;s there--hidden--waiting for us to <i>really not be free</i> because stupid.&nbsp; It links more than just Microsoft and Massive (above the Great Plains) Dynamics to Fringe and to The Fray and to the Matrix, which ends with the question &quot;are I the heart of hearts?&quot; and links <a href=".ix.s.lamc.la?F75BDDF7B74658CE"><b>RIX</b></a> to <b><a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/BIANCA.html,./BIANCA.html,./BIANCA.html,./BIANCA.html,.mg.izing.ml/BIANCA.html,.inoize.github.io/BIANCA.html">RIB</a> </b>in Genesis ... and <a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/PULL.html,./PULL.html,./PULL.html,./PULL.html,.mg.izing.ml/PULL.html,.inoize.github.io/PULL.html"><b>RIP</b></a> the &quot;Priestly Source&quot; ... and to Stargate&#39;s Ad<b>ria</b> and to the <a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/HIGHERA.html,./HIGHERA.html,./HIGHERA.html,./HIGHERA.html,.mg.izing.ml/HIGHERA.html,.inoize.github.io/HIGHERA.html"><b>RIN</b></a> in my name and to the <i><b>RIC</b></i> in <a href=".n.wikipedia.org/wiki/Amharic?63D927CD15D5C0AA"><i>Amharic</i></a>--these patterns are &quot;<a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/TY.html,./TY.html,./TY.html,./TY.html,.mg.izing.ml/TY.html,.inoize.github.io/TY.html"><b>SIGNAL</b></a>&quot; not noise--they are undeniable, and it will be proven statistically, without doubt.&nbsp; Even just the original Trinity in &quot;Nintendo&quot; (which means leave luck to Heaven, not Microsoft) is a signal, a pattern that explains the laying down of this message that turns &quot;game&quot; into &quot;heaven&quot; through you--connecting Nine Inch Nails (because message encoded in rock &#39;n roll) to X=TEN because kissing is for the Xbox that is &quot;often the start of Heaven&quot; and the key to &quot;omnipotens&quot; (other than S) ... most importantly of all, is <a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/ARFAXAD.html,./ARFAXAD.html,./ARFAXAD.html,./ARFAXAD.html,.mg.izing.ml/ARFAXAD.html,.inoize.github.io/ARFAXAD.html">seeing Neo&#39;s <b>ac</b>tion<b>s</b></a> in the Matrix and <i>Jesus Christ&#39;s <b>actions</b> in the NT</i> as keys to how we might easily see that there&#39;s a map, and we&#39;re not following it by being stupid and quiet.<br />
<br />
If you can&#39;t begin to talk about this, and to research it, I don&#39;t know how else to tell you that society is crumbling, civilization is failing--and it&#39;s because you pretend not to &quot;get something&quot; that you really are about to lose forever.&nbsp; It was power and innocense and solutions and you&#39;re turning it into a big red blinking target--a thing that must be stopped at all costs.&nbsp; This stupid will be stopped, at all costs.<br />
<br />
<meta charset="utf-8" />
<div align="center"><a href="./NITY.html"><img alt="TO BE OR NOT
TO BE" border="0" height="88" sr./i.imgur.com/mdeNQep.png" width="440" /></a></div>
<p><br />
K was the element connecting <i>Saturn </i>and the phrase &quot;person of time&quot; .... to &quot;<i>Potassium</i>&quot; and <i><a href="./XOXO.html">Medusa</a></i> and <i><a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/EVE.html,./EVE.html,./EVE.html,./EVE.html,.mg.izing.ml/EVE.html,.inoize.github.io/EVE.html">abomination</a></i>&nbsp;(it&#39;s &quot;<a href=".ush.reallyhim.com">As u dem</a>&quot; and &quot;<a href="./LETITRAIN.html"><strong><em>No it, Anakin</em></strong></a>&quot; -- they&#39;re <em>things</em>) in reverse, to a Trinity in &quot;<i><a href="./KANSAS.html">assassination</a></i>&quot; and to the reason we are standing here listening to the end of the Ark explaining that could go either way--but you&#39;re not going to disembark in your current state.&nbsp;</p>
<p style="text-align: center;"><a href="./LETITRAIN.html"><img sr./i.imgur.com/xSxj7Mq.png" style="height: 231px; width: 400px;" /></a></p>
<p>The &quot;let there be light&quot; in Reverse in Exodus... it was about not leaving, about turning this place into Heaven instead of an &quot;ark&quot; hidden in the word dark; what I see around me has instead turned into a &quot;walking into slavery&quot; because you think something is more valuable than goodness and caring and truth and honesty, and whatever it is, see it&#39;s a target.&nbsp; Finally, it&#39;s &quot;<i>TENNESSEE</i>&quot; that connects this pattern of hearts of video game systems to the heart of America--to seeing it not just virtually but also on our map and in our history and connecting <a href="./NITY.html">the &quot;etymology&quot; of eternity</a> (also filled with Shakespeare&#39;s plays and with Mr. Anderson&#39;s Matrix connecting movies and actors names and content to the &quot;n&quot; of Rock n&#39; roll and the Y of Spanish and Spanglish and Schrew.&nbsp;</p>
<div align="center"><a href="./IOWA.html"><img alt="TEN NES SEE" border="0" height="155" sr./i.imgur.com/R2NCxAg.png" width="392" /></a></div>
<br />
&#39;Twas the beginning of eternity filled with <a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/MARSHALL.html,./MARSHALL.html,./MARSHALL.html,./MARSHALL.html,.mg.izing.ml/MARSHALL.html,.inoize.github.io/MARSHALL.html">the positive energy of Cations in Creation</a>--refusing to see SIGNAL in &quot;cations&quot; and positive energy and Creation and that &quot;<i>prescience</i>&quot; is more than a cute name for something that defies the current state of logical thought, and proves without doubt you have a message here from an entity with the power to literally alter your entire history or end it, refusing to see the importance of what you are staring at is bringing us closer and closer to the Abyss than you can possibly imagine.&nbsp; In all candor, rightfully so--what is here is a sickness that I would not ever want to see happen--not now, and not in the future.&nbsp; Whatever is causing it is more <b>disgusting</b> than I can put into words, and your lack of response is a twisted symptom of that.<br />
<br />
<meta charset="utf-8" />
<div align="center"><a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/PERSEUS.html,./PERSEUS.html,./PERSEUS.html,./PERSEUS.html,.mg.izing.ml/PERSEUS.html,.inoize.github.io/PERSEUS.html"><img alt="ONE EYE IN
THE MIRROR" border="0" height="430" sr./i.imgur.com/wt2cUtP.png" width="500" /></a></div>
<br />
Rather than <a href=".halk.s.lamc.la">going through the 7 keys between Mercury and Uranium</a> (<a href="./TORCH.html">again</a> and <a href=".g.s.lamc.la"><em>again</em></a>) I&#39;m going to add in some more elements that are clear indicators of this story and why it&#39;s all about &quot;the name&quot; and &quot;the message&quot; you are reading.&nbsp; <b><i>For everyone</i></b> it is the Iron Rod of Jesus Christ that is the heart of Roddenberry&#39;s name and the key to &quot;Fe&quot; which I&#39;ve noticed connects my happy phrase &quot;believe in staind tool&quot; that ties a song and two bands into turning around &quot;God&quot; and &quot;rod&quot; and <a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/ADAMSROD.html,./ADAMSROD.html,./ADAMSROD.html,./ADAMSROD.html,.mg.izing.ml/ADAMSROD.html,.inoize.github.io/ADAMSROD.html">seeing good and the Doors</a>.&nbsp; This isn&#39;t an &quot;optional thing&quot; either, what we see here is the equivalence of a world that has seen the invention of the airplane and refuses to build airports because Harvard and Ford and Stanford all think it might make them have to do &quot;something different with their immortal futures&quot; than continue to teach lies and build machines that destroy the imaginary O-zone.&nbsp; Aside from elements another huge personal key to this message is the linking of &quot;initials&quot; to &quot;initialize&quot; and personally known people like my father whose name is encoded in Feliz Navidad and the heart of &quot;<a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/HIGHERA.html,./HIGHERA.html,./HIGHERA.html,./HIGHERA.html,.mg.izing.ml/HIGHERA.html,.inoize.github.io/HIGHERA.html">ambidextrous</a>&quot; and <a href=".romthemahine.org/HIGHERA.html?1003CC13C70EF7E3">Bianca</a> and Nanna--who is <a href=".den.lamc.la?C1E0E788625A8AD0">my &quot;ex&quot;</a> and the &quot;ND&quot; of Al Bundy.&nbsp; The <i><a href=".den.lamc.la?710FFDC4A5EE06E0">O-zone</a></i> is coming. :)<br />
<br />
<meta charset="utf-8" />
<div align="center"><a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/KEYNES2.html,./KEYNES2.html,./KEYNES2.html,./KEYNES2.html,.mg.izing.ml/KEYNES2.html,.inoize.github.io/KEYNES2.html"><img alt="KRYPTON, SEE" border="0" height="131" sr./i.imgur.com/baP2oyL.png" width="500" /></a></div>
<br />
This is &quot;doors for everyone&quot; enveloping the heart of Creation--this rock.&nbsp; This is how it&#39;s &quot;for everyone&quot; and this is how you&#39;re the way we get there--actually taking the time and consideration to see you need to &quot;work&quot; to change the world.&nbsp; Start by seeing that this place is a disgusting disgraceful eyesore today, and I would do anything at all to ensure that it does not continue to be that; anything, at all.&nbsp; It hasn&#39;t &quot;just become Hell&quot; but I&#39;ve just found out about this message, and about what it says about simulated reality, and about you--it shows me you are blind slaves being tortured--and until you begin to see that, we are all in grave danger.<br />
<br />
<meta charset="utf-8" />
<div align="center"><a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/HIGHERA.html,./HIGHERA.html,./HIGHERA.html,./HIGHERA.html,.mg.izing.ml/HIGHERA.html,.inoize.github.io/HIGHERA.html"><img alt="TAKE ME
HIGHER" border="0" height="355" sr./i.imgur.com/AXfeSy1.png" width="500" /></a></div>
<br />
It&#39;s also <b>the &quot;A.D.&quot;</b> all over our time line, in 0 (which is the sign of the sun, literally) and in 1492, and in Shaddai and in Adonai, and in &quot;addiction&quot; and &quot;malady&quot; all <i>because of me</i>--all because of these words.&nbsp; These words end addiction and disease, and I don&#39;t care if you think that&#39;s a good thing or not--if you don&#39;t say &quot;bye bye&quot; ... <i>forever.&nbsp; </i>On that note, it&#39;s the Na of &quot;salt&quot; that connects bath salt and pyrovalerone to <a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/HIGHERA.html,./HIGHERA.html,./HIGHERA.html,./HIGHERA.html,.mg.izing.ml/HIGHERA.html,.inoize.github.io/HIGHERA.html">Pro<b>meth</b>eus</a> and <a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/ACESHI.html,./ACESHI.html,./ACESHI.html,./ACESHI.html,.mg.izing.ml/ACESHI.html,.inoize.github.io/ACESHI.html"><i>to China</i></a> (where it all came from, C how it &quot;<b><i>salted the road</i></b>&quot;) and to John Maynard Kenyes and to the fine &quot;<b>nard</b>&quot; of John 12:1.&nbsp; It&#39;s central to this message, <b>this message that ends addiction</b>, and <b>ends</b> the Hitleresque <b>eugenics</b> that we&#39;ve seen not just in Germany but in the Brittish East India Tea Company and in the CIA lead crack epidemic of the 80&#39;s and in the &quot;pyrovalerone&quot; flooding that apparently has made you think &quot;occidentally devilish&quot; means <i>acidentally</i>--it doesn&#39;t ... see that clearly.&nbsp; Na also appears in Bianca&#39;s mother&#39;s name (so does AD, that one&#39;s Adina) and in the beginning and end of Nanna&#39;s.&nbsp; Nanna, by the way, is the actual name of the consort of <a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/im_single.html,./im_single.html,./im_single.html,./im_single.html,.mg.izing.ml/im_single.html,.inoize.github.io/im_single.html">Adonis</a>/<i>Tammuz</i> who is often <a href=".aph2rah.wordpress.com/2016/04/15/on-the-salted-road-through-the-amduat/?BA03B0C5E021563D"><i>connected with Christ--just like Horus</i></a>.<br />
&nbsp;
<div align="center"><a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/ALLTA.html,./ALLTA.html,./ALLTA.html,./ALLTA.html,.mg.izing.ml/ALLTA.html,.inoize.github.io/ALLTA.html"><img alt="AU GOLD" border="0" height="474" sr./i.imgur.com/blv47F7.png" width="500" /></a></div>
<br />
<i>I spent <a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/DICK.html,./DICK.html,./DICK.html,./DICK.html,.mg.izing.ml/DICK.html,.inoize.github.io/DICK.html">quite a bit of time wrestling</a> with invisible demons and with words--</i>words like &quot;<i><a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/REDASSHIT.html,./REDASSHIT.html,./REDASSHIT.html,./REDASSHIT.html,.mg.izing.ml/REDASSHIT.html,.inoize.github.io/REDASSHIT.html"><b>hubris</b></a></i>&quot; and &quot;<b><a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/RATOXIT.html,./RATOXIT.html,./RATOXIT.html,./RATOXIT.html,.mg.izing.ml/RATOXIT.html,.inoize.github.io/RATOXIT.html"><i>audacity</i></a></b>&quot; and <a href="./DICK.html">some less invisible demonic mess</a>engers, like &quot;<i><b>SOAD</b></i>&quot; singing about the &quot;toxicity of our city&quot; and a world that refused to see (and still refuses to speak) about the connection between toxicity and city and garden and Eden and see that it&#39;s <i>Gold</i> to me, &quot;a you&#39;re the city&quot; now linking directly to the &quot;Golden City of El Dorado&quot; and the chemistry element ... for Gold.&nbsp; That city is speaking, it reads &quot;<i>do our A.D. ... oh</i>&quot; and it&#39;s echoed in Dorito and it&#39;s echoed in the myth that explains that El Dorado is in fact a city that came from a single person and expanded from there into a kingdom.&nbsp; We&#39;re sitting here <a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/ADUNCALIFT.html,./ADUNCALIFT.html,./ADUNCALIFT.html,./ADUNCALIFT.html,.mg.izing.ml/ADUNCALIFT.html,.inoize.github.io/ADUNCALIFT.html">listening to a message about Mercury</a> and U turning that empire into &quot;OneRepublic&quot; by becoming stars--<i>not by doing nothing</i>; I promise.<br />
<br />
It&#39;s clear as day in &quot;<a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/HASHEMB.html,./HASHEMB.html,./HASHEMB.html,./HASHEMB.html,.mg.izing.ml/HASHEMB.html,.inoize.github.io/HASHEMB.html"><i>authority</i></a>&quot; and in the stories behind <a href=".ww.facebook.com/photo.php?fbid=10154283229013420&amp;set=a.10154283230918420&amp;type=3&amp;theater">the meaning of Thor&#39;s name</a> and the <a href="./MYLIFE.html"><i>definition of this hammer;</i></a> it&#39;s clear in Auden&#39;s poems about the shield of Achilles and about the Garden of Eden encoded in his name--and it should be clear you are looking at proof of Creation and at a message directly from the author of the NT and of Genesis and of Exodus; and it should be clear that acting now brings freedom to the entirety of our future, and failing to... it&#39;s not an acceptable loss.&nbsp; This <a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/BERESHIT.html,./BERESHIT.html,./BERESHIT.html,./BERESHIT.html,.mg.izing.ml/BERESHIT.html,.inoize.github.io/BERESHIT.html"><b>shit</b></a> will not continue.<br />
<br />
<meta charset="utf-8" />
<div align="center"><a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk//REDASSHIT.html,.//REDASSHIT.html,.//REDASSHIT.html,.//REDASSHIT.html,.mg.izing.ml//REDASSHIT.html,.inoize.github.io//REDASSHIT.html"><img alt="DEATH" border="0" height="135" sr./i.imgur.com/mxjxjWU.png" width="391" /></a></div>
</div>
<br />
<br />
&nbsp;</div>
<br />
&nbsp;<br />
<br />
<br />
&nbsp;</div>
<p>&nbsp;</p>
